<BlogAuthorEdit @author={{args.author}} @isEditing={{args.isEditing}} @saveAction={{args.saveAction}} @deleteAction={{args.deleteAction}} />

<h1>{{args.author.name}}</h1>

Posts by {{args.author.name}}:
<ul>
  {{#each args.author.posts as |post|}}
    <LinkTo @route="posts.post" @model={{post}}>
      <li>{{post.title}}</li>
    </LinkTo>
  {{/each}}
</ul>
