{{#if this.isEditing}}
  <p><button {{on "click" this.doneEditing}}>Done</button></p>
  <p><Input @type="text" @value={{this.args.author.name}} placeholder="Author name" class="form-control" /></p>

  <p><button {{on "click" @deleteAuthor}}>Delete</button></p>
{{else}}
  <p><button {{on "click" this.edit}}>Edit</button></p>
{{/if}}
