<BlogPostEdit @post={{@post}} @authors={{@authors}} @isEditing={{@isEditing}} @savePost={{@savePost}} @deletePost={{@deletePost}} />

<h1>{{@post.title}}</h1>
<h2>by {{@post.author.name}} <small class="muted">({{format-date @post.date}})</small></h2>

<hr>

<div class="intro">
  {{format-markdown @post.excerpt}}
</div>

<div class="below-the-fold">
  <table class="table">
    <thead>
      <tr><th colspan="2">Recent Messages</th></tr>
    </thead>
    <tbody>
      {{#each @post.body as |message|}}
        <tr>
          <td><span class="{{message.type}}" style="{{message.csscolor}}">{{message.author}}</span></td><td>{{message.body}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
