<BlogAuthorEdit @author={{this.args.author}} @isEditing={{this.args.isEditing}} @saveAuthor={{this.args.saveAuthor}} @deleteAuthor={{this.args.deleteAuthor}} />

<h1>{{this.args.author.name}}</h1>

Posts by {{this.args.author.name}}:
<ul>
  {{#each this.args.author.posts as |post|}}
    <LinkTo @route="posts.post" @model={{post}}>
      <li>{{post.title}}</li>
    </LinkTo>
  {{/each}}
</ul>
