{{#if isEditing}}
  <p><button {{action "doneEditing"}}>Done</button></p>
  <p><Input @type="text" @value={{args.post.title}} class="form-control" placeholder="Post title" /></p>
  <p><PowerSelectBlockless @options={{args.authors}} @selected={{args.post.author}} @onchange={{action (mut args.post.author)}} @labelPath="name" @placeholder="Post author" /></p>
  <p><Input @type="text" @value={{args.post.excerpt}} class="form-control" placeholder="Post exercept" /></p>
  <p><MarkdownEditor @value={{args.post.body}} @placeholder="Post content" @rows="5" /></p>

  <p><button {{action "deletePost" class="btn btn-default"}}>Delete</button></p>
{{else}}
  <p><button {{action "edit"}}>Edit</button></p>
{{/if}}
