<div class="container-fluid">
  <div class="row">
    {{!-- author listing --}}
    <div class="col-xs-5">
      <button {{on "click" @createAuthor}}>Create</button>
      <table class="table">
        <thead>
          <tr>
            <th>Authors</th>
          </tr>
        </thead>
        <tbody>
          {{#each this.pagedContent as |author|}}
            <tr>
              <td>
                <LinkTo @route="authors.author" @model={{author}}>
                  &bull; {{author.name}}
                </LinkTo>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      <PageNumbers @content={{this.pagedContent}} />
    </div>

    {{!-- author content --}}
    <div class="col-xs-7">
      {{yield}}
    </div>
  </div>
</div>
