<BlogAuthorEdit @author={{this.args.author}} @isEditing={{this.args.isEditing}} @saveAction={{this.args.saveAction}} @deleteAction={{this.args.deleteAction}} />

<h1>{{this.args.author.name}}</h1>

Posts by {{this.args.author.name}}:
<ul>
  {{#each this.args.author.posts as |post|}}
    <LinkTo @route="posts.post" @model={{post}}>
      <li>{{post.title}}</li>
    </LinkTo>
  {{/each}}
</ul>
