<BlogPostEdit @post={{@post}} @authors={{@authors}} @isEditing={{@isEditing}} @savePost={{@savePost}} @deletePost={{@deletePost}} />

<h1>{{@post.title}}</h1>
<h2>by {{@post.author.name}} <small class="muted">({{format-date @post.date}})</small></h2>

<hr>

<div class="intro">
  {{format-markdown @post.excerpt}}
</div>

<div class="below-the-fold">
  {{format-markdown @post.body}}
</div>
