<BlogAuthorEdit @author={{@author}} @isEditing={{@isEditing}} @saveAuthor={{@saveAuthor}} @deleteAuthor={{@deleteAuthor}} />

<h1>{{@author.name}}</h1>

Posts by {{@author.name}}:
<ul>
  {{#each @author.posts as |post|}}
    <LinkTo @route="posts.post" @model={{post}}>
      <li>{{post.title}}</li>
    </LinkTo>
  {{/each}}
</ul>
