<BlogPostEdit @post={{args.post}} @authors={{args.authors}} @isEditing={{args.isEditing}} @saveAction={{args.saveAction}} @deleteAction={{args.deleteAction}} />

<h1>{{args.post.title}}</h1>
<h2>by {{args.post.author.name}} <small class="muted">({{format-date args.post.date}})</small></h2>

<hr>

<div class="intro">
  {{format-markdown args.post.excerpt}}
</div>

<div class="below-the-fold">
  {{format-markdown args.post.body}}
</div>
