<div class="container-fluid">
  <div class="row">
    {{!-- blog post listing --}}
    <div class="col-xs-5">
      <button {{action "createPost"}}>Create</button> <Input @type="text" @value={{this.args.queryParamsObj.query}} placeholder="Filter Posts" @autofocus="autofocus" @key-press={{action "resetPage"}} />
      <table class="table">
        <thead>
          <tr><th>Recent Posts</th></tr>
        </thead>
        <tbody>
          {{#each this.pagedContent as |post|}}
            <tr>
              <td>
                <LinkTo @route="posts.post" @model={{post}}>
                  {{post.title}} <small class="muted">by {{post.author.name}}</small>
                </LinkTo>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      <PageNumbers @content={{this.pagedContent}} />
    </div>

    {{!-- blog post content --}}
    <div class="col-xs-7">
      {{yield}}
    </div>
  </div>
</div>
