<BlogPostEdit @post={{this.args.post}} @authors={{this.args.authors}} @isEditing={{this.args.isEditing}} @savePost={{this.args.savePost}} @deletePost={{this.args.deletePost}} />

<h1>{{this.args.post.title}}</h1>
<h2>by {{this.args.post.author.name}} <small class="muted">({{format-date this.args.post.date}})</small></h2>

<hr>

<div class="intro">
  {{format-markdown this.args.post.excerpt}}
</div>

<div class="below-the-fold">
  {{format-markdown this.args.post.body}}
</div>
