{{#if this.isEditing}}
  <p><button type="button" {{on "click" this.doneEditing}}>Done</button></p>
  <p><Input @type="text" @value={{@post.title}} class="form-control" placeholder="Post title" /></p>
  <p><PowerSelectBlockless @options={{@authors}} @selected={{@post.author}} @onchange={{fn (mut @post.author)}} @labelPath="name" @placeholder="Post author" /></p>
  <p><Input @type="text" @value={{@post.excerpt}} class="form-control" placeholder="Post exercept" /></p>
  <p><MarkdownEditor @value={{@post.body}} @placeholder="Post content" @rows="5" /></p>

  <p><button type="button" {{on "click" @deletePost}} class="btn btn-default">Delete</button></p>
{{else}}
  <p><button type="button" {{on "click" this.edit}}>Edit</button></p>
{{/if}}
