{{#if this.isEditing}}
  <p><button {{on "click" this.doneEditing}}>Done</button></p>
  <p><Input @type="text" @value={{this.args.post.title}} class="form-control" placeholder="Post title" /></p>
  <p><PowerSelectBlockless @options={{this.args.authors}} @selected={{this.args.post.author}} @onchange={{action (mut this.args.post.author)}} @labelPath="name" @placeholder="Post author" /></p>
  <p><Input @type="text" @value={{this.args.post.excerpt}} class="form-control" placeholder="Post exercept" /></p>
  <p><MarkdownEditor @value={{this.args.post.body}} @placeholder="Post content" @rows="5" /></p>

  <p><button {{on "click" @deletePost}} class="btn btn-default">Delete</button></p>
{{else}}
  <p><button {{on "click" this.edit}}>Edit</button></p>
{{/if}}
