<BsButton id="lockbutton" @type="secondary btn-small" title="Double click for Lock/Unlock a song" id="lockbutton" class="d-inline"
  {{on "pointerdown" this.handleMouseDown}}
  {{on "pointermove" this.handleMouseMove}}
  {{on "pointerup" this.handleMouseUp}}
  {{on "touchstart" this.handleMouseDown}}
  {{on "touchmove" this.handleMouseMove}}
  {{on "touchend" this.handleMouseUp}}
  {{on "dblclick" @lockFunction}}  
>
  <FaIcon @icon={{if @isLocked "lock" "unlock"}} />
  <span class="d-inline">{{if @isLocked "Unlock" "Lock"}} Song</span>  
</BsButton> 

<style>
   #lockbutton {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
</style>