<div class="card">
  <div class="card-header bg-dark text-white row p-0 m-0 border-0 rounded">
    <div class="col d-block align-self-center pr-0 pl-3"><h5 class="my-0">{{@command.name}}</h5></div>
    <BsButtonGroup class="col-auto px-0 rounded" as |bg|>
      <bg.button @type="secondary rounded-0" @onClick={{fn @editCommand}} disabled={{@isEditing}} ><FaIcon @icon="edit" /></bg.button>
      <bg.button @type="danger" @onClick={{fn @closeCommand}}><FaIcon @icon="times" /></bg.button>
    </BsButtonGroup>
  </div>
  {{#if @isEditing}}
    <div class="card-body">
      <PbCommandEdit @command={{@command}} @isEditing={{@isEditing}} @commandTypes={{@commandTypes}} @saveCommand={{@saveCommand}} @editCommand={{@editCommand}} @deleteCommand={{@deleteCommand}} />
    </div>
  {{else}}
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped">
            <tbody>
              <tr><td>Command:</td><td> {{@command.name}}</td></tr>
              <tr><td>Type:</td><td> {{@command.type}}</td></tr>
              <tr><td>Active:</td><td>{{if @command.active "Yes" "No"}}</td></tr>
              <tr><td>Cooldown:</td><td> {{@command.cooldown}} seconds</td></tr>
              <tr><td>Timer:</td><td> {{@command.timer}} seconds</td></tr>
              <tr><td>Response:</td><td> {{@command.response}}</td></tr>
              <tr><td>Sound File:</td><td> {{@command.soundfile}}</td></tr>
              <tr><td>Volume:</td><td> {{@command.volume}}%</td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  {{/if}}
</div>