<div class="row pt-5">
  <div class="col-12 pt-3">
      {{!-- client listing --}}
      <div class="{{if @isViewing "d-none" "card"}}">
        <div class="card-header">
          <div class="row">          
            <BsForm @model={{@queryParamsObj}} @formLayout="inline" class="col" @onchange={{this.resetPage}} as |form|>
              <form.element @controlType="text" class="w-100" @property="query" as |el|>
                <el.control
                  placeholder="Filter Clients"
                  tabIndex={{5}}
                  class="w-100"
                />
              </form.element>
            </BsForm>
            <div class="col-auto">
              <FileUpload @name="importfile" @accept=".csv" @onfileadd={{fn this.clientImport}} hidden={{false}} class="my-0"><span class="btn btn-secondary ember-view">Import</span></FileUpload>
              <BsButton @type="secondary" @onClick={{fn this.clientExportFiltered}}>Export</BsButton>
              <BsButton @type="info" @onClick={{fn @createClient}}>Add New</BsButton>
            </div>
          </div>
        </div>
        <div class="card-body mx-0 p-0">
          <div class="row mx-0">
            <table class="table table-hover table-condensed col-12 my-0 w-100">
              <thead>
                <tr><th class="col-sm">Client</th><th class="col-sm">Type</th><th class="col-sm">Channel</th><th class="col-sm-auto">Admin</th></tr>
              </thead>
              <tbody>
                {{#each this.pagedContent as |client|}}            
                  <LinkTo @route="clients.client" @model={{client}} @tagName="tr" class="w-100">
                    <td class="col-sm align-top">{{if client.username client.username "<unnamed>"}}</td>
                    <td class="col-sm align-top">{{client.type}}</td>
                    <td class="col-sm align-top">{{client.channel}}</td>
                    <td class="col-sm-auto align-top">
                      <BsButtonGroup @class="mx-auto" as |bg|>
                        <bg.button @type="" class="btn-sm btn-outline-secondary h-100 alert-secondary" @onClick={{fn @gridEditClient client}}><i class="fa fa-pencil-square-o"></i></bg.button>
                        <bg.button @type="" class="btn-sm btn-outline-danger h-100 alert-danger" @onClick={{fn @gridDeleteClient client}}><i class="fa fa-trash"></i></bg.button>
                      </BsButtonGroup>
                    </td>
                  </LinkTo>            
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer">
          <PageNumbers @content={{this.pagedContent}} />
        </div>
      </div>
    {{#if @isViewing}}
      {{!-- Client content --}}
      {{yield}}
    {{/if}}
  </div>
</div>

