<div class="card">
  <div class="card-header bg-dark bg-gradient p-0 m-0 border-0 rounded-top">
    <div class="row g-0">
      <div class="col py-1 ps-3"><span class="h5 text-white">{{@command.name}}</span></div>
      <div class="col-auto">
        <button type="button" class="btn btn-dark rounded-0 rounded-top-right border-0" {{on "click" @closeCommand}}><FaIcon @icon="times" /></button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <BsForm @formLayout="horizontal" @model={{@command}} @onSubmit={{@saveCommand}} as |form|>
      <form.element @controlType="text" @label="Name" class="pb-0" placeholder="Type the command name" @property="name" required />
      <div class="row pb-2">
        <label class="form-label col-md-4 col-form-label">Type</label>
        <div class="col-md-8">
          <PowerSelect
            @options={{@commandTypes}}
            @onChange={{fn (mut @command.type)}}
            @selected={{@command.type}}
            @allowClear={{true}}
            @placeholder="Select the command type"
            @triggerClass="w-100 m-0" as |element|
          >
            <span class="w-100">{{element}}</span>                
          </PowerSelect>
        </div>
      </div>
      <div class="form-group row pb-2">
        <label class="col-md-4">Active</label>
        <div class="col-sm">
          <form.element @controlType="checkbox" @label="" @formLayout="inline" class="form-check form-check-inline ps-0" @property="active" />
        </div>
      </div>
      {{!-- <form.element @controlType="text" @label="Cooldown" class="pb-2" placeholder="Cooldown time in seconds" @property="cooldown" required /> 
      {{!-- <form.element @controlType="number" @label="Timer (miliseconds)" class="pb-2" placeholder="Time in miliseconds" @property="timer" required /> --}}
      <div class="form-group row pb-2">
        <label class="col-md-4">Permissions</label>
        <div class="col-sm">
          <form.element @controlType="checkbox" @label="Admin" @formLayout="inline" class="form-check form-check-inline ps-0" @property="admin" />
          <form.element @controlType="checkbox" @label="Mod" @formLayout="inline" class="form-check form-check-inline ps-0" @property="mod" />
          <form.element @controlType="checkbox" @label="Sub" @formLayout="inline" class="form-check form-check-inline ps-0" @property="sub" />
          <form.element @controlType="checkbox" @label="VIP" @formLayout="inline"  class="form-check form-check-inline ps-0" @property="vip" />
        </div>
      </div>
      <div class="form-group row pb-2">
        <label class="col-md-4">Response:</label>    
        <div class="col-sm">
          <Textarea @value={{@command.response}} placeholder="Type the command response..." class="form-control"/>
        </div>
      </div>
      <form.element @controlType="text" @property="soundfile" class="pb-2" @label="Sound file" as |el|>
        <div class="input-group">
          <div class="input-group-prepend">
            <BsButton @type="secondary" @onClick={{fn this.playSound}}><FaIcon @icon="{{if this.isPreviewLoaded (if this.isPreviewPlaying "stop" "play") "volume-mute"}}" /></BsButton>
          </div>
          <el.control disabled class="border-form-control" @placeholder="Select the sound file..." />
          <div class="input-group-append">
            <BsButton @type="secondary" @onClick={{fn this.getAudioPath @command}}>Select file</BsButton>        
          </div>
        </div>
      </form.element>
      <div class="form-group row pb-2">
        <label class="col-md-4">Volume %:</label>    
        <div class="col-sm">
          <div class="input-group bg-light border rounded">
            <Input @type="range" min="1" max="100" @value={{@command.volume}}  {{on "change" (fn this.adjustVolume @command.volume)}} class="form-control slider w-75 border-0" />
            <div class="input-group-append w-25">
              <Input @type="text" @value={{@command.volume}} {{on "keyup" (fn this.adjustVolume @command.volume)}} class="form-control border-0" />
            </div>
          </div>
        </div>
      </div>
      
      <BsButton @type="success" @onClick={{@saveAndReturnCommand}}><FaIcon @icon="save" /> Save & Return</BsButton> 
      <BsButton @type="secondary" @onClick={{this.doneEditing}}><FaIcon @icon="save" /></BsButton>
      <div class="text-success ms-2 {{if this.saving "d-inline-block fadeout" "d-none"}}"><FaIcon @icon="spinner" class={{if this.saving "spin"}} /> <span>Command saved!</span></div>
      <ButtonConfirm @btnClass="btn btn-danger float-end" @btnIcon="trash" @btnText="Delete" @confirmDescription="Are you sure you want to delete this command?" @targetAction={{fn @deleteCommand}} />
    </BsForm>
  </div>
</div>