<div class="card">
  <div class="card-header bg-dark text-white row p-0 m-0 border-0 rounded-top">
    <div class="col d-block align-self-center pr-0 pl-3"><h5 class="my-0">{{@client.username}}</h5></div>
    <BsButtonGroup class="col-auto px-0 rounded" as |bg|>
      <bg.button @type="dark rounded-0 rounded-top-right border-0" @onClick={{fn @closeClient}}><FaIcon @icon="times" /></bg.button>
    </BsButtonGroup>
  </div>
  <div class="card-body">
    <BsForm @formLayout="horizontal" @model={{@client}} @onSubmit={{fn @saveClient}} as |form|>
      <form.element @controlType="text" @label="Username" placeholder="Username" @property="username" required />  

      <div class="form-group row">
        <label class="control-label col-form-label col-md-4">
          Oauth 
          <span role="btn">
            <FaIcon @icon="question-circle" class="text-info" />
            <BsTooltip>Get your Oauth key <a href="https://twitchapps.com/tmi/" target="_blank" rel="noopener noreferrer">Here</a></BsTooltip>
          </span>
        </label>
        <div class="input-group col-md-8">
          <Input @type={{if this.isMasked "password" "text"}} @value={{@client.oauth}} class="form-control" @placeholder="Paste your Oauth here including Oauth: "/>          
          <div class="input-group-append">
            <BsButton @type="outline-secondary border-form-control" @onClick={{fn this.toggleMask}}><FaIcon @icon={{if this.isMasked "eye" "eye-slash"}} /></BsButton>        
          </div>
        </div>
      </div>

      <form.element @controlType="text" @label="Channel" placeholder="Channel" @property="channel" required />      
      <div class="form-row">
        <div class="col">
          <form.element @controlType="checkbox" @label="Debug" @property="debug" />
          <form.element @controlType="checkbox" @label="Reconnect" @property="reconnect" />
          <form.element @controlType="checkbox" @label="Secure" @property="secure" />
        </div>
      </div>      
      <BsButton @type="success" @onClick={{fn @saveAndReturnClient}}><FaIcon @icon="save" /> Save & Return</BsButton> 
      <BsButton @type="secondary" @onClick={{fn this.doneEditing}}><FaIcon @icon="save" /></BsButton>
      <div class="text-success ml-2 {{if this.saving "d-inline-block fadeout" "d-none"}}"><FaIcon @icon="spinner" class={{if this.saving "spin"}} /> <span>Client saved!</span></div>      
      <BsButton @type="danger" @onClick={{fn @deleteClient}} class="float-right">Delete</BsButton>      
    </BsForm>
  </div>
</div>