<div class="row h-100 flex-fill m-0 p-0">
  <div class="col-12 h-100 flex-fill p-0 m-0"> 
      {{!-- command listing --}}
      <div class="{{if this.currentUser.isViewing "d-none" "card h-100 flex-fill"}}">
        <div class="card-header">
          <div class="row">
            <BsForm @model={{@queryParamsObj}} @formLayout="inline" class="col-md col-sm-6 col-12 px-1" as |form|>
              <form.element @controlType="text" class="w-100 my-0 mb-1" @property="query" {{on "keydown" this.resetPage}} as |el|>
                <el.control
                  placeholder="Filter by name"
                  tabIndex={{5}}
                  class="w-100 m-0"
                />
              </form.element>
            </BsForm>
            <BsForm @model={{@queryParamsObj}} @formLayout="inline" class="col-md-auto col-sm-6 col-12 px-1" as |form|>
              <form.element @controlType="power-select" @property="type" class="w-100 my-0 mb-1" @options={{@commandTypes}} @onchange={{this.resetPage}} as |element| >
                <element.control  @triggerClass="w-100 m-0" @allowClear={{true}} @placeholder="Filter by type" class="w-100" as |option|>
                  <span class="w-100">{{option}}</span>
                </element.control>
              </form.element>
            </BsForm>
            <div class="col-lg-auto col-12 mx-1 ps-0 pe-2 px-lg-0">
              <PbCommandImport @songTypes={{@commandTypes}} />
              <ButtonConfirm @btnClass="btn btn-danger" @btnIcon="trash-alt" @btnText="" @confirmDescription="Are you sure you want to delete all your filtered commands?" @targetAction={{this.wipeCommands}} />
              <BsButton @type="secondary" @onClick={{this.commandImport}}>Import</BsButton>
              <BsButton @type="secondary" @onClick={{this.commandExportFiltered}}>Export</BsButton>
              <BsButton @type="primary" @onClick={{@createCommand}}>Add New</BsButton>
            </div>
          </div>
        </div>
        <div class="card-body mx-0 p-0 flex-fill h-100 overflow-hidden">
          <div class="row mx-0 flex-fill listframe">
            <table class="table table-condensed table-hover col-12 my-0 px-0">
              <thead class="listheader thead-light">
                <tr class="w-100">
                  <th scope="col" class="col">Command</th>
                  <th scope="col" class="d-none d-lg-table-cell col-lg">Response</th>
                  <th scope="col" colspan="2" class="col-auto">Type</th>
                </tr>
              </thead>
              <tbody>
                {{#each this.pagedContent as |command|}}
                  <tr class={{if command.active "table-success"}}>
                    <td class="col">{{if command.name command.name "unnamed"}}</td>
                    <td class="d-none d-lg-table-cell col-lg overflow-hidden"> 
                      <small class="muted">
                        {{line-clamp
                          text=command.response
                          lines=1
                          ellipsis="..."
                          seeMoreText="+ more"
                          seeLessText="- less"
                        }}
                      </small>
                    </td>
                    <td class="col-lg">{{command.type}}</td>
                    <td class="col-auto py-0 pe-0">
                      <div class="btn-group text-nowrap float-end">
                        <BsButton 
                          @type={{if command.active "outline-success alert-success" "outline-secondary alert-secondary"}}
                          class="rounded-0 col-auto border px-3 py-2" 
                          @onClick={{fn @gridActiveCommand command}}
                        >
                          <FaIcon @icon={{if command.active "check-square" "square"}} />
                        </BsButton>
                        <button type="button" class="col-auto btn btn-outline-secondary rounded-0 py-2 px-3 alert-secondary" {{on "click" (fn @gridEditCommand command)}}><FaIcon @icon="edit" /></button>
                        <ButtonConfirm @btnClass="btn btn-outline-danger alert-danger rounded-0 py-2 px-3 col-auto" @btnIcon="trash" @btnText="" @confirmDescription="Are you sure you want to delete this command?" @targetAction={{fn @gridDeleteCommand command}} />
                      </div>
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer py-0 my-0 px-0">
          <PageNumbers @content={{this.pagedContent}} @showTotal={{true}} />
        </div>
      </div>
    {{#if this.currentUser.isViewing}}
      {{!-- Command content --}}
      {{yield}}
    {{/if}}
  </div>
</div>

