<PbClientEdit @client={{@client}} @isEditing={{@isEditing}} @saveClient={{@saveClient}} @deleteClient={{@deleteClient}} />

<h1>{{@client.username}}</h1>

<p>{{@client.defaultbot}}</p>
<p>{{@client.defaultchat}}</p>
<p>{{@client.type}}</p>

<p>{{@client.username}}</p>
<p>{{@client.oauth}}</p>
<p>{{@client.channel}}</p>
<p>{{@client.debug}}</p>
<p>{{@client.reconnect}}</p>
<p>{{@client.secure}}</p>