<BsForm @formLayout="horizontal" @model={{@command}} @onSubmit={{fn this.doneEditing}} as |form|>
  <form.element @controlType="text" @label="Name" placeholder="Type the command name" @property="name" required /> 
  <form.element @controlType="power-select" @property="type" @label="Type" @options={{@commandTypes}} as |element| >
    <element.control placeholder="Select the command type" />
  </form.element>
  <form.element @controlType="checkbox" @label="Active" @class="pl-1" @property="active" />
  <form.element @controlType="text" @label="Cooldown" placeholder="Cooldown time in seconds" @property="cooldown" required /> 
  <form.element @controlType="text" @label="Timer" placeholder="Timer time in seconds" @property="timer" required /> 
  <div class="form-group row ember-view">
    <label class="col-md-4">Permissions</label>
    <div class="col-sm pl-0">
      <form.element @controlType="checkbox" @label="Admin" @formLayout="inline" @class="form-check form-check-inline" @property="admin" />
      <form.element @controlType="checkbox" @label="Mod" @formLayout="inline" @class="form-check form-check-inline" @property="mod" />
      <form.element @controlType="checkbox" @label="Sub" @formLayout="inline" @class="form-check form-check-inline" @property="sub" />
      <form.element @controlType="checkbox" @label="VIP" @formLayout="inline"  @class="form-check form-check-inline" @property="vip" />
    </div>
  </div>
  <form.element @controlType="textarea" @label="Response" placeholder="Type the command response..." @property="response" required /> 
  
  <form.element @controlType="text" @property="soundfile"  @label="Sound file" as |el|>
    <div class="input-group">
      <el.control disabled class="alert-light" @placeholder="Select the sound file..." />
      <div class="input-group-append">
        <BsButton @type="secondary" @onClick={{fn this.getAudioPath @command}}>Select file</BsButton>        
      </div>
    </div>
  </form.element>

  <form.element @controlType="text" @label="Volume" placeholder="Set the volume" @property="volume" required />
  
  <BsButton type="submit" @type="success" @onClick={{fn this.doneEditing}}>Done</BsButton>
  <BsButton @type="danger" @onClick={{fn @deleteCommand}}>Delete</BsButton>
  
</BsForm>





