<div class="row">
  <div class="col-12">
      {{!-- command listing --}}
      <div class="{{if @isViewing "d-none" "card"}}">
        <div class="card-header">
          <div class="row">
            <BsForm @model={{@queryParamsObj}} @formLayout="inline" class="col" @onchange={{this.resetPage}} as |form|>
              <form.element @controlType="text" class="w-100" @property="query" as |el|>
                <el.control
                  placeholder="Filter by name"
                  tabIndex={{5}}
                  class="w-100"
                />
              </form.element>
            </BsForm>
            <BsForm @model={{@queryParamsObj}} @formLayout="inline" class="col-auto pl-0" @onchange={{this.resetPage}} as |form|>
              <form.element @controlType="power-select" @property="type" class="w-100" @options={{@commandTypes}} as |element| >
                <element.control  @triggerClass="w-100" @allowClear={{true}} @placeholder="Filter by type" class="w-100" as |option|>
                  <span class="w-100">{{option}}</span>
                </element.control>
              </form.element>
            </BsForm>
            <div class="col-auto">
              <FileUpload @name="importfile" @accept=".csv" @onfileadd={{fn this.commandImport}} hidden={{false}} class="my-0"><span class="btn btn-secondary ember-view">Import</span></FileUpload>
              <BsButton @type="secondary" @onClick={{fn this.commandExportFiltered}}>Export</BsButton>
              <BsButton @type="info" @onClick={{fn @createCommand}}>Add New</BsButton>
            </div>
          </div>
        </div>
        <div class="card-body mx-0 p-0">
          <div class="row mx-0">
            <table class="table table-hover table-condensed col-12 my-0">
              <thead>
                <tr><th class="col-sm-auto">Command</th><th class="col-sm">Response</th><th class="col-sm-auto">Active</th><th class="col-sm-auto">Admin</th></tr>
              </thead>
              <tbody>
                {{#each this.pagedContent as |command|}}
                  <LinkTo @route="commands.command" @tagName="tr" class="w-100" @model={{command}}>                
                      <td class="col-sm-auto">{{if command.name command.name "unnamed"}}</td>
                      <td class="col-sm"><small class="muted">{{command.response}}</small></td>
                      <td class="col-sm-auto">
                        <BsButton @type="" class="btn-link btn-sm mx-auto" @onClick={{fn @gridActiveCommand command}}>
                          <i class="w-100 text-secondary {{if command.active "fa fa-check-square" "fa fa-square-o"}}"></i>
                        </BsButton>
                      </td>
                      <td class="col-sm-auto">
                        <BsButtonGroup @class="mx-auto" as |bg|>
                          <bg.button @type="" class="btn-sm alert-secondary" @onClick={{fn @gridEditCommand command}}><i class="fa fa-pencil-square-o"></i></bg.button>
                          <bg.button @type="" class="btn-sm alert-danger" @onClick={{fn @gridDeleteCommand command}}><i class="fa fa-trash"></i></bg.button>
                         </BsButtonGroup>
                      </td>
                  </LinkTo>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer">
          <PageNumbers @content={{this.pagedContent}} />
        </div>
      </div>
    {{#if @isViewing}}
      {{!-- Command content --}}
      {{yield}}
    {{/if}}
  </div>
</div>

