<h2>{{@client.username}}</h2>
<PbClientEdit @client={{@client}} @isEditing={{@isEditing}} @saveClient={{@saveClient}} @deleteClient={{@deleteClient}}/>
{{#unless @isEditing}}
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <tbody>
          <tr><td>Is the default bot:</td><td>{{@client.defaultbot}}</td></tr>
          <tr><td>Is the default chat:</td><td>{{@client.defaultchat}}</td></tr>
          <tr><td>Client type:</td><td>{{@client.type}}</td></tr>
          <tr><td>Username:</td><td>{{@client.username}}</td></tr>
          <tr><td>Oauth:</td><td>{{@client.oauth}}</td></tr>
          <tr><td>Channel:</td><td>{{@client.channel}}</td></tr>
          <tr><td>Debug:</td><td>{{@client.debug}}</td></tr>
          <tr><td>Reconnect:</td><td>{{@client.reconnect}}</td></tr>
          <tr><td>Secure:</td><td>{{@client.secure}}</td></tr>
        </tbody>
      </table>
    </div>
  </div>
{{/unless}}