<div class="card">
  <div class="card-header bg-dark text-white row p-0 m-0 border-0 rounded">
    <div class="col d-block align-self-center pr-0 pl-3"><h5 class="my-0">{{@client.username}}</h5></div>
    <BsButtonGroup class="col-auto px-0 rounded" as |bg|>
      <bg.button @type="secondary rounded-0" @onClick={{fn @editClient}} disabled={{@isEditing}} ><i class="fa fa-pencil-square-o"></i></bg.button>
      <bg.button @type="danger" @onClick={{fn @closeClient}}><i class="fa fa-close"></i></bg.button>
    </BsButtonGroup>
  </div>
  {{#if @isEditing}}
    <div class="card-body">
      <PbClientEdit @client={{@client}} @isEditing={{@isEditing}} @clientTypes={{@clientTypes}}  @saveClient={{@saveClient}} @editClient={{@editClient}} @deleteClient={{@deleteClient}} />
    </div>
  {{else}}
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped">
            <tbody>
              <tr><td>Is the default bot:</td><td>{{@client.defaultbot}}</td></tr>
              <tr><td>Is the default chat:</td><td>{{@client.defaultchat}}</td></tr>
              <tr><td>Client type:</td><td>{{@client.type}}</td></tr>
              <tr><td>Username:</td><td>{{@client.username}}</td></tr>
              <tr><td>Oauth:</td><td>{{@client.oauth}}</td></tr>
              <tr><td>Channel:</td><td>{{@client.channel}}</td></tr>
              <tr><td>Debug:</td><td>{{@client.debug}}</td></tr>
              <tr><td>Reconnect:</td><td>{{@client.reconnect}}</td></tr>
              <tr><td>Secure:</td><td>{{@client.secure}}</td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  {{/if}}
</div>