<div class="card">
  <div class="card-header bg-dark text-white row p-0 m-0 border-0 rounded-top">
    <div class="col d-block align-self-center pr-0 pl-3"><h5 class="my-0">{{@command.name}}</h5></div>
    <BsButtonGroup class="col-auto px-0 rounded" as |bg|>
      <bg.button @type="dark rounded-0 rounded-top-right border-0" @onClick={{fn @closeCommand}}><FaIcon @icon="times" /></bg.button>
    </BsButtonGroup>
  </div>
  <div class="card-body">
    <BsForm @formLayout="horizontal" @model={{@command}} @onSubmit={{fn @saveCommand}} as |form|>
      <form.element @controlType="text" @label="Name" placeholder="Type the command name" @property="name" required /> 
      <form.element @controlType="power-select" @property="type" @label="Type" @options={{@commandTypes}} as |element| >
        <element.control placeholder="Select the command type" @allowClear={{true}} />
      </form.element>
      <div class="form-group row my-0">
        <label class="col-md-4">Active</label>
        <div class="col-sm">
          <form.element @controlType="checkbox" @label="" class="form-check form-check-inline" @property="active" />
        </div>
      </div>
      <form.element @controlType="text" @label="Cooldown" placeholder="Cooldown time in seconds" @property="cooldown" required /> 
      <form.element @controlType="text" @label="Timer" placeholder="Timer time in seconds" @property="timer" required /> 
      <div class="form-group row my-0">
        <label class="col-md-4">Permissions</label>
        <div class="col-sm pl-0">
          <form.element @controlType="checkbox" @label="Admin" @formLayout="inline" class="form-check form-check-inline" @property="admin" />
          <form.element @controlType="checkbox" @label="Mod" @formLayout="inline" class="form-check form-check-inline" @property="mod" />
          <form.element @controlType="checkbox" @label="Sub" @formLayout="inline" class="form-check form-check-inline" @property="sub" />
          <form.element @controlType="checkbox" @label="VIP" @formLayout="inline"  class="form-check form-check-inline" @property="vip" />
        </div>
      </div>
      <form.element @controlType="textarea" @label="Response" placeholder="Type the command response..." @property="response" required /> 
      <form.element @controlType="text" @property="soundfile"  @label="Sound file" as |el|>
        <div class="input-group">
          <div class="input-group-prepend">
            <BsButton @type="secondary" @onClick={{fn (if this.isPlaying this.stopSound this.playSound)}}><FaIcon @icon="{{if this.loadPreview (if this.isPlaying "stop" "play") "volume-mute"}}" /></BsButton>
          </div>
          <el.control disabled class="border-form-control" @placeholder="Select the sound file..." />
          <div class="input-group-append">
            <BsButton @type="secondary" @onClick={{fn this.getAudioPath @command}}>Select file</BsButton>        
          </div>
        </div>
      </form.element>
      <div class="form-group row ember-view">
        <label class="col-md-4">Volume %:</label>    
        <div class="col-sm">
          <div class="input-group bg-light rounded">
            <Input @type="range" min="1" max="100" @value={{@command.volume}}  {{on "change" (fn this.adjustVolume @command.volume)}} class="form-control slider" />
            <div class="input-group-append">
              <Input @type="text" @value={{@command.volume}} {{on "keyup" (fn this.adjustVolume @command.volume)}} class="form-control rounded-0" />
            </div>
          </div>
        </div>
      </div>
      
      <BsButton @type="success" @onClick={{fn @saveAndReturnCommand}}><FaIcon @icon="save" /> Save & Return</BsButton> 
      <BsButton @type="secondary" @onClick={{fn this.doneEditing}}><FaIcon @icon="save" /></BsButton>
      <div class="text-success ml-2 {{if this.saving "d-inline-block fadeout" "d-none"}}"><FaIcon @icon="spinner" class={{if this.saving "spin"}} /> <span>Command saved!</span></div>
      <BsButton @type="danger" @onClick={{fn @deleteCommand}} class="float-right">Delete</BsButton>
      
    </BsForm>
  </div>
</div>