<BsButton @type="btn btn-outline-info text-black p-0 border-0 rounded-0 btn-window px-0" @onClick={{this.toggleModal}} title={{this.cloudText}} >
  <span class={{this.cloudColor}}><FaIcon @icon="cloud"  @size="lg" /></span>
  <div class="sync-activity mx-0">
    {{#unless this.showArrows}}
      <span class={{unless this.isCloudSynced "blinkcolor"}}><FaIcon @icon="long-arrow-alt-up" @size="sm" /></span>
      <span class={{unless this.isLocalSynced "blinkcolor"}}><FaIcon @icon="long-arrow-alt-down" @size="sm" /></span>
    {{/unless}}
  </div>
</BsButton>

{{#in-element this.modalWormhole insertBefore=null}}
  {{#if this.globalConfig.config}}
    <BsModal @size="lg" @open={{this.visible}} as |Modal|>
      <Modal.header @closeButton={{false}} class="p-0 m-0 bg-dark border-0 border-bottom rounded-top">
        <div class="row g-0 w-100">
          <div class="col py-1 ps-3"><span class="h5 text-white">Cloud settings</span></div>
          <div class="col-auto">
            <button type="button" class="btn btn-dark rounded-0 rounded-top-right border-0" {{on "click" this.toggleModal}}><FaIcon @icon="times" /></button>
          </div>
        </div>
      </Modal.header>
      <Modal.body>
        <p>You can sync Paperbot among different devices using a self hosted or third-party CouchDb database like <a href="https://www.cloudstation.com/en" target="_blank">CloudStation</a>
          <span role="button" id="remote-couch-info">
            <FaIcon @icon="question-circle" class="text-info" role="presentation" />
          </span>
          <BsPopover @triggerEvents="click" @triggerElement="#remote-couch-info" @delayHide={{this.globalConfig.ttdelay}} class="ppover" as |po|>
            <div role="dialog" class="p-2 alert alert-dismissible m-0" {{on "mouseleave" po.close}}>
              <p>Songs, requests, commands, streams, clients and overlays will be synced, but not the bot settings, wich will stay in your device/browser only.</p>
              <p>If you use CloudStation make sure you uncheck the "Publicly accessible" checkbox when creating your database.</p>
            </div>
          </BsPopover>
        </p>

        <BsForm @formLayout="horizontal" @model={{this.globalConfig.config}} @onSubmit={{this.doneEditing}} as |form|>
          <div class="row pb-3">
            <form.element @controlType="power-select" @property="cloudType" @onChange={{this.setCloudType}} @formLayout="inline" class="col border-light" @allowClear={{true}} @options={{this.cloudTypes}} required as |type|>
              <type.control @placeholder="Select your cloud service" as |option|>
                {{option}}
              </type.control>
            </form.element>
          </div>
          {{#if this.globalConfig.config.isCustomCloud}}
            <div class="row pb-3">
              <div class="col">
                <div class="input-group input-group-sm">
                  <div class="input-group-text border-default"><FaIcon @icon="link" @size="sm" /></div>
                  <Input class={{if this.cloudState.isCloudError "form-control is-invalid" "form-control"}} @value={{this.globalConfig.config.remoteUrl}} aria-label="Remote url" @type="text" placeholder="Enter remote url" autocomplete="remoteUrl" disabled={{this.globalConfig.config.isCloudDisabled}}  />
                </div>
              </div>
            </div> 
          {{/if}}
          {{#if (not this.globalConfig.config.isCustomCloud)}}
            <div class="row pb-3">
              <div class="col">
                <div class="input-group input-group-sm">
                  <div class="input-group-text border-default"><FaIcon @icon="database" @size="sm" /></div>
                  <Input class={{if this.cloudState.isCloudError "form-control is-invalid" "form-control"}} @value={{this.globalConfig.config.database}} aria-label="Database name" @type="text" placeholder="Enter database name" autocomplete="database" disabled={{this.globalConfig.config.isCloudDisabled}}  />
                </div>
              </div>
            </div> 
          {{/if}}
          <div class="row pb-3">
            <div class="col">
              <div class="input-group input-group-sm">
                <div class="input-group-text border-default"><FaIcon @icon="user" @size="sm" /></div>
                <Input class={{if this.cloudState.isCloudError "form-control is-invalid" "form-control"}} @value={{this.globalConfig.config.username}} aria-label="Username" @type="text" placeholder="Enter remote username" autocomplete="username" disabled={{this.globalConfig.config.isCloudDisabled}} />
              </div>
            </div>
            <div class="col">
              <div class="input-group input-group-sm">
                <div class="input-group-text border-default"><FaIcon @icon="key" @size="sm" /></div>
                <Input class={{if this.cloudState.isCloudError "form-control is-invalid" "form-control"}} @value={{this.globalConfig.config.password}} aria-label="Password" @type="password" placeholder="Enter remote password" autocomplete="current-password" disabled={{this.globalConfig.config.isCloudDisabled}}  />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <form.element @controlType="checkbox" @label="Auto-connect" @formLayout="inline" class="form-check form-check-inline ps-0 mb-0 pt-2" @property="autoConnect" required />
            </div>
          </div>
          {{#if this.cloudState.isCloudError}}
            <div class="row">
              <div class="col">
                {{#if this.cloudState.isConnError}}
                  <div class="alert alert-danger py-0 px-2"><small>The connection to the server failed. Check {{if this.globalConfig.config.isCustomCloud "remote url" "database name"}} and login credentials.</small></div>
                {{/if}}
                {{#if this.cloudState.isCouchError}}
                  <div class="alert alert-danger py-0 px-2"><small>You connected to the server but the database doest not exist. Check database name.</small></div>
                {{/if}}
              </div>
            </div>
          {{/if}}
        </BsForm>
      </Modal.body>
      <Modal.footer class="py-2 row g-0">
        <div class="col">
          
          <BsButton @type={{if this.isOnline "danger" "secondary"}} class="btn-sm" @onClick={{this.toggleConnection}}> 
            {{#if this.isOnline}}
              <span><FaIcon @icon="toggle-on" /> Disconnect</span>
            {{else}}
              <span><FaIcon @icon="toggle-off"/> Connect   </span>
            {{/if}}
          </BsButton>
        </div>
        <div class="col-auto">
          <BsButton @type="success" @onClick={{this.doneEditing}}> 
            {{#if this.saving}}
              <span><FaIcon @icon="spinner" class="spin" /> Saving...</span>
            {{else}}
              <span class="pe-3 me-1"><FaIcon @icon="save" /> Save</span>
            {{/if}}
          </BsButton>
        </div>
      </Modal.footer>
    </BsModal>
  {{/if}}
{{/in-element}}