<h2>{{@command.name}} <small class="muted">({{format-date @stream.date}})</small></h2>
<PbCommandEdit @command={{@command}} @isEditing={{@isEditing}} @saveCommand={{@saveCommand}} @deleteCommand={{@deleteCommand}} />
{{#unless @isEditing}}
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <tbody>
          <tr><td>Command:</td><td> {{@command.name}}</td></tr>
          <tr><td>Type:</td><td> {{@command.type}}</td></tr>
          <tr><td>Cooldown:</td><td> {{@command.cooldown}} seconds</td></tr>
          <tr><td>Timer:</td><td> {{@command.timer}} seconds</td></tr>
          <tr><td>Response:</td><td> {{@command.response}}</td></tr>
          <tr><td>Sound File:</td><td> {{@command.soundfile}}</td></tr>
          <tr><td>Volume:</td><td> {{@command.volume}}%</td></tr>
        </tbody>
      </table>
    </div>
  </div>
{{/unless}}