<div class="row">
  <h1 class="col-md-12">Clients</h1>
</div>
<div class="row">
  {{!-- client listing --}}
  <div class="col-md-7">
    <div class="row">
      <BsForm @model={{@queryParamsObj}} @formLayout="inline" class="col-md-8" @onchange={{this.resetPage}} as |form|>
        <form.element @controlType="text" class="row col-md-12" @property="query" as |el|>
          <el.control
            placeholder="Filter Clients"
            tabIndex={{5}}
            class="col-md-12"
          />
        </form.element>
      </BsForm>
      <BsButton @type="info" @onClick={{fn @createClient}} class="col-md-4">Create</BsButton>
    </div>
    <p></p>
    <div class="row">
      <table class="table table-striped col-md-12">
        <thead>
          <tr>
            <th>Clients</th>
          </tr>
        </thead>
        <tbody>
          {{#each this.pagedContent as |client|}}
            <tr>
              <td>
                <LinkTo @route="clients.client" @model={{client}}>
                  &bull; {{client.username}}
                </LinkTo>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      <PageNumbers @content={{this.pagedContent}} />
    </div>
  </div>

  {{!-- client content --}}
  <div class="col-md-5">
    {{yield}}
  </div>
</div>
