<div class="card">
  <div class="card-header bg-dark text-white row py-2 m-0 border-0 rounded-top">
    <div class="row col align-self-center"><h5 class="my-0">{{@config.name}}</h5></div>
    {{!-- <BsButtonGroup class="col-auto px-0 rounded" as |bg|>
      <bg.button @type="secondary rounded-0" @onClick={{fn @editConfig}} disabled={{this.currentUser.isViewing}} ><FaIcon @icon="edit" /></bg.button>
      <bg.button @type="danger" @onClick={{fn @closeConfig}}><FaIcon @icon="times" /></bg.button>
    </BsButtonGroup> --}}
  </div>
    <div class="card-body">
      <BsForm @formLayout="horizontal" @model={{@config}}  @onSubmit={{this.doneEditing}} as |form|>
        {{!-- <form.element @controlType="text" @label="Name" placeholder="Config name" @property="name" required /> --}}
        <form.element @controlType="text" @label="Default channel" class="pb-2" placeholder="Default channel name" @property="defchannel" required />          

      <div class="row pb-2">
        <label class="control-label col-form-label col-md-4">
          External event tracking
          <span role="button">
            <FaIcon @icon="question-circle" class="text-info" />
            <BsTooltip @delayHide={{this.globalConfig.ttdelay}}>Get your Socket API Token from <a href="https://streamlabs.com/dashboard#/apisettings" target="_blank" rel="noopener noreferrer">Streamlabs</a> or <a href="https://streamelements.com/dashboard/account/channels"  target="_blank" rel="noopener noreferrer">StreamElements</a></BsTooltip>
          </span>
        </label>
        <div class="col-md-8 border-light">
          <div class="row input-group g-0">
            <form.element @controlType="password" @label="" placeholder="Default channel name" @formLayout="inline" @property="externaleventskey" class="col rounded-0 rounded-start" />
            <form.element @controlType="radio" @label="" @options={{this.externalEventServices}} @property="externalevents" @formLayout="inline" class="input-group-text col py-1 rounded-0 rounded-end" as |el|>
              <el.control @inline={{true}}/>
            </form.element>
          </div>
        </div>
      </div>


      <div class="row pb-2">
        <label class="control-label col-form-label col-md-4">
          Default Bot client 
          <span role="button">
            <FaIcon @icon="question-circle" class="text-info" />
            <BsTooltip @delayHide={{this.globalConfig.ttdelay}}>To set a client you need to add clients <LinkTo @route="clients.index">here</LinkTo></BsTooltip>
          </span>
        </label>
          <form.element @controlType="power-select" @property="defbotclient" @onChange={{@setdefBot}} @formLayout="inline" class="col-md-8 border-light" @invisibleLabel={{true}} @options={{@clients}} required as |client|>
            <client.control @allowClear={{true}} @placeholder="Select the default Bot Client for new streams" as |option|>
              {{option.username}}
            </client.control>
          </form.element>
      </div>


      <div class="row pb-2">
        <label class="control-label col-form-label col-md-4">
          Default Chat client 
          <span role="btn">
            <FaIcon @icon="question-circle" class="text-info" />
            <BsTooltip @delayHide={{this.globalConfig.ttdelay}}>To set a client you need to add clients <LinkTo @route="clients.index">here</LinkTo></BsTooltip>
          </span>
        </label>
        <form.element @controlType="power-select" @property="defchatclient" @onChange={{@setdefChat}} @formLayout="inline" class="col-md-8 border-light" @options={{@clients}} required as |client|>
          <client.control @allowClear={{true}} @placeholder="Select the default Chat Client for new streams" as |option|>
            {{option.username}}
          </client.control>
        </form.element>
      </div>
      
       
        <form.element @controlType="text" @property="overlayfolder" class="pb-2" @label="Folder to place queue overlay file" as |el|>
          <div class="input-group">
            <el.control disabled class="border-form-control" />
            <div class="input-group-append">
              <BsButton @type="secondary" @onClick={{fn this.opendialogfiles @config}}>Select folder</BsButton>        
            </div>
          </div>
        </form.element>
         {{!-- 
        <form.element @controlType="text" @label="CouchDB username" placeholder="Username" @property="couchdbuser" required /> 
        <form.element @controlType="password" @label="CouchDB password" placeholder="Password" @property="couchdbpassword" required  /> 
        <form.element @controlType="text" @label="CouchDB url" placeholder="Username" @property="couchdburl" required />
        --}}
        <div class="form-group row pb-2">
          <label class="col-md-4">Dark mode</label>
          <div class="col-sm">
            <form.element @controlType="checkbox" @label="" @formLayout="inline" class="form-check form-check-inline ps-0" @property="darkmode" required />
          </div>
        </div>
        <BsButton @type="success" @onClick={{this.doneEditing}}>Save</BsButton>   

        <div class="text-success ms-2 {{if this.saving "d-inline-block fadeout" "d-none"}}"><FaIcon @icon="spinner" class={{if this.saving "spin"}} /> <span>Config saved!</span></div>
      </BsForm>
    </div>
</div>
