<div class="row">
  <h3 class="col-md-12">Commands</h3>
</div>
<div class="row">
  <div class="col-12">
    {{#unless @isViewing}}  
      {{!-- command listing --}}
      <div class="card">
        <div class="card-header">
          <div class="row">
            <BsForm @model={{@queryParamsObj}} @formLayout="inline" class="col form-row" @onchange={{this.resetPage}} as |form|>
              <form.element @controlType="text" class="col-7" @property="query" as |el|>
                <el.control
                  placeholder="Filter by name"
                  tabIndex={{5}}
                  class="w-100"
                />
              </form.element>
              <form.element @controlType="power-select" @property="type" class="col-5" @options={{@commandTypes}} as |element| >
                <element.control  @triggerClass="w-100" @placeholder="Filter by type" class="w-100" as |option|>
                  <span class="w-100">{{option}}</span>
                </element.control>
              </form.element>
            </BsForm>
            <div class="col-auto">
              <FileUpload @name="importfile" @accept=".csv" @onfileadd={{fn this.commandImport}} hidden={{false}} class="my-0"><span class="btn btn-secondary ember-view">Import</span></FileUpload>
              <BsButton @type="secondary" @onClick={{fn this.exportFiltered}}>Export</BsButton>
              <BsButton @type="info" @onClick={{fn @createCommand}}>Add New</BsButton>
            </div>
          </div>
        </div>
        <div class="card-body mx-0 p-0">
          <div class="row mx-0">
            <table class="table table-hover col-12 my-0">
              <thead>
                <tr><th colspan="3">Command list</th></tr>
              </thead>
              <tbody>
                {{#each this.pagedContent as |command|}}
                  <LinkTo @route="commands.command" @tagName="tr" @model={{command}}>                
                      <td>{{if command.name command.name "unnamed"}}</td>
                      <td><small class="muted">{{command.response}}</small></td>
                      <td class="p-0 m-0 align-middle">
                      <BsButtonGroup @class="mx-auto" as |bg|>
                        <bg.button @type="" class="btn-sm btn-outline-secondary h-100 alert-secondary" @onClick={{fn @gridEditCommand command}}><i class="fa fa-pencil-square-o"></i></bg.button>
                        <bg.button @type="" class="btn-sm btn-outline-danger h-100 alert-danger" @onClick={{fn @gridDeleteCommand command}}><i class="fa fa-trash"></i></bg.button>
                      </BsButtonGroup></td>
                  </LinkTo>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer">
          <PageNumbers @content={{this.pagedContent}} />
        </div>
      </div>
    {{else}}
      {{!-- Command content --}}
      {{yield}}
    {{/unless}}
  </div>
</div>

