<div class="card">
  <div class="card-header bg-dark bg-gradient p-0 m-0 border-0 rounded-top">
    <div class="row g-0">
      <div class="col py-1 ps-3"><span class="h5 text-white">{{@client.username}}</span></div>
      <div class="col-auto">
        <button type="button" class="btn btn-dark rounded-0 rounded-top-right border-0" {{on "click" @closeClient}}><FaIcon @icon="times" /></button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <BsForm @formLayout="horizontal" @model={{@client}} @onSubmit={{@saveClient}} as |form|>
      <form.element @controlType="text" @label="Username" placeholder="Username" class="pb-2" @property="username" required />  
      
      <div class="form-group row pb-2">
        <label class="col-md-4 col-form-label">
          Oauth
          <span role="button">
            <FaIcon @icon="question-circle" class="text-info" />
            <BsPopover @triggerEvents="click" @delayHide={{this.globalConfig.ttdelay}} class="ppover" as |po|>
              <div role="button" class="p-3 alert alert-dismissible m-0" {{on "mouseleave" po.close}} {{on "click" po.close}}>
                <p class="my-0">Get your Oauth key <a href="https://twitchapps.com/tmi/" target="_blank" rel="noopener noreferrer">Here</a></p>
              </div>
            </BsPopover>
          </span>
        </label>
        <div class="col-md-8">
          <div class="input-group">
            <Input @type={{if this.isMasked "password" "text"}} @value={{@client.oauth}} class="form-control" placeholder="Paste your Oauth here including Oauth: "/>          
            <div class="input-group-append">
              <button type="button" class="btn btn-outline-secondary border-form-control" {{on "click" this.toggleMask}}><FaIcon @icon={{if this.isMasked "eye" "eye-slash"}} /></button>        
            </div>
          </div>
        </div>
      </div>

      <form.element @controlType="text" @label="Channel" placeholder="Channel" class="pb-2" @property="channel" required />  
      
      <div class="form-group row pb-2">
        <label class="col-md-4">Advanced Settings</label>
        <div class="col-sm">
          <form.element @controlType="checkbox" @label="Debug" @formLayout="inline" @property="debug" class="form-check form-check-inline ps-0" />
          <form.element @controlType="checkbox" @label="Reconnect" @formLayout="inline" @property="reconnect" class="form-check form-check-inline ps-0" />
          <form.element @controlType="checkbox" @label="Secure" @formLayout="inline" @property="secure" class="form-check form-check-inline ps-0" />
        </div>
      </div>
      
      <BsButton @type="success" @onClick={{@saveAndReturnClient}}><FaIcon @icon="save" /> Save & Return</BsButton> 
      <BsButton @type="secondary" @onClick={{this.doneEditing}}><FaIcon @icon="save" /></BsButton>
      <div class="text-success ms-2 {{if this.saving "d-inline-block fadeout" "d-none"}}"><FaIcon @icon="spinner" class={{if this.saving "spin"}} /> <span>Client saved!</span></div>
      <ButtonConfirm @btnClass="btn btn-danger float-end" @btnIcon="trash" @btnText="Delete" @confirmDescription="Are you sure you want to delete this client?" @targetAction={{fn @deleteClient}} />
    </BsForm>
  </div>
</div>