<BsForm @formLayout="vertical" @model={{@client}} @onSubmit={{fn this.doneEditing}} as |form|>
  <form.element @controlType="text" @label="Username" placeholder="Username" @property="username" required />  
  <form.element @controlType="power-select" @property="type" @label="Client type" @options={{@clientTypes}} as |element|>
    <element.control placeholder="Select the client type" />
  </form.element>  

  <form.group>
    <label class="control-label">
      Oauth 
      <span role="btn">
        <FaIcon @icon="question-circle" class="text-info" />
        <BsTooltip>Get your Oauth key <a href="https://twitchapps.com/tmi/" target="_blank">Here</a></BsTooltip>
      </span>
    </label>
    <input value={{@client.password}} class="form-control" type="text" placeholder="Oauth" >
  </form.group>
  
  <form.element @controlType="text" @label="Channel" placeholder="Channel" @property="channel" required />      
  <div class="form-row">
    <div class="col">
      <form.element @controlType="checkbox" @label="Debug" @property="debug" />
      <form.element @controlType="checkbox" @label="Reconnect" @property="reconnect" />
      <form.element @controlType="checkbox" @label="Secure" @property="secure" />
    </div>
    <div class="col">
      <form.element @controlType="checkbox" @label="Default bot client" @property="defaultbot" />
      <form.element @controlType="checkbox" @label="Default chat client" @property="defaultchat" />
    </div>
  </div>
  
  <BsButton @type="success" @onClick={{fn this.doneEditing}} >Save</BsButton>
  <BsButton @type="danger" @onClick={{fn @deleteClient}}>Delete</BsButton>      
</BsForm>
