<div class="card">
  <div class="card-header bg-dark text-white row p-0 m-0 border-0 rounded">
    <div class="col d-block align-self-center pr-0 pl-3"><h5 class="my-0">{{@client.username}}</h5></div>
    <BsButtonGroup class="col-auto px-0 rounded" as |bg|>
      <bg.button @type="secondary rounded-0" @onClick={{fn @editClient}} disabled={{@isEditing}} ><FaIcon @icon="edit" /></bg.button>
      <bg.button @type="danger" @onClick={{fn @closeClient}}><FaIcon @icon="times" /></bg.button>
    </BsButtonGroup>
  </div>
  {{#if @isEditing}}
    <div class="card-body">
      <PbClientEdit @client={{@client}} @isEditing={{@isEditing}} @clientTypes={{@clientTypes}}  @saveClient={{@saveClient}} @editClient={{@editClient}} @deleteClient={{@deleteClient}} />
    </div>
  {{else}}
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped">
            <tbody>
              <tr><th>Username:</th><td>{{@client.username}}</td></tr>
              <tr><th>Client type:</th><td>{{@client.type}}</td></tr>
              <tr><th>Oauth:</th><td class="text-break py-0 align-middle"><small>{{@client.oauth}}</small></td></tr>
              <tr><th>Channel:</th><td>{{@client.channel}}</td></tr>

              <tr><th>Debug:</th><td>{{@client.debug}}</td></tr>
              <tr><th>Reconnect:</th><td>{{@client.reconnect}}</td></tr>
              <tr><th>Secure:</th><td>{{@client.secure}}</td></tr>
              <tr><th>Default bot:</th><td>{{@client.defaultbot}}</td></tr>
              <tr><th>Default chat:</th><td>{{@client.defaultchat}}</td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  {{/if}}
</div>