<span role="button" class="btn btn-outline-secondary border-0 p-0 pt-1 rounded-0  btn-window" {{on "click" this.toggleModal}}><FaIcon @icon="question-circle" class="text-info" role="presentation" /></span>
{{#in-element this.bootstrapWormhole insertBefore=null}}
  <BsModal @size="md" @open={{this.globalConfig.showFirstRun}} as |Modal|>
    <Modal.header @closeButton={{false}} class="p-0 m-0 bg-dark border-0 border-bottom rounded-top">
      <div class="row g-0 w-100">
        <div class="col py-1 ps-3"><span class="h5 text-white"><i class="glyphicon glyphicon-alert"></i>Quick start!</span></div>
        <div class="col-auto">
          <button type="button" class="btn btn-dark rounded-0 rounded-top-right border-0" {{on "click" (fn this.toggleModal Modal)}}><FaIcon @icon="times" /></button>
        </div>
      </div>
    </Modal.header>
    <Modal.body>
      <div class="row">
        <div class="col">
          <p>For the bot to work properly the first thing you need to do is to add a client with your Twitch username and oauth key. You can do this from the <LinkTo @route="clients.index" {{on "click" (fn this.toggleModal Modal.close)}}>Clients menu</LinkTo>. Once this is done you can set your client as the default for all streams you start.</p>
          <p>You can use different clients for the bot and for the chat.</p>
          <p>Explore the application and click on the question mark icons <FaIcon @icon="question-circle" class="text-info" /> to get contextual help.</p>
        </div>
      </div>
    </Modal.body>
    <Modal.footer class="py-2">
      <BsButton @onClick={{this.toggleModal}} @type="success">Got it!</BsButton>
    </Modal.footer>
  </BsModal>
{{/in-element}}