<BsForm @formLayout="inline" @model={{@song}} @onSubmit={{@saveSong}} class="d-flex flex-column flex-fill h-100" as |form|>
  <div class="row g-2 justify-content-end">
    <div class="col-auto d-sm-none px-3">
      <div class="row g-1 justify-content-end">
        <div class="col-auto lyrics-controls row g-1 pe-2 me-1 my-0 ">
          <button type="button" class="btn btn-sm btn-secondary col-auto" {{on "click" this.toggleEdit}} title="Edit lyrics"><FaIcon @icon={{if this.isEditing "eye" "pen"}} /></button>
          <BsButton @type="secondary btn-sm col-auto" @onClick={{this.autoAdjust}} title="Auto adjust">
            <FaIcon @icon={{if this.calculating "spinner" "wand-magic-sparkles"}} @spin={{this.calculating}} />
          </BsButton>
          <button type="button" class={{if @song.viewMode "btn btn-sm btn-primary col-auto" "btn btn-sm btn-secondary col-auto"}} {{on "click" this.modeSwitch}} title="View mode"><FaIcon @icon="paragraph" /></button>
        </div>
        <div class="btn-group btn-group-sm col-auto">
          <button type="button" class="btn btn-secondary" {{on "click" this.downKey}} title="Transpose down"><FaIcon @icon="down-long" /></button>
          <span class="btn btn-secondary disabled text-white">{{@song.transSteps}}</span>
          <button type="button" class="btn btn-secondary" {{on "click" this.upKey}} title="Transpose up"><FaIcon @icon="up-long" /></button>
        </div>
        <div class="btn-group btn-group-sm col-auto">
          <button type="button" class="btn btn-secondary" {{on "click" this.resetZoom}} title="Reset zoom"><FaIcon @icon="undo" /></button>
          <button type="button" class="btn btn-secondary" {{on "click" this.subZoom}} title="Zoom out"><FaIcon @icon="search-minus" /></button>
          <button type="button" class="btn btn-secondary" {{on "click" this.addZoom}} title="Zoom in"><FaIcon @icon="search-plus" /></button>
        </div>
        <div class="btn-group btn-group-sm col-auto">
          <button type="button" class="btn btn-secondary {{if (eq @song.columns 0) "active"}}" {{on "click" this.autoColumn}} title="Reset columns">
            <FaIcon @icon="columns" /> 
            {{if (gt @song.columns 0) @song.columns}}
          </button>
          <button type="button" class="btn btn-secondary px-1" {{on "click" this.lessColumn}} title="Less columns"><FaIcon @icon="minus" /></button>
          <button type="button" class="btn btn-secondary px-1" {{on "click" this.moreColumn}} title="More columns"><FaIcon @icon="plus" /></button>
        </div>
      </div>
    </div>
    <div class="d-none d-sm-block d-lg-none col-sm-auto px-3">
      <div class="row g-1 justify-content-end pe-2 my-0 me-1 lyrics-controls">
        <button type="button" class="btn btn-sm btn-secondary col-auto" {{on "click" this.toggleEdit}} title="Edit lyrics"><FaIcon @icon={{if this.isEditing "eye" "pen"}} /> {{if this.isEditing "View" "Edit"}}</button>
        <BsButton @type="secondary btn-sm col-auto" @onClick={{this.autoAdjust}} title="Auto adjust">
          <FaIcon @icon={{if this.calculating "spinner" "wand-magic-sparkles"}} @spin={{this.calculating}} />
        </BsButton>
        <button type="button" class={{if @song.viewMode "btn btn-sm btn-primary col-auto" "btn btn-sm btn-secondary col-auto"}} {{on "click" this.modeSwitch}} title="View mode"><FaIcon @icon="paragraph" /></button>
        <div class="btn-group btn-group-sm col-auto">
          <button type="button" class="btn btn-secondary" {{on "click" this.downKey}} title="Transpose down"><FaIcon @icon="down-long" /></button>
          <span class="btn btn-secondary disabled text-white">{{@song.transSteps}}</span>
          <button type="button" class="btn btn-secondary" {{on "click" this.upKey}} title="Transpose up"><FaIcon @icon="up-long" /></button>
        </div>
        <div class="btn-group btn-group-sm col-auto">
          <button type="button" class="btn btn-secondary" {{on "click" this.resetZoom}} title="Reset zoom"><FaIcon @icon="undo" /></button>
          <button type="button" class="btn btn-secondary" {{on "click" this.subZoom}} title="Zoom out"><FaIcon @icon="search-minus" /></button>
          <button type="button" class="btn btn-secondary" {{on "click" this.addZoom}} title="Zoom in"><FaIcon @icon="search-plus" /></button>
        </div>
        <div class="btn-group btn-group-sm col-auto">
          <button type="button" class="btn btn-secondary {{if (eq @song.columns 0) "active"}}" {{on "click" this.autoColumn}} title="Reset columns">
            <FaIcon @icon="columns" /> 
            {{if (gt @song.columns 0) @song.columns}}
          </button>
          <button type="button" class="btn btn-secondary px-1" {{on "click" this.lessColumn}} title="Less columns"><FaIcon @icon="minus" /></button>
          <button type="button" class="btn btn-secondary px-1" {{on "click" this.moreColumn}} title="More columns"><FaIcon @icon="plus" /></button>
        </div>
      </div>
    </div>
    <div class="d-none d-lg-block col-lg-auto px-3 text-end">
      <div class="d-block lyrics-controls pe-3">
        <div class="row g-1 justify-content-end">
          <button type="button" class="btn btn-secondary col-auto" {{on "click" this.toggleEdit}} title="Edit lyrics"><FaIcon @icon={{if this.isEditing "eye" "pen"}} /> {{if this.isEditing "View" "Edit"}}</button>
          <BsButton @type="secondary col-auto" @onClick={{this.autoAdjust}} title="Auto adjust">
            <FaIcon @icon={{if this.calculating "spinner" "wand-magic-sparkles"}} @spin={{this.calculating}} />
          </BsButton>
          <button type="button" class={{if @song.viewMode "btn btn-primary col-auto" "btn btn-secondary col-auto"}} {{on "click" this.modeSwitch}} title="View mode"><FaIcon @icon="paragraph" /></button>
          <div class="btn-group col-auto">
            <button type="button" class="btn btn-secondary" {{on "click" this.downKey}} title="Transpose down"><FaIcon @icon="down-long" /></button>
            <span class="btn btn-secondary disabled text-white">{{@song.transSteps}}</span>
            <button type="button" class="btn btn-secondary" {{on "click" this.upKey}} title="Transpose up"><FaIcon @icon="up-long" /></button>
          </div>
          <div class="btn-group col-auto">
            <button type="button" class="btn btn-secondary" {{on "click" this.resetZoom}} title="Reset zoom"><FaIcon @icon="undo" /></button>
            <button type="button" class="btn btn-secondary" {{on "click" this.subZoom}} title="Zoom out"><FaIcon @icon="search-minus" /></button>
            <button type="button" class="btn btn-secondary" {{on "click" this.addZoom}} title="Zoom in"><FaIcon @icon="search-plus" /></button>
          </div>
          <div class="btn-group col-auto">
            <button type="button" class="btn btn-secondary {{if (eq @song.columns 0) "active"}}" {{on "click" this.autoColumn}} title="Reset columns">
              <FaIcon @icon="columns" /> 
              {{if (gt @song.columns 0) @song.columns}}
            </button>
            <button type="button" class="btn btn-secondary px-1" {{on "click" this.lessColumn}} title="Less columns"><FaIcon @icon="minus" /></button>
            <button type="button" class="btn btn-secondary px-1" {{on "click" this.moreColumn}} title="More columns"><FaIcon @icon="plus" /></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{#if this.isEditing}}
    <div class="row flex-fill">
      <div class="col-12 flex-fill px-4">
        <div class="form-group row py-2 flex-fill h-100">            
          <div class="col-sm">   
            <Textarea @value={{@song.lyrics}} aria-label="Lyrics/tab" class="form-control h-100" placeholder="Write/paste your lyrics/tab here." rows="1" />
          </div>
        </div>
      </div>
    </div>
  {{else}} 
    <div class="d-flex mx-0 p-0 flex-fill h-100 overflow-hidden" id="bodycontainer">
      <div class="row m-0 flex-fill mh-100 listframe-reader">
        {{#if @song}}
          <style>
            .fancy-columns-pre,
            .fancy-columns {
              font-size: {{@song.zoomLevel}}em; 
              column-count: {{@song.columns}};
            }   
          </style>
          {{#if @song.viewMode}} 
            <div class="fancy-columns">
              {{chord-parser @song.lyrics key=0 mode=@song.viewMode}}
            </div>
          {{else}}
            <div class="fancy-columns-pre">
              {{@song.lyrics}}
            </div>
          {{/if}}
        {{/if}}
      </div>
    </div>
  {{/if}}  
</BsForm>