<BsButton @type={{@btnClass}} @onClick={{this.toggleModal}} title={{@buttonTitle}}><FaIcon @icon={{@btnIcon}} />{{@btnText}}</BsButton>
{{#in-element this.modalWormhole insertBefore=null}}
  <BsModal @size="md border rounded bg-dark" @open={{this.visible}} as |Modal|>
    <Modal.header @closeButton={{false}} class="p-0 m-0 w-100 border-0 rounded">
      <div class="row g-0 w-100 bg-dark bg-gradient border-0 rounded-top">
        <div class="col py-1 ps-3"><span class="h5 text-white">{{@buttonTitle}}</span></div>
        <div class="col-auto">
          <button type="button" class="btn btn-dark rounded-0 rounded-top-right border-0" {{on "click" (fn this.toggleModal Modal)}}><FaIcon @icon="times" /></button>
        </div>
      </div>
    </Modal.header>
    <Modal.body>
      {{yield}}
    </Modal.body>
    <Modal.footer class="py-2" as |footer|>
      <BsButton @onClick={{this.toggleModal}} @type="success">Ok</BsButton>
    </Modal.footer>
  </BsModal>
{{/in-element}}