<div class="w-effects w-100 w-xxl-35 w-lg-50 w-md-50 w-sm-75 h-100 flex-fill offcanvas offcanvas-end {{@offcClass}}"
  data-bs-backdrop="true" data-bs-scroll="true"
  data-bs-toggle="offcanvas"
  id={{this.offcId}}
  role="dialog"
  {{did-insert this.updateStatus}}
  {{did-update this.updateStatus @isVisible}}
>
  {{yield}}
</div>