<div class="row h-100 flex-fill m-0 p-0">
  <div class="col-12 h-100 flex-fill p-0 m-0 listframe">   
    {{#if this.pendingRequests}}
      <table class="table table-dark">
        <thead>
          <tr>
            <th class="bg-transparent text-white"><span class="d-inline-block float-start"><small>Song</small></span> <span class="d-inline-block float-end"><small>Requested by</small></span></th>
          </tr>
        </thead>
        <tbody>
          {{#each this.pendingRequests as |request|}}
            {{#if (eq request.fullText this.globalConfig.config.lastPlayed)}}
              <tr>
                <td class="bg-transparent text-white">
                  <div class="row g-0">
                    <strong class="col">{{request.title}}</strong>
                    <div class="col-auto">{{request.user}}</div>
                  </div>
                  <div class="row g-0">
                    <small class="col"><small>{{request.artist}}</small></small>
                    <small class="col-auto"><small>{{nicer-date request.timestamp format="YYYY/MM/DD HH:mm:ss"}}</small></small>
                  </div>
                </td>
              </tr>
            {{else}}
              <tr>
                <td class="bg-transparent text-white">
                  <div class="row g-0">
                    <strong class="col">{{request.title}}</strong>
                    <div class="col-auto">{{request.user}}</div>
                  </div>
                  <div class="row g-0">
                    <small class="col"><small>{{request.artist}}</small></small>
                    <small class="col-auto"><small>{{nicer-date request.timestamp format="YYYY/MM/DD HH:mm:ss"}}</small></small>
                  </div>
                </td>
              </tr>
            {{/if}}
            {{!-- <div class="h6">{{nicer-date request.timestamp format="YYYY/MM/DD HH:mm:ss"}}</div> --}}
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <div class="alert-dark border-0 rounded py-0 px-2 my-2 bg-transparent text-white">
        <div class="alert-heading h4">The queue is empty.</div>
      </div>
    {{/if}}
  </div>
</div>