<div class="card">
  <div class="card-header bg-dark text-white row p-0 m-0 g-0 border-0 rounded-top">
    <div class="col d-block align-self-center pe-0 ps-3"><h5 class="my-0">{{@song.title}}</h5></div>
    <div class="col-auto">
      <button type="button" class="btn btn-dark rounded-0 rounded-top-right border-0" {{on "click" @closeSong}}><FaIcon @icon="times" /></button>
    </div>
  </div>
  <div class="card-body">
    <BsForm @formLayout="horizontal" @model={{@song}} @onSubmit={{fn @saveSong}} as |form|>
      <form.element @controlType="text" @label="Title" class="pb-2" placeholder="Type the song title" @property="title" /> 
      <form.element @controlType="text" @label="Artist" class="pb-2" placeholder="Type the song artist" @property="artist" /> 
      <form.element @controlType="power-select" @property="type" class="pb-2" @label="Type" @options={{this.songTypes}} as |element| >
        <element.control placeholder="Select the song type" @allowClear={{true}} />
      </form.element>
      <form.element @controlType="text" @label="Account" class="pb-2" placeholder="Select the twitch account you want to link the song" @property="account" /> 
      <div class="form-group row pb-2">
        <label class="col-md-4">Active</label>
        <div class="col-sm">
          <form.element @controlType="checkbox" @label="" @formLayout="inline"  class="form-check form-check-inline ps-0" @property="active" />
        </div>
      </div>
      <div class="form-group row pb-2">
        <label class="col-md-4">Keywords:</label>    
        <div class="col-sm">
          <Textarea @value={{@song.keywords}} placeholder="Type words or phrases related to the song" class="form-control"/>
        </div>
      </div>
      <div class="form-group row pb-2">
        <label class="col-md-4">Lyrics/tab:</label>   
        <div class="col-sm">   
          <MarkdownEditor @value={{@song.lyrics}} @onChange={{fn (mut @song.lyrics)}} @rows="20" />
        </div>
      </div>
      <div class="form-group row pb-2">
        <label class="col-md-4">Permissions</label>
        <div class="col-sm">
          <form.element @controlType="checkbox" @label="Admin" @formLayout="inline" class="form-check form-check-inline ps-0" @property="admin" />
          <form.element @controlType="checkbox" @label="Mod" @formLayout="inline" class="form-check form-check-inline ps-0" @property="mod" />
          <form.element @controlType="checkbox" @label="Sub" @formLayout="inline" class="form-check form-check-inline ps-0" @property="sub" />
          <form.element @controlType="checkbox" @label="VIP" @formLayout="inline"  class="form-check form-check-inline ps-0" @property="vip" />
        </div>
      </div>
      <form.element @controlType="text" @label="Remote model ID" placeholder="You can't touch this!" @property="remoteid" class="pb-2" disabled={{true}} /> 

      <BsButton @type="success" @onClick={{fn @saveAndReturnSong}}><FaIcon @icon="save" /> Save & Return</BsButton> 
      <BsButton @type="secondary" @onClick={{fn this.doneEditing}}><FaIcon @icon="save" /></BsButton>
      <div class="text-success ms-2 {{if this.saving "d-inline-block fadeout" "d-none"}}"><FaIcon @icon="spinner" class={{if this.saving "spin"}} /> <span>Song saved!</span></div>
      <BsButton @type="danger" @onClick={{fn @deleteSong}} class="float-end">Delete</BsButton>
      
    </BsForm>
  </div>
</div>