<PbTopbarBtn
  @type="outline-secondary text-info"
  @buttonTitle="Keyboard Shortcuts"
  @btnIcon="question-circle"
  @btnText=""
>
  <div class="row">
    <div class="col">
      <p class="text-start">
        Next. Song: "Ctrl"+"."<br />
        Prev. Song: "Ctrl"+","<br />
        Lock Song: "Ctrl"+"L"<br />
        <br />
        Edit Song: "Ctrl"+"Shift"+"E"<br />
        Save Song: "Ctrl"+"Alt"+"S"<br />
        Auto adjust: "Ctrl"+"M"<br />
        <br />
        Zoom In: "Ctrl"+"Arrow Up"<br />
        Zoom Out: "Ctrl"+"Arrow Down"<br />
        More Columns: "Ctrl"+"Arrow Right"<br />
        Less Columns: "Ctrl"+"Arrow Left"<br />
        Transpose Up: "Alt"+"Arrow Up"<br />
        Transpose Down: "Alt"+"Arrow Down"<br />
      </p>
    </div>
  </div>
</PbTopbarBtn>
<div
  class="row h-100 flex-fill m-0 p-0"
  {{did-insert this.setActiveSong}}
  {{did-update this.setActiveSong this.queueHandler.pendingSongs}}
  {{did-update this.setActiveSong this.selected}}
>
  <div class="col-12 h-100 flex-fill p-0 m-0">
    {{! song listing }}
    <div class="card h-100 flex-fill rounded-0">
      <div class="card-header px-2">
        <div class="row g-0 g-md-1">
          <div class="col">
            <div class="input-group g-0">
              <div class="col">
                <PowerSelect
                  @searchEnabled={{true}}
                  @search={{this.searchSong}}
                  @searchMessage=""
                  @options=""
                  @searchPlaceholder="Type a song"
                  @selected={{this.selected}}
                  @searchClass="form-control w-100"
                  @triggerClass="rounded-end-0"
                  id="selectReader"
                  @allowClear={{false}}
                  @onChange={{this.selectSong}}
                  @placeholder={{this.currentSong}}
                  @placeholderComponent={{component "song-select-placeholder"}}
                  as |song|
                >
                  <span class="overflow-hidden"><strong>{{song.title}}</strong>
                    {{#if song.artist}}-
                      <span
                        class="text-secondary"
                      >{{song.artist}}</span>{{/if}}</span>
                </PowerSelect>
              </div>
              <div class="col-auto">
                <BsButton
                  @type="secondary rounded-0"
                  @onClick={{this.clearSelect}}
                  disabled={{not this.selected}}
                  title="Clear selection"
                >
                  <FaIcon @icon="cancel" />
                </BsButton>
              </div>
              <div class="col-auto">
                <BsButton
                  @type="secondary rounded-start-0"
                  @onClick={{this.togglePlaying}}
                  disabled={{this.selected}}
                  title="Lock/Unlock song"
                >
                  <FaIcon
                    @icon={{if this.activeRequest.isPlaying "lock" "unlock"}}
                  />
                </BsButton>
              </div>
              <div class="col-auto">
                <button
                  type="button"
                  class="btn btn-secondary col-auto ms-1"
                  {{on "click" this.toggleEdit}}
                  disabled={{not this.currentSong}}
                  title="Edit lyrics"
                ><FaIcon @icon={{if this.isEditing "eye" "pen"}} /></button>
              </div>
            </div>
          </div>
          <div class="d-lg-none col-12 col-lg-auto text-end mt-2">
            <div class="row g-0 g-md-1 me-auto float-end">
              <BsButton
                @type="secondary btn-sm col-auto"
                @onClick={{this.autoAdjust}}
                title="Auto adjust"
              >
                <FaIcon
                  @icon={{if this.calculating "spinner" "wand-magic-sparkles"}}
                  @spin={{this.calculating}}
                />
              </BsButton>
              <button
                type="button"
                class={{if
                  this.currentSong.viewMode
                  "btn btn-primary btn-sm col-auto"
                  "btn btn-secondary btn-sm col-auto"
                }}
                {{on "click" this.modeSwitch}}
                title="View mode"
              ><FaIcon @icon="paragraph" /></button>
              <div class="btn-group btn-group-sm col-auto">
                <button
                  type="button"
                  class="btn btn-secondary"
                  {{on "click" this.downKey}}
                  title="Transpose down"
                ><FaIcon @icon="down-long" /></button>
                <span
                  class="btn btn-secondary disabled text-white"
                >{{this.currentSong.transSteps}}</span>
                <button
                  type="button"
                  class="btn btn-secondary"
                  {{on "click" this.upKey}}
                  title="Transpose up"
                ><FaIcon @icon="up-long" /></button>
              </div>
              <div class="btn-group btn-group-sm col-auto">
                <button
                  type="button"
                  class="btn btn-secondary"
                  {{on "click" this.resetZoom}}
                  title="Reset zoom"
                ><FaIcon @icon="undo" /></button>
                <button
                  type="button"
                  class="btn btn-secondary"
                  {{on "click" this.subZoom}}
                  title="Zoom out"
                ><FaIcon @icon="search-minus" /></button>
                <button
                  type="button"
                  class="btn btn-secondary"
                  {{on "click" this.addZoom}}
                  title="Zoom in"
                ><FaIcon @icon="search-plus" /></button>
              </div>
              <div class="btn-group btn-group-sm col-auto">
                <button
                  type="button"
                  class="btn btn-secondary
                    {{if (eq this.currentSong.columns 0) 'active'}}"
                  {{on "click" this.autoColumn}}
                  title="Reset columns"
                >
                  <FaIcon @icon="columns" />
                  {{if
                    (gt this.currentSong.columns 0)
                    this.currentSong.columns
                  }}
                </button>
                <button
                  type="button"
                  class="btn btn-secondary px-1"
                  {{on "click" this.lessColumn}}
                  title="Less columns"
                ><FaIcon @icon="minus" /></button>
                <button
                  type="button"
                  class="btn btn-secondary px-1"
                  {{on "click" this.moreColumn}}
                  title="More columns"
                ><FaIcon @icon="plus" /></button>
              </div>
              <BsButton
                @type="{{this.btnState}} btn-sm col-auto"
                disabled={{not this.currentSong.hasDirtyAttributes}}
                @onClick={{this.doneEditing}}
                title="Save song"
              >
                <FaIcon @icon="save" @pulse={{this.saving}} />
              </BsButton>
              <BsButton
                @type="info btn-sm col-auto ms-0 ms-md-1 ps-0 ps-md-1"
                @onClick={{this.toggleSetlist}}
                title="Queue/Setlist manager"
              >
                <div class="row g-0 g-md-1">
                  <div class="col-auto">
                    {{svg-jar
                      (if this.isSetlist "setlist-close" "setlist-open")
                      class="setlist-icon align-middle ms-1"
                    }}
                  </div>
                  <div class="col-auto">
                    {{#unless this.isSetlist}}
                      {{#if this.queueHandler.pendingSongs}}
                        <span class="position-relative opacity-75">
                          <small
                            class="position-absolute top-0 start-100 translate-middle badge px-1 py-0 border border-danger ms-2 bg-danger"
                          >
                            {{this.queueHandler.pendingSongs.length}}
                          </small>
                        </span>
                      {{/if}}
                    {{/unless}}
                  </div>
                </div>
              </BsButton>
            </div>
          </div>
          <div class="d-none d-lg-block col-lg-auto">
            <div class="row g-0 g-md-1">
              <BsButton
                @type="secondary col-auto"
                @onClick={{this.autoAdjust}}
                title="Auto adjust"
              >
                <FaIcon
                  @icon={{if this.calculating "spinner" "wand-magic-sparkles"}}
                  @spin={{this.calculating}}
                />
              </BsButton>
              <button
                type="button"
                class={{if
                  this.currentSong.viewMode
                  "btn btn-primary col-auto"
                  "btn btn-secondary col-auto"
                }}
                {{on "click" this.modeSwitch}}
                title="View mode"
              ><FaIcon @icon="paragraph" /></button>
              <div class="btn-group col-auto">
                <button
                  type="button"
                  class="btn btn-secondary"
                  {{on "click" this.downKey}}
                  title="Transpose down"
                ><FaIcon @icon="down-long" /></button>
                <span
                  class="btn btn-secondary disabled text-white"
                >{{this.currentSong.transSteps}}</span>
                <button
                  type="button"
                  class="btn btn-secondary"
                  {{on "click" this.upKey}}
                  title="Transpose up"
                ><FaIcon @icon="up-long" /></button>
              </div>
              <div class="btn-group col-auto">
                <button
                  type="button"
                  class="btn btn-secondary"
                  {{on "click" this.resetZoom}}
                  title="Reset zoom"
                ><FaIcon @icon="undo" /></button>
                <button
                  type="button"
                  class="btn btn-secondary"
                  {{on "click" this.subZoom}}
                  title="Zoom out"
                ><FaIcon @icon="search-minus" /></button>
                <button
                  type="button"
                  class="btn btn-secondary"
                  {{on "click" this.addZoom}}
                  title="Zoom in"
                ><FaIcon @icon="search-plus" /></button>
              </div>
              <div class="btn-group col-auto">
                <button
                  type="button"
                  class="btn btn-secondary
                    {{if (eq this.currentSong.columns 0) 'active'}}"
                  {{on "click" this.autoColumn}}
                  title="Reset columns"
                >
                  <FaIcon @icon="columns" />
                  {{if
                    (gt this.currentSong.columns 0)
                    this.currentSong.columns
                  }}
                </button>
                <button
                  type="button"
                  class="btn btn-secondary px-1"
                  {{on "click" this.lessColumn}}
                  title="Less columns"
                ><FaIcon @icon="minus" /></button>
                <button
                  type="button"
                  class="btn btn-secondary px-1"
                  {{on "click" this.moreColumn}}
                  title="More columns"
                ><FaIcon @icon="plus" /></button>
              </div>
              <BsButton
                @type="{{this.btnState}}  col-auto"
                @class={{this.currentSong.hasDirtyAttributes
                  "btn-warning pulse"
                }}
                disabled={{not this.currentSong.hasDirtyAttributes}}
                @onClick={{this.doneEditing}}
                title="Save song"
              >
                <FaIcon @icon="save" @pulse={{this.saving}} />
              </BsButton>
              <BsButton
                @type="info col-auto ms-0 ms-md-1 ps-0 ps-md-1"
                @onClick={{this.toggleSetlist}}
                title="Queue/Setlist manager"
              >
                <div class="row g-0">
                  <div class="col-auto">
                    {{svg-jar
                      (if this.isSetlist "setlist-close" "setlist-open")
                      class="setlist-icon align-middle ms-1"
                    }}
                  </div>
                  <div class="col-auto">
                    {{#unless this.isSetlist}}
                      {{#if this.queueHandler.pendingSongs}}
                        <span class="position-relative opacity-75">
                          <small
                            class="position-absolute top-0 start-100 translate-middle badge px-1 py-0 border border-danger ms-2 bg-danger"
                          >
                            {{this.queueHandler.pendingSongs.length}}
                          </small>
                        </span>
                      {{/if}}
                    {{/unless}}
                  </div>
                </div>
              </BsButton>
            </div>
          </div>
        </div>
      </div>
      {{#if this.isEditing}}
        <div class="card-body mx-0 p-0 flex-fill" id="bodycontainer">
          <div class="row flex-fill h-100">
            <div class="col-12 flex-fill px-4">
              <div class="form-group row py-2 flex-fill h-100">
                <div class="col-sm">
                  <Textarea
                    @value={{this.currentSong.lyrics}}
                    aria-label="Lyrics/tab"
                    class="form-control h-100 lyrics-editor"
                    placeholder="Write/paste your lyrics/tab here."
                    rows="1"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      {{else}}
        <div
          class="card-body mx-0 p-0 flex-fill h-100 overflow-hidden
            {{if this.isLocked 'locked'}}
            {{if this.selected 'selected' 'request'}}
            {{if
              (and this.activeRequest.isPremium (not this.selected))
              'premium'
            }}"
          id="bodycontainer"
          {{on "touchstart" this.swipeQueue}}
          {{on "touchend" this.swipeQueue}}
        >
          <div class="row m-0 flex-fill mh-100 listframe-reader">
            {{#if this.restore}}
              {{#if this.currentSong}}
                <style>
                  .fancy-columns-pre, .fancy-columns { font-size:
                  {{this.currentSong.zoomLevel}}em; column-count:
                  {{this.currentSong.columns}}; }
                </style>
                {{#if this.currentSong.viewMode}}
                  <div class="fancy-columns">
                    {{chord-parser
                      this.currentSong.lyrics
                      key=0
                      mode=this.currentSong.viewMode
                    }}
                  </div>
                {{else}}
                  <div class="fancy-columns-pre">
                    {{this.currentSong.lyrics}}
                  </div>
                {{/if}}
              {{/if}}
            {{else}}
              Reloading...
            {{/if}}
          </div>
        </div>
      {{/if}}
      <div class="card-footer py-0 my-0 px-2">
      </div>
    </div>
  </div>
</div>
<PbSongsSetlistOffc
  @toggleSetlist={{this.toggleSetlist}}
  @isSetlist={{this.isSetlist}}
  @isReader={{true}}
  @isStream={{false}}
  @offcClass="pt-offc-custom border-0 bg-transparent px-0"
  @closeSetlist={{this.closeSetlist}}
/>

{{on-key "ctrl+Period" this.queueHandler.nextSong}}
{{on-key "ctrl+Comma" this.queueHandler.prevSong}}
{{on-key "ctrl+KeyL" this.togglePlaying}}

{{on-key "ctrl+shift+KeyE" this.toggleEdit}}
{{on-key "ctrl+alt+KeyS" this.doneEditing}}

{{on-key "alt+ArrowUp" this.upKey}}
{{on-key "alt+ArrowDown" this.downKey}}
{{on-key "ctrl+KeyM" this.autoAdjust}}
{{on-key "ctrl+ArrowUp" this.addZoom}}
{{on-key "ctrl+ArrowDown" this.subZoom}}
{{on-key "ctrl+ArrowLeft" this.lessColumn}}
{{on-key "ctrl+ArrowRight" this.moreColumn}}
{{on-key "ctrl+KeyQ" this.queueHandler.modPressed event="keypress"}}
{{on-key "ctrl+KeyQ" this.queueHandler.modNotPressed event="keyup"}}