  <style>
    .fancy-colums {
      font-size: {{this.globalConfig.config.readerZoom}}em!important; 
      column-count: {{this.globalConfig.config.readerColumns}}!important;
    }   
  </style>
<div class="row h-100 flex-fill m-0 p-0">
  <div class="col-12 h-100 flex-fill p-0 m-0"> 
      {{!-- song listing --}}
      <div class="card h-100 flex-fill">
        <div class="card-header px-2">
          <div class="row g-1">
            <div class="col">
              <PowerSelect @searchEnabled={{true}} @search={{this.searchSong}} @searchMessage="" @options="" @searchPlaceholder="Type a song" @selected={{this.selected}}  @searchClass="form-control w-100"  @allowClear={{true}} @onChange={{this.selectSong}} @placeholder="Select a song" as |song|>
                <span>{{song.title}} {{#if song.artist}}- <span class="text-secondary">{{song.artist}}</span>{{/if}}</span>
              </PowerSelect>
            </div>
            <div class="col-auto">
              <div class="btn-group">
                <button type="button" class="btn btn-secondary" {{on "click" this.resetZoom}} alt="Reset zoom"><FaIcon @icon="undo" /></button>
                <button type="button" class="btn btn-secondary" {{on "click" this.subZoom}} alt="Zoom out"><FaIcon @icon="search-minus" /></button>
                <button type="button" class="btn btn-secondary" {{on "click" this.addZoom}} alt="Zoom in"><FaIcon @icon="search-plus" /></button>
              </div>
              <div class="btn-group">
                <button type="button" class="btn btn-secondary {{if (eq this.globalConfig.config.readerColumns 0) "active"}}" {{on "click" this.autoColumn}} alt="Auto columns">
                  <FaIcon @icon="columns" /> 
                  {{if (gt this.globalConfig.config.readerColumns 0) this.globalConfig.config.readerColumns}}
                </button>
                <button type="button" class="btn btn-secondary px-1" {{on "click" this.lessColumn}} alt="Less columns"><FaIcon @icon="minus" /></button>
                <button type="button" class="btn btn-secondary px-1" {{on "click" this.moreColumn}} alt="More columns"><FaIcon @icon="plus" /></button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body mx-0 p-0 flex-fill h-100 overflow-hidden" id="bodycontainer">
          <div class="row mx-0 flex-fill listframe-reader">
              {{!-- Song content --}}
              {{#if this.restore}}
                {{#if this.currentSong}}
                  <h5>{{this.currentSong.title}}</h5>
                  <div class="fancy-colums">{{this.currentSong.lyrics}}</div>
                {{/if}}
              {{else}}
                Reloading...
              {{/if}}
          </div>
        </div>
        <div class="card-footer py-0 my-0 px-2">
        </div>
      </div>
  </div>
</div>