{{#if @isEditing}}
  <div class="card-body">
    <BsForm @formLayout="horizontal" @model={{@stream}} @onSubmit={{fn this.doneAndReturnEditing}} as |form|>
      <form.element @controlType="text" @label="Stream Title" class="pb-2" placeholder="Stream title" @property="title" required />
      <form.element @controlType="text" @label="Stream Channel" class="pb-2" placeholder="Stream channel" @property="channel" required />
      
      <div class="form-group row pb-2">
        <label class="col-md-4">Stream Monitoring</label>
        <div class="col-sm">
          <form.element @controlType="checkbox" @label="Chat Logging" @formLayout="inline" @property="savechat" class="form-check form-check-inline ps-0"  />
          <form.element @controlType="checkbox" @label="Event Logging" @formLayout="inline" @property="events" class="form-check form-check-inline"  />
          <form.element @controlType="checkbox" @label="Song Request System" @formLayout="inline" @property="requests" class="form-check form-check-inline"  />
        </div>
      </div>
    
      <form.element @controlType="power-select" class="pb-2" @property="botclient" @label="Bot Client" @options={{@clients}} selected={{this.globalConfig.config.defbotclient}} @onChange={{fn @setBotClient}} required as |client|>
        <client.control @allowClear={{true}} @placeholder="Select the Bot Client for the stream" as |option|>
          {{option.username}}
        </client.control>
      </form.element>
      <form.element @controlType="power-select" class="pb-2" @property="chatclient" @label="Chat Client" @options={{@clients}} selected={{this.globalConfig.config.defchatclient}}  @onChange={{fn @setChatClient}}  required as |client|>
        <client.control @allowClear={{true}} @placeholder="Select the Chat Client for the stream" as |option|>
          {{option.username}}
        </client.control>
      </form.element>  
      <BsButton @type="success" @onClick={{fn this.doneAndReturnEditing}}><FaIcon @icon="save" /> Save & Return</BsButton> 
      <BsButton @type="secondary" @onClick={{fn this.doneEditing}}><FaIcon @icon="save" /></BsButton>
      <div class="text-success ms-2 {{if this.saving "d-inline-block fadeout" "d-none"}}"><FaIcon @icon="spinner" class={{if this.saving "spin"}} /> <span>Stream updated!</span></div>
      <BsButton @type="danger" @onClick={{fn @deleteStream}} class="float-end">Delete</BsButton>
    </BsForm>
  </div>
{{else}}
  <div class="card-body p-0 m-0 border-top-0 border-trans">
    <div class="row p-0 m-0 border border-dark rounded-0 bg-dark">
      <div class="col-2 row p-0 m-0 bg-dark">
        <BsButton class="btn-sm mx-0 border border-dark col-12 col-sm-6 rounded-0" @type={{if this.currentUser.soundBoardEnabled "info" "secondary"}} @onClick={{fn this.soundboardToggle}} title="Enable/disable soundboard">
          {{on-key "ctrl+KeyM" this.soundboardToggle}}  
          <FaIcon @icon={{if this.currentUser.soundBoardEnabled "volume-up" "volume-mute"}} />
        </BsButton>     
        <BsButton class="btn-sm mx-0 border border-dark col-12 col-sm-6 rounded-0" @type={{if @stream.requests (if this.currentUser.queueToFile "warning" "secondary") "secondary"}} @onClick={{fn this.queueWriter}} title="Enable/disable overlay queue file">
          {{#if @stream.requests}} {{on-key "ctrl+KeyN" this.queueWriter}} {{/if}}
          <FaIcon @icon={{if @stream.requests (if this.currentUser.queueToFile "file-alt" "file") "file"}} />
        </BsButton>
      </div>
      <div class="col row p-0 m-0 rounded-0 bg-dark">
        {{#if this.disableBotButton}}
          <BsButton class="btn-sm border border-dark col-12 col-sm mx-0 rounded-0" @type={{if this.twitchChat.botConnected "primary" "secondary"}} disabled={{this.disableBotButton}}><FaIcon @icon="play" /> Bot Client</BsButton>
        {{else}}      
          <BsButton class="btn-sm border border-dark col-12 col-sm mx-0 rounded-0" @type={{if this.twitchChat.botConnected "primary" "secondary"}} @onClick={{fn (if this.twitchChat.botConnected this.disconnectBot this.connectBot)}}>
            <FaIcon @icon={{if this.twitchChat.botConnected "stop" "play"}} /> Bot Client
          </BsButton>
        {{/if}}
        {{#if this.disableChatButton}}
          <BsButton class="btn-sm border border-dark col-12 col-sm mx-0 rounded-0" @type={{if this.twitchChat.chatConnected "success" "secondary"}} disabled={{this.disableChatButton}} ><FaIcon @icon="play" /> Chat Client</BsButton>
        {{else}}
          <BsButton class="btn-sm border border-dark col-12 col-sm mx-0 rounded-0" @type={{if this.twitchChat.chatConnected "success" "secondary"}} @onClick={{fn (if this.twitchChat.chatConnected this.disconnectChat this.connectChat)}}>
            <FaIcon @icon={{if this.twitchChat.chatConnected "stop" "play"}} /> Chat Client
          </BsButton>
        {{/if}}
      </div>
      <div class="col row p-0 m-0 rounded-0 text-nowrap bg-dark">
        {{!-- <BsButton class="btn-sm border border-dark col-12 col-sm mx-0 rounded-0" @type="danger" @onClick={{fn this.disconnectClients}} disabled={{this.disconnectButton}}>Disconnect Clients</BsButton> --}}
        <BsButton class="btn-sm border border-dark col-12 col-sm mx-0 rounded-0" @type="danger" @onClick={{fn this.finishStream}} disabled={{if this.twitchChat.botConnected false (if @stream.finished this.disconnectButton true)}}><FaIcon @icon="save" /> Finish Stream</BsButton>
        <BsButton class="btn-sm border border-dark col-12 col-sm mx-0 rounded-0 text-editstream" @type="warning" @onClick={{fn @editStream}}><FaIcon @icon="edit" /> Edit Stream</BsButton>
      </div>
    </div>
  </div>
  {{#unless @stream.finished}}  
    {{#if this.twitchChat.botConnected}}
      <div class="card-body p-0 m-0 pan-buttons-row">
        <div class="row p-0 m-0">
          {{#if @stream.events}}
            <div role="button" class="{{if this.globalConfig.config.extraPanLeft "col" "d-none"}} border alert-secondary p-0 m-0" {{on "click" this.toggleExtraPanLeftTop}}>
              <FaIcon @icon={{if this.globalConfig.config.extraPanLeftTop "grip-lines" "ellipsis-h"}} class="d-block mx-auto" />
            </div>
          {{else}}
            <div role="button" class="{{if this.globalConfig.config.extraPanLeft "col" "d-none"}} border alert-secondary p-0 m-0"></div>
          {{/if}}
          {{#if this.requests}}
            <div role="button" class="{{if this.globalConfig.config.extraPanRight (if this.globalConfig.config.extraPanLeft "col-5" "col") "d-none"}} border alert-secondary p-0 m-0" {{on "click" this.toggleExtraPanRightTop}}>
              <FaIcon @icon={{if this.globalConfig.config.extraPanRightTop "grip-lines" "ellipsis-h"}} class="d-block mx-auto" />
            </div>
          {{/if}}
        </div>
      </div>
      <div class="card-body p-0 m-0 flex-fill d-flex h-100 overflow-hidden">
        <EmberDragula class="row flex-fill d-flex h-100 mx-0 px-0 overflow-hidden" as |d|>
          <div role="button" class="h-100 d-flex border alert-secondary col-auto px-0" {{on "click" this.toggleExtraPanLeft}}>
            <span class="d-block align-self-center"><FaIcon @icon={{if this.globalConfig.config.extraPanLeft "grip-lines-vertical" "ellipsis-v"}} /></span>
          </div>
         <div class="{{if this.globalConfig.config.noPanels "col h-100 border m-0 p-0" "d-none"}}"></div>
          <div class="{{if this.globalConfig.config.extraPanLeft "col h-100 border m-0 p-0" "d-none"}}">
              <div class="row m-0 p-0 {{if @stream.events (if this.globalConfig.config.extraPanLeftTop (if this.globalConfig.config.extraPanLeftBottom "h-25" "h-100") "d-none")  "d-none"}} border">          
                <d.Container class="col h-100 border m-0 p-0">
                   {{#if @stream.events}}
                      <div id="events" class="row {{unless this.globalConfig.config.cpanevents "h-100 dragpanel"}} overflow-hidden border border-secondary m-0 p-0">            
                        <div class="col {{unless this.globalConfig.config.cpanevents "h-100"}} flex-column flex-fill d-flex overflow-hidden ">
                          <div class="row bg-secondary text-light">
                            <div class="col d-block align-self-center pe-0 ps-2"><h6 class="my-0">Events</h6></div>
                            <BsButtonGroup class="col-auto px-0" as |bg|>
                              <bg.button @type="secondary btn-sm rounded-0 border-0" @onClick={{fn this.togglePan "events"}} ><FaIcon @icon="{{if this.globalConfig.config.cpanevents "window-maximize" "window-minimize"}}" /></bg.button>
                            </BsButtonGroup>
                          </div>                          
                          <BsCollapse class="row h-100 overflow-hidden" @collapsed={{this.globalConfig.config.cpanevents}}>
                            {{#unless this.globalConfig.config.cpanevents}}                                                          
                              <div class="col-md eventsframe" {{scroll-position position=this.scrollEventsPosition relative=true}} id="eventlist">
                                {{#each this.events as |event|}}
                                  <div class="alert-dark {{event.type}} d-flex flex-column w-100 text-decoration-none py-0 px-2 my-1">
                                    <div class="row">
                                      <div class="col"><small>{{nicer-date event.timestamp format="YYYY/MM/DD HH:mm:ss"}}</small></div>
                                    </div>
                                    <div class="alert-heading h6">{{event.parsedbody}}</div>
                                  </div>
                                {{/each}}
                              </div>
                            {{/unless}}  
                          </BsCollapse>                          
                        </div>
                      </div>
                    {{/if}}
                </d.Container>
              </div>          
            <div class="row m-0 p-0 {{if this.globalConfig.config.extraPanLeftBottom (if this.globalConfig.config.extraPanLeftTop (if @stream.events "h-75" "h-100") "h-100") "d-none"}} border">
              <d.Container class="col h-100 border m-0 p-0">
                <div id="chat" class="row {{unless this.globalConfig.config.cpanmessages "h-100 dragpanel"}} overflow-hidden border border-secondary m-0 p-0">            
                  <div class="col {{unless this.globalConfig.config.cpanmessages "h-100"}} flex-column flex-fill d-flex overflow-hidden">
                    <div class="row  bg-secondary text-light">
                      <div class="col d-block align-self-center pe-0 ps-2"><h6 class="my-0">Recent messages</h6></div>
                      <BsButtonGroup class="col-auto px-0" as |bg|>
                        <bg.button @type="secondary btn-sm rounded-0 border-0" @onClick={{fn this.togglePan "messages"}} ><FaIcon @icon="{{if this.globalConfig.config.cpanmessages "window-maximize" "window-minimize"}}" /></bg.button>
                      </BsButtonGroup>
                    </div>
                    <BsCollapse class="row h-100 overflow-hidden" @collapsed={{this.globalConfig.config.cpanmessages}}>
                      {{#unless this.globalConfig.config.cpanmessages}}
                        <div class="col-md-12 chatframe" {{scroll-position position=this.scrollPosition relative=false}}>
                          
                          {{#each this.messages as |message|}}
                            <div class="row" id="{{message.id}}">
                              {{message-format message}}
                            </div>
                          {{/each}}
                                                  
                         {{!--  <iframe src="https://www.twitch.tv/embed/{{@stream.channel}}/chat?parent=localhost&darkpopout"
                                  height="100%"
                                  width="100%"
                                  sandbox="allow-same-origin allow-scripts allow-popups allow-modals allow-storage-access-by-user-activation allow-popups-to-escape-sandbox"
                          >
                          </iframe>--}}  
                        </div>  
                      {{/unless}}
                    </BsCollapse>  
                  </div>
                </div>
              </d.Container>
            </div>
          </div>
          {{#if this.requests}}
            {{on-key "ctrl+Period" this.nextSong}}
            {{on-key "ctrl+Comma" this.prevSong}}
            {{on-key "ctrl+KeyQ" this.modPressed event="keypress"}} 
            {{on-key "ctrl+KeyQ" this.modNotPressed event="keyup"}}
            <div class={{if this.overlayLoader "d-none"}}></div>
          {{/if}}
          <div class="{{if this.requests (if this.globalConfig.config.extraPanRight (if this.globalConfig.config.extraPanLeft "col-5 h-100 border  m-0 p-0" "col h-100 border  m-0 p-0") "d-none")}}">
            <div class="row m-0 p-0 {{if this.globalConfig.config.extraPanRightTop (if this.globalConfig.config.extraPanRightBottom "h-50" "h-100") "d-none"}} border">
              <d.Container class="col h-100 m-0 p-0"> 
                {{#if this.requests}}
                  <div id="pending" class="row {{unless this.globalConfig.config.cpanpending "h-100 dragpanel"}} overflow-hidden border border-secondary m-0 p-0">            
                    <div class="col {{unless this.globalConfig.config.cpanpending "h-100"}} flex-column flex-fill d-flex overflow-hidden ">
                      <div class="row bg-secondary text-light">
                        <div class="col d-block align-self-center pe-0 ps-2"><h6 class="my-0">Songs pending</h6></div>
                        <BsButtonGroup class="col-auto px-0" as |bg|>
                          <bg.button @type="secondary btn-sm rounded-0 border-0" @onClick={{fn this.togglePan "pending"}} ><FaIcon @icon="{{if this.globalConfig.config.cpanpending "window-maximize" "window-minimize"}}" /></bg.button>
                        </BsButtonGroup>
                      </div>
                      <BsCollapse class="row h-100 overflow-hidden" @collapsed={{this.globalConfig.config.cpanpending}}>
                        {{#unless this.globalConfig.config.cpanpending}}
                          <div class="col-md queueframe" {{scroll-position position=this.scrollPendingPosition relative=true}} id="songqueue">
                            {{#each this.pendingSongs as |pendingsong|}}
                              <div id={{pendingsong.id}} role="button" {{on "click" (fn this.requestStatus pendingsong)}} class="alert-info d-flex flex-column w-100 text-decoration-none py-0 px-2 my-1">
                                <div class="row">
                                  <div class="col"><small>{{nicer-date pendingsong.timestamp format="YYYY/MM/DD HH:mm:ss"}}</small></div>
                                  <div class="col-auto"><small>{{pendingsong.user}}</small></div>
                                </div>
                                <div class="alert-heading h6 {{if pendingsong.processed "processed"}}">{{pendingsong.song}}</div>
                              </div>
                            {{/each}}
                          </div>
                        {{/unless}}
                      </BsCollapse>  
                    </div>
                  </div>
                {{/if}}
              </d.Container>
            </div>
            <div class="row m-0 p-0 {{if this.globalConfig.config.extraPanRightBottom (if this.globalConfig.config.extraPanRightTop "h-50" "h-100") "d-none"}} border">
              <d.Container class="col h-100 m-0 p-0"> 
                {{#if this.requests}}
                  <div id="played" class="row {{unless this.globalConfig.config.cpanplayed "h-100 dragpanel"}} overflow-hidden border border-secondary m-0 p-0">            
                    <div class="col {{unless this.globalConfig.config.cpanplayed "h-100"}} flex-column flex-fill d-flex overflow-hidden ">
                      <div class="row bg-secondary text-light">
                        <div class="col d-block align-self-center pe-0 ps-2"><h6 class="my-0">Songs played</h6></div>
                        <BsButtonGroup class="col-auto px-0" as |bg|>
                          <bg.button @type="secondary btn-sm rounded-0 border-0" @onClick={{fn this.togglePan "played"}} ><FaIcon @icon="{{if this.globalConfig.config.cpanplayed "window-maximize" "window-minimize"}}" /></bg.button>
                        </BsButtonGroup>
                      </div>
                      <BsCollapse class="row h-100 overflow-hidden" @collapsed={{this.globalConfig.config.cpanplayed}}>
                        {{#unless this.globalConfig.config.cpanplayed}}
                          <div class="col-md queueframe" {{scroll-position position=this.scrollPlayedPosition relative=true}}>
                            {{#each this.playedSongs as |playedsong|}}
                              <div id={{playedsong.id}} role="button" {{on "click" (fn this.requestStatus playedsong)}} {{on-key "right" (fn this.backToQueue playedsong)}} class="alert-secondary border-light border d-flex flex-column text-decoration-none py-0 px-2 my-1">
                                <div class="row">
                                  <div class="col"><small>{{nicer-date playedsong.timestamp format="YYYY/MM/DD HH:mm:ss"}}</small></div>
                                  <div class="col-auto"><small>{{playedsong.user}}</small></div>
                                </div>
                                <div class="alert-heading h6 {{if playedsong.processed "processed"}}">{{playedsong.song}}</div>
                              </div>
                            {{/each}}
                          </div>
                        {{/unless}}
                      </BsCollapse>
                    </div>      
                  </div>
                {{/if}}
              </d.Container>
            </div>
          </div>
          <div role="button" class="h-100 d-flex border alert-secondary col-auto px-0" {{on "click" this.toggleExtraPanRight}}>
            <span class="d-block align-self-center"><FaIcon @icon={{if this.globalConfig.config.extraPanRight "grip-lines-vertical" "ellipsis-v"}} /></span>
          </div>
        </EmberDragula>
      </div>
      <div class="card-body p-0 m-0 pan-buttons-row">
        <div class="row p-0 m-0">
          {{#if @stream.events}}
            <div role="button" class="{{if this.globalConfig.config.extraPanLeft "col" "d-none"}} border alert-secondary p-0 m-0" {{on "click" this.toggleExtraPanLeftBottom}}>
              <FaIcon @icon={{if this.globalConfig.config.extraPanLeftBottom "grip-lines" "ellipsis-h"}} class="d-block mx-auto" />
            </div>
          {{else}}
            <div role="button" class="{{if this.globalConfig.config.extraPanLeft "col" "d-none"}} border alert-secondary p-0 m-0"></div>
          {{/if}}
          {{#if this.requests}}
            <div role="button" class="{{if this.globalConfig.config.extraPanRight (if this.globalConfig.config.extraPanLeft "col-5" "col") "d-none"}} border alert-secondary p-0 m-0" {{on "click" this.toggleExtraPanRightBottom}}>
              <FaIcon @icon={{if this.globalConfig.config.extraPanRightBottom "grip-lines" "ellipsis-h"}} class="d-block mx-auto" />
            </div>
          {{/if}}
        </div>
      </div>
    {{/if}}
    {{#unless this.disconnectButton}}  
      <div class="card-footer flex-column flex-fill d-flex p-0 my-0 alert-secondary"> 
        <div class="row m-0">
          <BsForm @formLayout="inline" @model={{this}} class="col-md-12 my-1 mx-0 py-1 px-2" @onSubmit={{fn this.sendMessage}} as |form|>
            <form.element @property="message" class="mb-0 pb-0"  as |el|>
              <el.control 
                @controlType="text"
                autocomplete="off"
                placeholder="Type your message here"
                 class="mb-0 my-0 py-1 rounded-0 chatinput border-dark"
                readonly={{this.inputDisabled}}        
              />
            </form.element>
          </BsForm>
        </div>      
      </div>
    {{/unless}}
  {{/unless}}
{{/if}}
