<div class="card {{unless @isEditing "h-100 flex-fill"}} mb-0 rounded-0 rounded-top border-0">
  <div class="card-header bg-dark m-0 p-0 border-0 border-bottom rounded-top">
    <div class="row g-0">
      <div class="col align-self-center pe-0 ps-3 text-truncate"><h5 class="my-0 text-white text-truncate">{{#if @stream.channel}} #{{@stream.channel}} - {{/if}}{{@stream.title}} <small class="muted">({{format-date @stream.date}})</small></h5></div>
      <div class="col-auto float-end">
        <BsButtonGroup class="px-0 rounded float-end" as |bg|>
          {{#unless @isEditing}}
            <PbModal @btnClass="btn btn-dark text-white rounded-0 border-0 {{if @stream.finished "d-none"}}" @buttonTitle="Keyboard Shortcuts" @btnIcon="question-circle" @btnText="">
              <div class="row">
                <div class="col">
                  <p class="text-start">
                    Toggle Soundboard: "Ctrl"+"M"<br>
                    Toggle Overlay Queue File: "Ctrl"+"N"<br>
                    Next. Song: "Ctrl"+"."<br>
                    Prev. Song: "Ctrl"+","<br>
                    Send most recently played song back to last position<br> in pending queue: "Ctrl"+"Q"+","<br>
                    Send played song back to last position in pending<br> queue: "Ctrl"+"Q"+Click on the song
                  </p>                
                </div>
              </div>
            </PbModal>
            <bg.button @type="dark" class="rounded-0 border-0" @onClick={{this.reloadStream}}><FaIcon @icon="redo-alt" /></bg.button>
          {{/unless}}
          <bg.button @type="dark" class="rounded-0 border-0" @onClick={{this.queueHandler.exportQueue}} ><FaIcon @icon="file-download" /></bg.button>
          {{#if this.currentUser.isTauri}}
            <bg.button @type="dark" class="rounded-0 border-0" @onClick={{this.currentUser.showLyrics}} ><FaIcon @icon="align-center" /></bg.button>
          {{/if}}
          <bg.button @type="dark" class="rounded-0 rounded-top-right border-0" @onClick={{@closeStream}}><FaIcon @icon="times" /></bg.button>
        </BsButtonGroup>
      </div>
    </div>
  </div>
  {{#if this.restore}}
    <PbStreamEdit @stream={{@stream}} @clients={{@clients}} @commands={{@commands}} @songs={{@songs}} @isEditing={{@isEditing}} @editStream={{@editStream}} @saveStream={{@saveStream}} @setChatClient={{@setChatClient}} @setBotClient={{@setBotClient}} @overlayGenerator={{@overlayGenerator}} @saveAndReturnStream={{@saveAndReturnStream}} @deleteStream={{@deleteStream}} />
  {{/if}}
  {{#unless @isEditing}}
    {{#if @stream.finished}}
      <div class="card-body p-0 m-0 h-100 flex-column d-flex flex-fill overflow-hidden">
        <div class="row p-0 m-0 h-100 d-flex flex-fill overflow-hidden">
          {{#if @stream.savechat}}
            <div class="col-md h-100 flex-column d-flex overflow-hidden border border-round">
              <div class="row alert-dark">
                <div class="col d-block align-self-center pe-0 ps-2"><h6 class="my-0">Chat log</h6></div>
              </div>
              <div class="row h-100 overflow-hidden">
                <div class="chatframe">
                  {{#each @stream.chatlog as |message|}}
                    <div class="row" id="{{message.id}}">
                      <div class="col chatline py-0 {{if message.reward "highlight alert-warning"}}">
                        {{message-format message}}
                      </div>
                    </div>
                  {{/each}}
                </div>
              </div>
            </div>
          {{/if}}
          <div class="{{if @stream.savechat "col-5" "col"}} h-100 border m-0 p-0">
            <div class="row m-0 p-0 {{if @stream.requests "h-50" "h-100"}} {{unless @stream.events "d-none"}}">
              {{#if @stream.events}}
                <div class="col h-100 flex-column d-flex overflow-hidden border border-round">
                  <div class="row alert-dark">
                    <div class="col d-block align-self-center pe-0 ps-2"><h6 class="my-0">Event list</h6></div>
                  </div>
                  <div class="row h-100 overflow-hidden">
                    <div class="col-md eventsframe">
                      {{#each @stream.eventlog as |event|}}
                        <div class="alert-dark {{event.type}} d-flex flex-column w-100 text-decoration-none py-0 px-2 my-1">
                          <div class="row">
                            <div class="col"><small>{{nicer-date event.timestamp format="YYYY/MM/DD HH:mm:ss"}}</small></div>
                          </div>
                          <div class="alert-heading h6">{{event.parsedbody}}</div>
                        </div>
                      {{/each}}
                    </div>  
                  </div>  
                </div>
              {{/if}}            
            </div>
            
            <div class="row m-0 p-0 {{if @stream.events "h-50" "h-100"}} {{unless @stream.requests "d-none"}}">
              {{#if @stream.requests}}
                <div class="col h-100 flex-column d-flex overflow-hidden border border-round">
                  <div class="row alert-dark">
                    <div class="col d-block align-self-center pe-0 ps-2"><h6 class="my-0">Request list</h6></div>
                  </div>
                  <div class="row h-100 overflow-hidden">
                    <div class="col-md queueframe">
                      {{#each @stream.songqueue as |song|}}
                        <div class="{{if song.processed "alert-info" "alert-light"}} bg-light d-flex flex-column w-100 py-0 px-2 my-1">
                          <div class="row">
                            <div class="col"><small>{{nicer-date song.timestamp format="YYYY/MM/DD HH:mm:ss"}}</small></div>
                            <div class="col-auto"><small>{{song.user}}</small></div>
                          </div>
                          <div class="alert-heading h6">
                            {{#if song.processed}}<FaIcon @icon="check-circle" @size="1x" />{{/if}}
                            <span>{{song.song}}</span>
                          </div>
                        </div>
                      {{/each}}
                    </div>  
                  </div>  
                </div>
              {{/if}}
            </div>
            
          </div>
        </div>
      </div>
    {{/if}}
  {{/unless}}
</div>