{{#if @isEditing}}
  <div class="card-body">
    <BsForm @formLayout="horizontal" @model={{@stream}} @onSubmit={{fn this.doneAndReturnEditing}} as |form|>
      <form.element @controlType="text" @label="Stream Title" placeholder="Stream title" @property="title" required />
      <form.element @controlType="text" @label="Stream Channel" placeholder="Stream channel" @property="channel" required />
      
      <form.element @controlType="checkbox" @label="Request System" @property="requests" />
      
      <form.element @controlType="power-select" @property="botclient" @label="Bot Client" @options={{@clients}} required as |client|>
        <client.control as |option|>
          {{option.username}}
        </client.control>
      </form.element>
      <form.element @controlType="power-select" @property="chatclient" @label="Chat Client" @options={{@clients}} required as |client|>
        <client.control as |option|>
          {{option.username}}
        </client.control>
      </form.element>  
      <BsButton @type="success" @onClick={{fn this.doneAndReturnEditing}}><FaIcon @icon="save" /> Save & Return</BsButton> 
      <BsButton @type="secondary" @onClick={{fn this.doneEditing}}><FaIcon @icon="save" /></BsButton>
      <div class="text-success ml-2 {{if this.saving "d-inline-block fadeout" "d-none"}}"><FaIcon @icon="spinner" @class={{if this.saving "spin"}} /> <span>Stream updated!</span></div>
      <BsButton @type="danger" @onClick={{fn @deleteStream}} class="float-right">Delete</BsButton>
    </BsForm>
  </div>
{{else}}
  <div class="card-body p-0 m-0 border-top-0 border-light">
    <div class="row p-0 m-0 border border-dark rounded-0 border-dark bg-dark">
      <div class="col-1 row p-0 m-0">
        <BsButton @class="btn-sm mx-0 border border-dark col-12 col-sm-6" @type="warning rounded-0" @onClick={{fn this.soundboardToggle}} title="Enable/disable soundboard">
          <FaIcon @icon="{{if this.soundBoardEnabled "volume-up" "volume-mute"}}" />
        </BsButton>     
        <BsButton @class="btn-sm mx-0 border border-dark col-12 col-sm-6" @type="danger rounded-0" @onClick={{fn this.queueWriter}} title="Enable/disable overlay queue file">
          <FaIcon @icon="{{if this.queueToFile "file-alt" "file"}}" />
        </BsButton>
      </div>
      <div class="col row p-0 m-0">
        {{#if this.disableBotButton}}
          <BsButton @class="btn-sm border border-dark col-12 col-sm mx-0" @type="info" @onClick={{fn this.disconnectBot}}><FaIcon @icon="unlink" /> Disconnect Bot Client</BsButton>
        {{else}}      
          <BsButton @class="btn-sm border border-dark col-12 col-sm mx-0" @type="info" @onClick={{fn this.connectBot}}><FaIcon @icon="link" /> Connect Bot Client</BsButton>
        {{/if}}
        {{#if this.disableChatButton}}
          {{#if this.disableBotButton}}
            <BsButton @class="btn-sm border border-dark col-12 col-sm mx-0" @type="secondary" @onClick={{fn this.disconnectChat}}><FaIcon @icon="unlink" /> Disconnect Chat Client</BsButton>
          {{else}}
            <BsButton @class="btn-sm border border-dark col-12 col-sm mx-0" @type="secondary" @onClick={{fn this.connectChat}} disabled={{this.disableChatButton}}><FaIcon @icon="link" /> Connect Chat Client</BsButton>
          {{/if}}
        {{else}}
          {{#if this.disableBotButton}}
            <BsButton @class="btn-sm border border-dark col-12 col-sm mx-0" @type="secondary" @onClick={{fn this.connectChat}} disabled={{this.disableChatButton}}><FaIcon @icon="link" /> Connect Chat Client</BsButton>
          {{/if}}
        {{/if}}
      </div>
      <div class="col row p-0 m-0 text-nowrap">
        <BsButton @class="btn-sm border border-dark col-12 col-sm mx-0" @type="danger" @onClick={{fn this.disconnectClients}} disabled={{this.disconnectButton}}>Disconnect Clients</BsButton>
        <BsButton @class="btn-sm border border-dark col-12 col-sm mx-0 rounded-0" @type="success" @onClick={{fn this.finishStream}} disabled={{if this.twitchChat.botConnected false @stream.finished}}>Finish Stream</BsButton>
      </div>
    </div>
  </div>
  {{#unless @stream.finished}}  
    {{#if this.twitchChat.botConnected}}
      {{#if this.requests}}
        {{on-key 'F7' this.nextSong}}{{on-key 'F9' this.prevSong}}
      {{/if}}
      <div class="card-body p-0 m-0 pan-buttons-row">
        <div class="row p-0 m-0">
          <div role="button" class="{{if this.extraPanLeft "col" "d-none"}} border alert-secondary p-0 m-0" {{on "click" this.toggleExtraPanLeftTop}}>
            <FaIcon @icon="ellipsis-h" class="d-block mx-auto" />
          </div>
          <div role="button" class="{{if this.requests (if this.extraPanRight (if this.extraPanLeft "col-5" "col") "d-none")}} border alert-secondary p-0 m-0" {{on "click" this.toggleExtraPanRightTop}}>
            <FaIcon @icon="ellipsis-h" class="d-block mx-auto" />
          </div>
        </div>
      </div>
      <div class="card-body p-0 m-0 flex-fill d-flex h-100 overflow-hidden">
        <EmberDragula class="row flex-fill d-flex h-100 mx-0 px-0 overflow-hidden" as |d|>
          <div role="button" class="h-100 d-flex border alert-secondary float-right" {{on "click" this.toggleExtraPanLeft}}>
            <span class="d-block align-self-center"><FaIcon @icon="ellipsis-v" /></span>
          </div>
          <div class="{{if this.extraPanLeft "col h-100 border m-0 p-0" "d-none"}}">
            <div class="row m-0 p-0 {{if this.extraPanLeftTop (if this.extraPanLeftBottom "h-50" "h-100") "d-none"}} border">          
              <d.Container class="col h-100 border m-0 p-0">
                <div id="chat" class="row {{unless this.cpanmessages "h-100 dragpanel"}} overflow-hidden border border-secondary m-0 p-0">            
                  <div class="col {{unless this.cpanmessages "h-100"}} flex-column flex-fill d-flex overflow-hidden">
                    <div class="row  bg-secondary text-light">
                      <div class="col d-block align-self-center pr-0 pl-3"><h6 class="my-0">Recent messages</h6></div>
                      <BsButtonGroup class="col-auto px-0" as |bg|>
                        <bg.button @type="secondary btn-sm rounded-0 border-0" @onClick={{fn this.togglePan "messages"}} ><FaIcon @icon="{{if this.cpanmessages "window-maximize" "window-minimize"}}" /></bg.button>
                      </BsButtonGroup>
                    </div>
                    <BsCollapse class="row h-100 overflow-hidden" @collapsed={{this.cpanmessages}}>
                      <div class="col-md-12 chatframe" {{scroll-position this.scrollPosition relative=true}}>
                        {{#each this.messages as |message|}}
                          <div class="row" id="{{message.id}}">
                            <div class="col chatline py-2 {{if message.reward "highlight alert-warning"}}">
                              {{message-format message}}
                            </div>
                          </div>
                        {{/each}}
                      </div>  
                    </BsCollapse>  
                  </div>
                </div>
              </d.Container>
            </div>
            <div class="row m-0 p-0 {{if this.extraPanLeftBottom (if this.extraPanLeftTop "h-50" "h-100") "d-none"}} border">
              <d.Container class="col h-100 border m-0 p-0">

              </d.Container>
            </div>
          </div>
          <div class="{{if this.requests (if this.extraPanRight (if this.extraPanLeft "col-5 h-100 border  m-0 p-0" "col h-100 border  m-0 p-0") "d-none")}}">
            <div class="row m-0 p-0 {{if this.extraPanRightTop (if this.extraPanRightBottom "h-50" "h-100") "d-none"}} border">
              <d.Container class="col h-100 m-0 p-0"> 
                {{#if this.requests}}
                  <div id="pending" class="row {{unless this.cpanpending "h-100 dragpanel"}} overflow-hidden border border-secondary m-0 p-0">            
                    <div class="col {{unless this.cpanpending "h-100"}} flex-column flex-fill d-flex overflow-hidden ">
                      <div class="row bg-secondary text-light">
                        <div class="col d-block align-self-center pr-0 pl-3"><h6 class="my-0">Songs pending</h6></div>
                        <BsButtonGroup class="col-auto px-0" as |bg|>
                          <bg.button @type="secondary btn-sm rounded-0 border-0" @onClick={{fn this.togglePan "pending"}} ><FaIcon @icon="{{if this.cpanpending "window-maximize" "window-minimize"}}" /></bg.button>
                        </BsButtonGroup>
                      </div>
                      <BsCollapse class="row h-100 overflow-hidden" @collapsed={{this.cpanpending}}>
                        <div class="col-md queueframe" {{scroll-position this.scrollPendingPosition relative=false}} id="songqueue">
                          {{#each this.pendingSongs as |pendingsong|}}
                            <div role="button" {{on "click" (fn this.requestStatus pendingsong)}} class="alert-info d-flex flex-column w-100 text-decoration-none py-0 px-2 my-1">
                              <div class="row">
                                <div class="col"><small>{{moment-format pendingsong.timestamp "YYYY/MM/DD HH:mm:ss"}}</small></div>
                                <div class="col-auto"><small>{{pendingsong.user}}</small></div>
                              </div>
                              <div class="alert-heading h6 {{if pendingsong.processed "processed"}}">{{pendingsong.song}}</div>
                            </div>
                          {{/each}}
                        </div>  
                      </BsCollapse>  
                    </div>
                  </div>
                {{/if}}
              </d.Container>
            </div>
            <div class="row m-0 p-0 {{if this.extraPanRightBottom (if this.extraPanRightTop "h-50" "h-100") "d-none"}} border">
              <d.Container class="col h-100 m-0 p-0"> 
                {{#if this.requests}}
                  <div id="played" class="row {{unless this.cpanplayed "h-100 dragpanel"}} overflow-hidden border border-secondary m-0 p-0">            
                    <div class="col {{unless this.cpanplayed "h-100"}} flex-column flex-fill d-flex overflow-hidden ">
                      <div class="row bg-secondary text-light">
                        <div class="col d-block align-self-center pr-0 pl-3"><h6 class="my-0">Songs played</h6></div>
                        <BsButtonGroup class="col-auto px-0" as |bg|>
                          <bg.button @type="secondary btn-sm rounded-0 border-0" @onClick={{fn this.togglePan "played"}} ><FaIcon @icon="{{if this.cpanplayed "window-maximize" "window-minimize"}}" /></bg.button>
                        </BsButtonGroup>
                      </div>
                      <BsCollapse class="row h-100 overflow-hidden" @collapsed={{this.cpanplayed}}>
                        <div class="col-md queueframe" {{scroll-position this.scrollPlayedPosition relative=false}}>
                          {{#each this.playedSongs as |playedsong|}}
                            <div role="button" {{on "click" (fn this.requestStatus playedsong)}} class="alert-light border-light border d-flex flex-column text-decoration-none py-0 px-2 my-1">
                              <div class="row">
                                <div class="col"><small>{{moment-format playedsong.timestamp "YYYY/MM/DD HH:mm:ss"}}</small></div>
                                <div class="col-auto"><small>{{playedsong.user}}</small></div>
                              </div>
                              <div class="alert-heading h6 {{if playedsong.processed "processed"}}">{{playedsong.song}}</div>
                            </div>
                          {{/each}}
                        </div>  
                      </BsCollapse>
                    </div>      
                  </div>
                {{/if}}
              </d.Container>
            </div>
          </div>
          <div role="button" class="h-100 d-flex border alert-secondary float-left" {{on "click" this.toggleExtraPanRight}}>
            <span class="d-block align-self-center"><FaIcon @icon="ellipsis-v" /></span>
          </div>
        </EmberDragula>
      </div>
      <div class="card-body p-0 m-0 pan-buttons-row">
        <div class="row p-0 m-0">
          <div role="button" class="{{if this.extraPanLeft "col" "d-none"}} border alert-secondary p-0 m-0" {{on "click" this.toggleExtraPanLeftBottom}}>
            <FaIcon @icon="ellipsis-h" class="d-block mx-auto" />
          </div>
          <div role="button" class="{{if this.requests (if this.extraPanRight (if this.extraPanLeft "col-5" "col") "d-none")}} border alert-secondary p-0 m-0" {{on "click" this.toggleExtraPanRightBottom}}>
            <FaIcon @icon="ellipsis-h" class="d-block mx-auto" />
          </div>
        </div>
      </div>
    {{/if}}
    {{#unless this.disconnectButton}}  
      <div class="card-footer flex-column flex-fill d-flex p-0 my-0"> 
        <div class="row m-0">
          <BsForm @formLayout="vertical" @model={{this}} class="col-md-12 my-1 mx-0 py-0 px-2" @onSubmit={{fn this.sendMessage}} as |form|>
            <form.element @property="message" class="m-0 p-0" as |el|>
              <el.control 
                @controlType="text"
                placeholder="Type your message here"
                 class="my-0 py-0"
                readonly={{this.inputDisabled}}        
              />
            </form.element>
          </BsForm>
        </div>      
      </div>
    {{/unless}}
  {{/unless}}
{{/if}}
