<div class="card col h-100 flex-column flex-fill d-flex overflow-hidden">
  <div class="card-header">
    <div class="row">
      <div class="col py-2 pe-1"><span class="h5 card-title">Setlist/Queue</span></div>
      <div class="col-auto px-1">
        <button type="button" class="btn btn-secondary" {{on "click" this.togglePlayed}}>
          Show played ({{this.playedSongs.length}})
          <FaIcon @icon={{if this.showPlayed "minus-square" "plus-square"}} @size="1x" />
        </button>
        <BsButton @type="secondary" @onClick={{this.queueHandler.exportQueue}} title="Download setlist intext"><FaIcon @icon="file-download" /></BsButton>
        <ButtonConfirm @btnClass="btn btn-danger" @btnIcon="trash-alt" @btnText="" @confirmDescription="If you do this while streaming you will wipe all requests. Are you sure?" @targetAction={{this.queueHandler.clearAll}} @buttonTitle="Wipe setlist" />        
      </div>
    </div>
  </div>
  <div class="card-body row h-100 overflow-hidden px-2 py-0">
    <div 
      class="col-md listframe-setlist" 
      id="songqueue" 
      {{scroll-position position=this.scrollPendingPosition relative=false}}
      {{sortable-group groupName="setlist" onChange=(fn this.reorderItems this.queueHandler.pendingSongs)}}
    >
      {{#if this.showPlayed}}
        {{#each this.playedSongs as |playedsong|}}
          <div id={{playedsong.id}} class="alert alert-secondary w-100 text-decoration-none py-0 ps-2 pe-0 my-1 text-start row g-0">
            <button class="col border-0 text-start text-reset bg-transparent text-decoration-none" type="button" {{on "click" (fn this.queueHandler.requestStatus playedsong)}} >
              <div class="row g-0" role="presentation">
                <div class="col"><small>{{nicer-date playedsong.timestamp format="YYYY/MM/DD HH:mm:ss"}}</small></div>
                <div class="col-auto"><small class="pe-2">{{playedsong.user}}</small></div>
              </div>
              <div class="row g-0">
                <div class="col alert-heading h6 {{if playedsong.processed "processed"}}">{{playedsong.fullText}}</div>
              </div>
            </button>
            <div class="col-auto">
              <button type="button" class="btn btn-sm handle" {{on "click" (fn this.queueHandler.removePlayed playedsong)}}>
                <FaIcon @icon="times" @size="1x" class="d-block" />
              </button>                  
            </div>
          </div>
        {{/each}}
      {{/if}}
      {{#each this.queueHandler.pendingSongs as |pendingsong|}}
        <div id={{pendingsong.id}} class="row g-0 alert alert-info w-100 text-decoration-none py-0 px-0 my-1" {{sortable-item groupName="setlist" model=pendingsong}}>
          <div class="col-auto align-middle px-3 pt-2 rounded-0 handle" {{sortable-handle}}>
            <FaIcon @icon="grip-vertical" @size="1x" class="d-block" />
            <FaIcon @icon="grip-vertical" @size="1x" class="d-block" />
          </div>
          <button type="button" class="col border-0 text-start text-reset bg-transparent text-decoration-none" {{on "click" (fn this.queueHandler.requestStatus pendingsong)}}>
            <div class="col ps-2">
              <div class="row g-0">
                <div class="col"><small>{{nicer-date pendingsong.timestamp format="YYYY/MM/DD HH:mm:ss"}}</small></div>
                <div class="col-auto">
                  <small class="pe-1">{{pendingsong.user}}</small>
                </div>                    
              </div>
              <div class="row">
                <div class="col">
                  <div class="alert-heading h6 {{if pendingsong.processed "processed"}}">{{pendingsong.fullText}}</div>
                </div>
              </div>
            </div>
          </button>
          <div class="col-auto">
            <button type="button" class="btn btn-sm handle" {{on "click" (fn this.queueHandler.removePending pendingsong)}}>
              <FaIcon @icon="times" @size="1x" class="d-block" />
            </button>              
          </div>                
        </div> 
      {{/each}}     
    </div>
  </div>
  <div class="card-footer py-0 my-0 px-0">
    <span class="page-link disabled float-end bg-transparent border-0 text-secondary">Total: {{this.total}}</span>
  </div>  
</div>