<BsButton @type="warning" @onClick={{this.toggleModal}} title="Generate songs from your text files"><FaIcon @icon="file-import" />Generate</BsButton>
{{#in-element this.bootstrapWormhole insertBefore=null}}
  <BsModal @onSubmit={{this.generateSongs}} @open={{this.isViewing}} @scrollable={{true}} @size="lg rounded" as |Modal|>
    <Modal.header @closeButton={{false}} class="p-0 m-0 w-100 border-0 rounded">
      <div class="row g-0 w-100 bg-dark bg-gradient border-0 rounded-top">
        <div class="col py-1 ps-3"><span class="h5 text-white"><i class="glyphicon glyphicon-alert"></i> Import songs from your text files</span></div>
        <div class="col-auto">
          <button type="button" class="btn btn-dark rounded-0 rounded-top-right border-0" {{on "click" (fn this.toggleModal Modal.close)}}><FaIcon @icon="times" /></button>
        </div>
      </div>
    </Modal.header>
    <Modal.body>
      <BsForm @model={{this}} @formLayout="inline" class="row g-0 pb-2"  as |form|>
        <div class="row g-0 pb-2">
          {{#if this.currentUser.isTauri}}
            <BsButton @type="warning col-auto me-1" @onClick={{this.openSongsFolder}}><FaIcon @icon="folder-open" /> Select folder</BsButton>
          {{else}}
            {{#let (file-queue name="massSongs" onFileAdded=this.openSongsFolder) as |queue|}}
              <button type="button" class="btn btn-warning col-auto me-1" title="Import songs by text files">
                <label for="upload-txt" role="button">Select text files</label>
              </button>  
              <input
                type="file"
                id="upload-txt"
                accept="text/plain"
                class="p-0 m-0"
                hidden
                multiple
                {{queue.selectFile}}
              >
            {{/let}}
          {{/if}}
          
          <form.element @controlType="text" class="col" @property="separator" {{on "keydown" this.generateList}} as |el|>
            <el.control
              placeholder="Enter the artist/song separator string to process filenames"
              class="w-100 m-0"
            />
          </form.element>      
        </div>
        <div class="row g-0 pb-2">
          <form.element @controlType="text" class="col" @property="filterQuery" {{on "keydown" this.resetPage}} as |el|>
            <el.control
              placeholder="Filter importable songs."
              class="w-100 m-0"
            />
          </form.element>
        </div>
      </BsForm>
        {{#if this.songs}}
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                {{#if this.separator}}<th class="col-auto" scope="col">Artist</th>{{/if}}
                <th class={{if this.separator "col"}} scope="col">Title</th>
                <th class="col-auto pe-0" scope="col"><span class="float-start">Type</span><span class="float-end">Select</span></th>
              </tr>
              <tr>
                {{#if this.separator}}<th class="col-auto" scope="col"></th>{{/if}}
                <th class={{if this.separator "col"}} scope="col"><small class="float-end text-secondary">Bulk actions:</small></th>
                <th class="col-auto p-0" scope="col">
                  <BsForm @model={{this}} @formLayout="inline" class="input-group row g-0" as |form|>
                    <form.element @controlType="power-select" @property="bulkType" class="rounded-0 col ms-auto" @options={{@songTypes}} @onChange={{this.bulkChangeType}} as |element| >
                      <element.control @triggerClass="intable rounded-0" @allowClear={{true}} @placeholder="Select type" as |option|>
                        <span class="w-100">{{option}}</span>
                      </element.control>
                    </form.element>
                    <BsButton 
                      @type="outline-secondary alert-secondary"
                      class="rounded-0 col-auto border"  
                      @onClick={{this.bulkSelectAll}}
                    >
                      <FaIcon @icon={{if this.isBulk "square" "check-square"}} />
                    </BsButton>                         
                  </BsForm>
                </th>
              </tr>
            </thead>
            <tbody>
              {{#each this.pagedSongs as |song|}}                
                <tr class={{if song.selected "table-success"}}>                    
                  {{#if this.separator}}<td class="col-auto">{{song.artist}}</td>{{/if}}
                  <td class={{if this.separator "col"}}>{{song.title}}</td>
                  <td class="col-auto p-0">
                    <BsForm @model={{song}} @formLayout="inline" class="input-group row g-0" as |form|>
                      <form.element @controlType="power-select" @property="type" class="rounded-0 col ms-auto" @options={{@songTypes}} @onChange={{fn (mut song.type)}} as |element| >
                        <element.control @triggerClass={{if song.selected "intable selected rounded-0" "intable rounded-0"}} @allowClear={{true}} @placeholder="Select type" as |option|>
                          <span class="w-100">{{option}}</span>
                        </element.control>
                      </form.element>
                      <BsButton 
                        @type={{if song.selected "outline-success alert-success" "outline-secondary alert-secondary"}}
                        class="rounded-0 col-auto border" 
                        @onClick={{fn this.addToImport song}}
                      >
                        <FaIcon @icon={{if song.selected "check-square" "square"}} />
                      </BsButton>
                    </BsForm>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        {{/if}}
    </Modal.body>
    <Modal.footer class="py-2 row g-0" as |footer|>
      {{#if this.songs}}
        <PageNumbers @content={{this.pagedSongs}} @fullBorder={{true}} class="col" />
      {{/if}}
      <div class="col-auto">
        <BsButton @onClick={{this.toggleModal}} @type="danger">Cancel</BsButton>
        <BsButton @onClick={{this.generateSongs}} @type="success">Import</BsButton>
      </div>
    </Modal.footer>
  </BsModal>
{{/in-element}}