<div class="card h-100 flex-column flex-fill d-flex overflow-hidden shadow border-top border-secondary rounded-0">
  <div class="card-header px-0 border rounded-0 pb-0">
    <div class="row w-100 g-0 px-2">
      <div class="col py-2 my-0"><span class="h5 card-title ps-2">Queue</span></div>
      <div class="col-auto px-1">
        <ul class="nav nav-tabs border-bottom-0">
          {{#each this.tabList as |tab|}}
            <li class="nav-item">
              <a href="#"
                {{on "click" (fn this.tabSwitch tab)}}
                class={{if (eq this.activeTab tab) "nav-link active pb-3" "nav-link pb-3"}} 
              >
                <span class="text-capitalize">
                  {{tab}}
                    {{#if (eq tab "pending")}}
                      {{#if (eq tab this.activeTab)}}
                        <small class="badge bg-info text-dark p-1 opacity-75">
                          {{this.queueHandler.pendingSongs.length}}
                        </small>
                      {{else}}
                        <span class="placeholder-glow">
                          <small class="badge bg-info text-dark p-1 placeholder">
                            {{this.queueHandler.pendingSongs.length}}
                          </small>
                        </span>
                      {{/if}}
                    {{else}}
                      {{#if (eq tab this.activeTab)}}
                        <small class="badge bg-secondary p-1 opacity-75">
                          {{this.queueHandler.playedSongs.length}}
                        </small>
                      {{else}}
                        <span class="placeholder-glow">
                          <small class="badge bg-secondary p-1 placeholder">
                            {{this.queueHandler.playedSongs.length}}
                          </small>
                        </span>
                      {{/if}}
                    {{/if}}
                </span>
              </a>
            </li>
          {{/each}}
        </ul> 
      </div>
      <div class="col-auto">
        <BsButton @type="secondary" @onClick={{this.queueHandler.exportQueue}} title="Download setlist intext"><FaIcon @icon="file-download" /></BsButton>
        <ButtonConfirm @btnClass="btn btn-danger" @btnIcon="trash-alt" @btnText="" @confirmDescription="If you do this while streaming you will wipe all requests. Are you sure?" @targetAction={{this.queueHandler.clearAll}} @buttonTitle="Wipe setlist" />
        <BsButton @type="info alert alert-info m-0 p-0" @onClick={{@toggleSetlist}} title="Setlist/queue manager">
          <FaIcon @icon="angle-right" class="mx-1 align-middle" />     
          <span class="setlist-btn-text">||||||</span>
        </BsButton>
      </div>
    </div>
  </div>
  <div class="card-body d-block h-100 overflow-hidden g-0 py-2 px-0 border-start border-end rounded-0">
    {{#if (eq this.activeTab "played")}}
      <div class="col listframe-setlist px-2 h-100" id="playedSlSongs">
        {{#each this.playedSongs as |playedsong|}}
          <div id="slofc-{{playedsong.id}}" class="alert alert-secondary w-100 text-decoration-none py-0 ps-2 pe-0 my-1 text-start row g-0">
            <button class="col border-0 text-start text-reset bg-transparent text-decoration-none" type="button" {{on "click" (fn this.queueHandler.requestStatus playedsong)}} >
              <div class="row g-0" role="presentation">
                <div class="col"><small>{{nicer-date playedsong.timestamp format="YYYY/MM/DD HH:mm:ss"}}</small></div>
                <div class="col-auto"><small class="pe-2">{{playedsong.user}}</small></div>
              </div>
              <div class="row g-0">
                <div class="col alert-heading h6 {{if playedsong.processed "processed"}}">{{playedsong.fullText}}</div>
              </div>
            </button>
            <div class="col-auto">
              <button type="button" class="btn btn-sm handle align-top" {{on "click" (fn this.queueHandler.removePlayed playedsong)}}>
                <FaIcon @icon="times" @size="1x" class="d-block" />
              </button>                  
            </div>
          </div>
        {{/each}}
      </div>
    {{else}}  
      <div class="col listframe-setlist px-2 h-100"
         id="songqueue"
        {{scroll-position position=this.scrollPendingPosition relative=false}}
        {{sortable-group groupName="setlistofc" onChange=(fn this.reorderItems this.queueHandler.pendingSongs)}}
      >
        {{#each this.queueHandler.pendingSongs as |pendingsong|}}
          <div id={{pendingsong.id}} class="row g-0 alert alert-info w-100 text-decoration-none py-0 px-0 my-1" {{sortable-item groupName="setlistofc" model=pendingsong}}>
            <div class="col-auto px-3 rounded-0 handle d-flex flex-row" {{sortable-handle}}>
              <div class="align-self-center">
                <FaIcon @icon="grip-vertical" @size="1x" class="d-block align-self-center" />
                <FaIcon @icon="grip-vertical" @size="1x" class="d-block align-self-center" />
              </div>
            </div>
            <button type="button" class="col border-0 text-start text-reset bg-transparent text-decoration-none" {{on "click" (fn this.queueHandler.requestStatus pendingsong)}}>
              <div class="col ps-2">
                <div class="row g-0">
                  <div class="col"><small>{{nicer-date pendingsong.timestamp format="YYYY/MM/DD HH:mm:ss"}}</small></div>
                  <div class="col-auto">
                    <small class="pe-1">{{pendingsong.user}}</small>
                  </div>                    
                </div>
                <div class="row">
                  <div class="col">
                    <div class="alert-heading h6 {{if pendingsong.processed "processed"}}">{{pendingsong.fullText}}</div>
                  </div>
                </div>
              </div>
            </button>
            <div class="col-auto">
              <button type="button" class="btn btn-sm handle align-top" {{on "click" (fn this.queueHandler.removePending pendingsong)}}>
                <FaIcon @icon="times" @size="1x" class="d-block" />
              </button>              
            </div>                
          </div> 
        {{/each}}  
      </div>
    {{/if}}
  </div>
  <div class="card-footer py-0 my-0 px-2 border rounded-0">
    <span class="page-link disabled float-end bg-transparent border-0 text-secondary">Total: {{this.total}}</span>
  </div>  
</div>