<div class="card">
  <div class="card-header bg-dark text-white row p-0 m-0 border-0 rounded-top">
    <div class="col d-block align-self-center pr-0 pl-3"><h5 class="my-0">{{@song.title}}</h5></div>
    <BsButtonGroup class="col-auto px-0 rounded" as |bg|>
      <bg.button @type="dark rounded-0 rounded-top-right border-0" @onClick={{fn @closeSong}}><FaIcon @icon="times" /></bg.button>
    </BsButtonGroup>
  </div>
  <div class="card-body">
    <BsForm @formLayout="horizontal" @model={{@song}} @onSubmit={{fn @saveSong}} as |form|>
      <form.element @controlType="text" @label="Title" placeholder="Type the song title" @property="title" /> 
      <form.element @controlType="text" @label="Artist" placeholder="Type the song artist" @property="artist" /> 
      <form.element @controlType="power-select" @property="type" @label="Type" @options={{this.songTypes}} as |element| >
        <element.control placeholder="Select the song type" @allowClear={{true}} />
      </form.element>
      <form.element @controlType="text" @label="Account" placeholder="Select the twitch account you want to link the song" @property="account" /> 
      <div class="form-group row my-0">
        <label class="col-md-4">Active</label>
        <div class="col-sm">
          <form.element @controlType="checkbox" @label="" class="form-check form-check-inline" @property="active" />
        </div>
      </div>
      <form.element @controlType="textarea" @label="Keywords" placeholder="Type words or phrases related to the song" @property="keywords" /> 

      <div class="form-group row my-0">
        <label class="col-md-4">Permissions</label>
        <div class="col-sm pl-0">
          <form.element @controlType="checkbox" @label="Admin" @formLayout="inline" class="form-check form-check-inline" @property="admin" />
          <form.element @controlType="checkbox" @label="Mod" @formLayout="inline" class="form-check form-check-inline" @property="mod" />
          <form.element @controlType="checkbox" @label="Sub" @formLayout="inline" class="form-check form-check-inline" @property="sub" />
          <form.element @controlType="checkbox" @label="VIP" @formLayout="inline"  class="form-check form-check-inline" @property="vip" />
        </div>
      </div>
      
      <BsButton @type="success" @onClick={{fn @saveAndReturnSong}}><FaIcon @icon="save" /> Save & Return</BsButton> 
      <BsButton @type="secondary" @onClick={{fn this.doneEditing}}><FaIcon @icon="save" /></BsButton>
      <div class="text-success ml-2 {{if this.saving "d-inline-block fadeout" "d-none"}}"><FaIcon @icon="spinner" class={{if this.saving "spin"}} /> <span>Song saved!</span></div>
      <BsButton @type="danger" @onClick={{fn @deleteSong}} class="float-right">Delete</BsButton>
      
    </BsForm>
  </div>
</div>