<BsButton @type="warning" @onClick={{this.toggleModal}} title="Generate songs from your text files"><FaIcon @icon="file-import" />Generate</BsButton>
{{#in-element this.bootstrapWormhole insertBefore=null}}
  <BsModal @onSubmit={{this.generateSongs}} @open={{this.isViewing}} @scrollable={{true}} @size="lg" as |Modal|>
    <Modal.header @closeButton={{false}} class="p-0 m-0 bg-dark border-0 border-bottom rounded-top">
      <div class="row g-0 w-100">
        <div class="col py-1 ps-3"><span class="h5 text-white"><i class="glyphicon glyphicon-alert"></i> Import songs from your text files</span></div>
        <div class="col-auto">
          <button type="button" class="btn btn-dark rounded-0 rounded-top-right border-0" {{on "click" (fn this.toggleModal Modal.close)}}><FaIcon @icon="times" /></button>
        </div>
      </div>
    </Modal.header>
    <Modal.body>
      <BsForm @model={{this}} @formLayout="inline" class="row g-0"  as |form|>
        <div class="row g-0 pb-2">
          {{#if this.currentUser.isTauri}}
            <BsButton @type="warning col-auto me-1" @onClick={{this.openSongsFolder}}><FaIcon @icon="folder-open" /> Select folder</BsButton>
          {{else}}
            {{#let (file-queue name="massSongs" onFileAdded=this.openSongsFolder) as |queue|}}
              <button type="button" class="btn btn-warning col-auto me-1" title="Import songs by text files" for="upload-txt">Select text files</button>  
              <input
                type="file"
                id="upload-txt"
                accept="text/plain"
                class="p-0 m-0"
                hidden
                multiple
                {{queue.selectFile}}
              >
            {{/let}}
          {{/if}}
          
          <form.element @controlType="text" class="col" @property="separator" {{on "change" this.generateList}} {{on "keyup" this.generateList}}  as |el|>
            <el.control
              placeholder="Enter the artist/song separator string to process filenames"
              class="w-100 m-0"
            />
          </form.element>      
        </div>
        <div class="row g-0">
          <form.element @controlType="text" class="col" @property="filterQuery" {{on "keyup" this.resetPage}} as |el|>
            <el.control
              placeholder="Filter importable songs."
              class="w-100 m-0"
            />
          </form.element>
        </div>
      </BsForm>
        {{#if this.songs}}
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                {{#if this.separator}}<th class="col-lg-auto d-lg-table-cell d-none" scope="col">Artist</th>{{/if}}
                <th class="col" scope="col">Title</th>
                <th class="col-auto pe-0" scope="col" colspan="2"><span class="float-start unwrappable">Type</span><span class="float-end unwrappable">Select</span></th>
              </tr>
              <tr>
                {{#if this.separator}}<th class="col-lg-auto d-lg-table-cell d-none" scope="col"></th>{{/if}}
                <th class="col" scope="col"><small class="float-end text-secondary unwrappable">Bulk actions:</small></th>
                <th class="col-3 col-lg-2 p-0">
                  <BsForm @model={{this}} @formLayout="inline" class="input-group row g-0 {{if this.isBulk "bg-success-subtle"  "bg-dark-subtle"}}" as |form|>
                    <form.element @controlType="power-select" @property="bulkType" class="rounded-0 col ms-auto" @options={{@songTypes}} @onChange={{this.bulkChangeType}} as |element| >
                      <element.control @triggerClass="intable rounded-0" @allowClear={{true}} @placeholder="Select type" as |option|>
                        <span class="w-100">{{option}}</span>
                      </element.control>
                    </form.element>                        
                  </BsForm>
                </th>
                <th class="col-auto p-0 formcol" scope="col">
                  <BsForm @model={{this}} @formLayout="inline" class="input-group row g-0 {{if this.isBulk "bg-success-subtle" "bg-dark-subtle"}}">
                    <BsButton 
                      @type={{if this.isBulk "outline-success bg-success bg-opacity-10" "outline-secondary"}}
                      class="rounded-0 col-auto border-0 py-2 px-3"
                      {{on "click" this.bulkSelectAll}}
                    >
                      <FaIcon @icon={{if this.isBulk "check-square" "square"}} />
                    </BsButton>                        
                  </BsForm>
                </th>
              </tr>              
            </thead>
            <tbody>
              {{#each this.pagedSongs as |song|}}                
                <tr class={{if song.selected "bg-success-subtle"}}>                    
                  {{#if this.separator}}<td class="col-lg-auto d-lg-table-cell d-none"><div class="unwrappable">{{song.artist}}</div></td>{{/if}}
                  <td class="col"><div class="unwrappable">{{song.title}}</div></td>
                  <td class="col-3 col-lg-2 p-0">  
                    <BsForm @model={{song}} @formLayout="inline" class="input-group row g-0 {{if song.selected "bg-success bg-opacity-10" "bg-dark-subtle"}}" as |form|>
                      <form.element @controlType="power-select" @property="type" class="rounded-0 col ms-auto bg-opacity-10" @options={{@songTypes}} @onChange={{fn (mut song.type)}} as |element| >
                        <element.control @triggerClass={{if song.selected "intable selected rounded-0 bg-transparent" "intable rounded-0"}} @allowClear={{true}} @placeholder="Select type" as |option|>
                          <span class="w-100 bg-transparent">{{option}}</span>
                        </element.control>
                      </form.element>
                    </BsForm>
                  </td>
                  <td class="col-auto p-0 formcol">                    
                    <BsForm @model={{song}} @formLayout="inline" class="input-group row g-0 {{if song.selected "bg-success bg-opacity-10" "bg-dark-subtle"}}">
                      <BsButton
                        @type={{if song.selected "outline-success" "outline-secondary"}}
                        class="rounded-0 col-auto border-0 py-2 px-3" 
                        @onClick={{fn this.addToImport song}}
                      >
                        <FaIcon @icon={{if song.selected "check-square" "square"}} />
                      </BsButton>                      
                    </BsForm>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        {{/if}}
    </Modal.body>
    <Modal.footer class="py-2 g-0">
      {{#if this.songs}}
        <div class="col">
          <PageNumbers @content={{this.pagedSongs}} @fullBorder={{true}} />
        </div>
      {{/if}}
      <div class="col-auto">
        <BsButton @onClick={{this.toggleModal}} @type="danger">Cancel</BsButton>
        <BsButton @onClick={{this.generateSongs}} @type="success">Import</BsButton>
      </div>
    </Modal.footer>
  </BsModal>
{{/in-element}}