{{#if @requests}}
  <div id="played" class="row {{unless this.globalConfig.config.cpanplayed "h-100 dragpanel"}} overflow-hidden border border-secondary m-0 p-0">            
    <div class="col {{unless this.globalConfig.config.cpanplayed "h-100"}} flex-column flex-fill d-flex overflow-hidden ">
      <div class="row bg-secondary text-light">
        <div class="col d-block align-self-center pe-0 ps-2 py-0"><h6 class="my-0 py-1 dragula-handle">Songs played</h6></div>
        <BsButtonGroup class="col-auto px-0" as |bg|>
          <ButtonConfirm @btnClass="btn btn-secondary btn-sm rounded-0 border-0" @btnIcon="trash" @btnText="" @confirmDescription="Are you sure you want to wipe the played list?" @targetAction={{this.queueHandler.clearPlayed}} @buttonTitle="Wipe played" />
          <bg.button @type="secondary btn-sm rounded-0 border-0" @onClick={{this.togglePan}} ><FaIcon @icon="{{if this.globalConfig.config.cpanplayed "window-maximize" "window-minimize"}}" /></bg.button>
        </BsButtonGroup>
      </div>
      <BsCollapse class="row h-100 overflow-hidden" @collapsed={{this.globalConfig.config.cpanplayed}}>
        {{#unless this.globalConfig.config.cpanplayed}}
          <div class="col-md queueframe" {{scroll-position position=this.queueHandler.scrollPlayedPosition relative=true}}>
            {{#each this.queueHandler.playedSongs as |playedsong|}}
              <div id={{playedsong.id}} class="alert alert-secondary w-100 text-decoration-none py-0 ps-2 pe-0 my-1 text-start row g-0">
                <button class="col border-0 text-start text-reset bg-transparent text-decoration-none" type="button" {{on "click" (fn this.queueHandler.requestStatus playedsong)}} >
                  <div class="row g-0" role="presentation">
                    <div class="col"><small>{{nicer-date playedsong.timestamp format="YYYY/MM/DD HH:mm:ss"}}</small></div>
                    <div class="col-auto"><small class="pe-2">{{playedsong.user}}</small></div>
                  </div>
                  <div class="row g-0">
                    <div class="col alert-heading h6 {{if playedsong.processed "processed"}}">{{playedsong.fullText}}</div>
                  </div>
                </button>
                <div class="col-auto">
                  <button type="button" class="btn btn-sm handle" {{on "click" (fn this.queueHandler.removePlayed playedsong)}}>
                    <FaIcon @icon="times" @size="1x" class="d-block" />
                  </button>                  
                </div>
              </div>
            {{/each}}
          </div>
        {{/unless}}
      </BsCollapse>
    </div>      
  </div>
{{/if}}