<div id="chat" class="row {{unless this.globalConfig.config.cpanmessages "h-100 dragpanel"}} overflow-hidden border border-secondary m-0 p-0">            
  <div class="col {{unless this.globalConfig.config.cpanmessages "h-100"}} flex-column flex-fill d-flex overflow-hidden">
    <div class="row  bg-secondary text-light">
      <div class="col d-block align-self-center pe-0 ps-2"><h6 class="my-0">Recent messages</h6></div>
      <BsButtonGroup class="col-auto px-0" as |bg|>
        <bg.button @type="secondary btn-sm rounded-0 border-0" @onClick={{this.togglePan}} ><FaIcon @icon="{{if this.globalConfig.config.cpanmessages "window-maximize" "window-minimize"}}" /></bg.button>
      </BsButtonGroup>
    </div>
    <BsCollapse class="row h-100 overflow-hidden" @collapsed={{this.globalConfig.config.cpanmessages}}>                         
      <iframe 
        src={{this.embedChatUrl}}
        height="100%"
        width="100%"
        sandbox="allow-same-origin allow-scripts allow-popups allow-modals allow-storage-access-by-user-activation allow-popups-to-escape-sandbox"
      />
    </BsCollapse>  
  </div>
</div>