<div class="row h-100 flex-fill m-0 p-0">
  <div class="col-12 h-100 flex-fill p-0 m-0"> 
      {{!-- Stream listing --}}
      {{#unless @isViewing}}
        <div class="card h-100 flex-fill">
          <div class="card-header">
            <div class="row">
              <BsForm @model={{@queryParamsObj}} @formLayout="inline" class="col-12 col-sm px-1" @onchange={{this.resetPage}} as |form|>
                <form.element @controlType="text" class="w-100 my-0 mb-1" @property="query" as |el|>
                  <el.control
                    placeholder="Filter Streams"
                    tabIndex={{5}}
                    class="w-100 m-0"
                  />
                </form.element>
              </BsForm>
              <div class="col-lg-auto col-12 mx-1 pl-0 pr-2 px-lg-0">
                <BsButton @type="info" @onClick={{fn @createStream}}>Add New</BsButton>
              </div>
            </div>
          </div>
          <div class="card-body mx-0 p-0 flex-fill d-flex h-100 overflow-hidden">
            <div class="row mx-0 flex-fill d-flex h-100 listframe">
              <table class="table table-hover table-condensed col-12 my-0 px-0">
                <thead class="listheader thead-light">
                  <tr><th class="col-sm">Stream</th><th class="col-sm-auto">Date</th><th class="col-sm-auto">Admin</th></tr>
                </thead>
                <tbody>
                  {{#each this.pagedContent as |stream|}}  
                    <LinkTo @route="streams.stream" @model={{stream}} @tagName="tr" class="w-100" >
                      <td class="col-sm align-top">{{if stream.title stream.title "untitled"}}</td>
                      <td class="col-sm-auto align-top"><span class="text-nowrap">{{format-date stream.date }}</span></td>
                      <td class="col-auto align-top">
                        <BsButtonGroup @class="mx-auto" as |bg|>
                          <bg.button @type="" class="btn-sm btn-outline-secondary h-100 alert-secondary" @onClick={{fn @gridEditStream stream}}><FaIcon @icon="edit" /></bg.button>
                          <bg.button @type="" class="btn-sm btn-outline-danger h-100 alert-danger" @onClick={{fn @gridDeleteStream stream}}><FaIcon @icon="trash" /></bg.button>
                        </BsButtonGroup>
                      </td>
                    </LinkTo>       
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer py-0 my-0">
            <PageNumbers @content={{this.pagedContent}} />
          </div>
        </div>   
      {{/unless}}
      {{!-- Stream content --}}
    {{#if @isViewing}}
      {{yield}} 
    {{/if}}
  </div>    
</div>
