<div class="row h-100 pt-5 flex-fill">
  <div class="col-12 pt-3 h-100 flex-fill"> 
      {{!-- Stream listing --}}
      <div class="{{if @isViewing "d-none" "card"}}">
        <div class="card-header">
          <div class="row">
            <BsForm @model={{@queryParamsObj}} @formLayout="inline" class="col" @onchange={{this.resetPage}} as |form|>
              <form.element @controlType="text" class="w-100" @property="query" as |el|>
                <el.control
                  placeholder="Filter Streams"
                  tabIndex={{5}}
                  class="w-100"
                />
              </form.element>
            </BsForm>
            <div class="col-auto">
              <BsButton @type="info" @onClick={{fn @createStream}}>Add New</BsButton>
            </div>
          </div>
        </div>
        <div class="card-body mx-0 p-0">
          <div class="row mx-0">
            <table class="table table-hover table-condensed col-12 my-0">
              <thead>
                <tr><th class="col-sm">Stream</th><th class="col-sm-auto">Date</th><th class="col-sm-auto">Admin</th></tr>
              </thead>
              <tbody>
                {{#each this.pagedContent as |stream|}}  
                  <LinkTo @route="streams.stream" @model={{stream}} @tagName="tr" class="w-100" >
                    <td class="col-sm align-top">{{if stream.title stream.title "untitled"}}</td>
                    <td class="col-sm-auto align-top"><span class="text-nowrap">{{format-date stream.date }}</span></td>
                    <td class="col-auto align-top">
                      <BsButtonGroup @class="mx-auto" as |bg|>
                        <bg.button @type="" class="btn-sm btn-outline-secondary h-100 alert-secondary" @onClick={{fn @gridEditStream stream}}><i class="fa fa-pencil-square-o"></i></bg.button>
                        <bg.button @type="" class="btn-sm btn-outline-danger h-100 alert-danger" @onClick={{fn @gridDeleteStream stream}}><i class="fa fa-trash"></i></bg.button>
                      </BsButtonGroup>
                    </td>
                  </LinkTo>       
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer">
          <PageNumbers @content={{this.pagedContent}} />
        </div>
      </div>   
    
      {{!-- Stream content --}}
    {{#if @isViewing}}
      {{yield}} 
    {{/if}}
  </div>    
</div>
