<div class="row">
  <h1 class="col-md-12">Streams</h1>
</div>
<div class="row h-100">
  {{!-- stream listing --}}
  <div class={{if @isViewing "d-none" "col-md-12"}}>  
    <div class="row">
      <BsForm @model={{@queryParamsObj}} @formLayout="inline" class="col-md-8" @onchange={{this.resetPage}} as |form|>
        <form.element @controlType="text" class="row col-md-12" @property="query" as |el|>
          <el.control
            placeholder="Filter Streams"
            tabIndex={{5}}
            class="col-md-12"
          />
        </form.element>
      </BsForm>
      <BsButton @type="info" @onClick={{fn @createStream}} class="col-md-4">Create</BsButton>
    </div>
    <p></p>
    <div class="row">
      <table class="table table-striped col-md-12">
        <thead>
          <tr><th>Stream list</th><th>Channel</th><th>Date</th></tr>
        </thead>
        <tbody>
          {{#each this.pagedContent as |stream|}}       
            <tr>
              <td><LinkTo @route="streams.stream" @model={{stream}} @messages={{@messages}} @isEditing={{this.isEditing}} {{on "click" @loadStream}}>->{{stream.title}}</LinkTo></td><td>#{{stream.channel}}</td><td>{{format-date stream.date }}</td>
            </tr>        
          {{/each}}
        </tbody>
      </table> 
      <PageNumbers @content={{this.pagedContent}} />
    </div>
  </div>
  {{!-- blog stream content --}}
  <div class={{if @isViewing "col-md-12" "d-none"}}>
    <BsButton @type="danger pull-right" @onClick={{fn @closeStream}}><i class="fa fa-close"></i></BsButton>               
    {{yield}} 
  </div>    
</div>
