<span role=button" class="nav-link py-1" {{on "click" this.toggleModal}}><FaIcon @icon="wrench" /> Settings</span>
{{#if this.globalConfig.config}}
    <BsModal @onSubmit={{this.generateSongs}} @open={{this.isViewing}} @scrollable={{true}} @size="lg" as |Modal|>
      <Modal.header @closeButton={{false}} class="p-0 m-0 w-100 border-0 rounded">
        <div class="row g-0 w-100 bg-dark bg-gradient border-0 rounded-top">
          <div class="col py-1 ps-3"><span class="h5 text-white">Settings</span></div>
          <div class="col-auto">
            <button type="button" class="btn btn-dark rounded-0 rounded-top-right border-0" {{on "click" this.toggleModal}}><FaIcon @icon="times" /></button>
          </div>
        </div>
      </Modal.header>
      <Modal.body>
        <BsForm @formLayout="horizontal" @model={{this.globalConfig.config}}  @onSubmit={{this.doneEditing}} as |form|>
          <form.element @controlType="text" @label="Default channel" class="pb-2" placeholder="Default channel name" @property="defchannel" required />
          
          <div class="row pb-2">
            <label class="control-label col-form-label col-md-4">
              External event tracking
              <span role="button">
                <FaIcon @icon="question-circle" class="text-info" />
                <BsTooltip @delayHide={{this.globalConfig.ttdelay}}>Get your Socket API Token from <a href="https://streamlabs.com/dashboard#/apisettings" target="_blank" rel="noopener noreferrer">Streamlabs</a> or <a href="https://streamelements.com/dashboard/account/channels"  target="_blank" rel="noopener noreferrer">StreamElements</a></BsTooltip>
              </span>
            </label>
            <div class="col-md-8 border-light">
              <div class="row input-group g-0">
                <form.element @controlType="password" @label="" placeholder="Default channel name" @formLayout="inline" @property="externaleventskey" class="col rounded-0 rounded-start" />
                <form.element @controlType="radio" @label="" @options={{this.externalEventServices}} @property="externalevents" @formLayout="inline" class="input-group-text col py-1 rounded-0 rounded-end" as |el|>
                  <el.control @inline={{true}}/>
                </form.element>
              </div>
            </div>
          </div>

          <div class="row pb-2">
            <label class="control-label col-form-label col-md-4">
              Default Bot client 
              <span role="button">
                <FaIcon @icon="question-circle" class="text-info" />
                <BsTooltip @delayHide={{this.globalConfig.ttdelay}}>To set a client you need to add clients <LinkTo @route="clients.index">here</LinkTo></BsTooltip>
              </span>
            </label>
              <form.element @controlType="power-select" @property="defbotclient" @onChange={{this.setdefBot}} @formLayout="inline" class="col-md-8 border-light" @invisibleLabel={{true}} @options={{@clients}} required as |client|>
                <client.control @allowClear={{true}} @placeholder="Select the default Bot Client for new streams" as |option|>
                  {{option.username}}
                </client.control>
              </form.element>
          </div>

          <div class="row">
            <label class="control-label col-form-label col-md-4">
              Queue overlay
            </label>
            <div class="col-md-8 border-light">
              <div class="row input-group g-0">
                <form.element @controlType="power-select" @property="overlayType" @onChange={{fn (mut this.globalConfig.config.overlayType)}} @formLayout="inline" class="col border-light pb-2" @allowClear={{true}} @options={{this.overlayTypes}} required as |type|>
                  <type.control @placeholder="Select overlay type you want to use" as |option|>
                    {{option}}
                  </type.control>
                </form.element>
              </div>
              <style>
                .pickedColor{ 
                  background-color: {{this.globalConfig.config.chromaColor}}!important; 
                  color: {{this.globalConfig.config.chromaColor}}!important; 
                }
                .pickedColor strong {
                  filter: invert(100%) saturate(200%) grayscale(100%);                          
                }
              </style>
              {{#if (eq this.globalConfig.config.overlayType "file")}}
                <form.element @controlType="text" @formLayout="vertical" @property="overlayfolder" class="pb-2" @label="Folder to place queue overlay file" as |el|>
                  <div class="input-group">
                    <el.control disabled class="border-form-control text-secondary" />
                    <div class="input-group-append">
                      <BsButton @type="secondary rounded-0 rounded-end" @onClick={{fn this.opendialogfiles this.globalConfig.config}} >Select folder</BsButton>
                    </div>
                  </div>
                </form.element>
                <div class="form-group row">
                  <div class="col"> 
                    <div class="input-group form-row">
                      <div role="button" class="input-group-text rounded rounded-0 rounded-start  col-auto btn btn-secondary">Pick Chroma Color
                        <BsTooltip class="d-inline colorpicker" @triggerEvents="click" as |tt|>
                          <Picker
                            @color={{this.globalConfig.config.chromaColor}}
                            @onDone={{fn this.changeColor tt.close}}
                            @onClose={{fn this.changeColor tt.close}}
                            @popup={{false}}
                            @editor={{true}}
                            class="d-inline"
                           />                
                        </BsTooltip>
                      </div>
                      <div class="px-3 pickedColor rounded-0 col-auto"></div> 
                      <form.element @controlType="text" @formLayout="inline" class="col" @property="chromaColor" required  as |el|>
                        <el.control class="form-control rounded-0 rounded-end" />
                      </form.element>
                    </div>
                  </div>
                </div>
              {{else}}
                <div class="form-group row">
                  <div class="col"> 
                    <div class="input-group form-row">
                      <div role="button" class="input-group-text rounded rounded-0 rounded-start  col-auto btn btn-secondary">Pick Chroma Color
                        <BsTooltip class="d-inline colorpicker" @triggerEvents="click" as |tt|>
                          <Picker
                            @color={{this.globalConfig.config.chromaColor}}
                            @onDone={{fn this.changeColor tt.close}}
                            @onClose={{fn this.changeColor tt.close}}
                            @popup={{false}}
                            @editor={{true}}
                            class="d-inline"
                           />                
                        </BsTooltip>
                      </div>
                      <div class="px-3 pickedColor rounded-0 col-auto"></div> 
                      <form.element @controlType="text" @formLayout="inline" class="col" @property="chromaColor" required  as |el|>
                        <el.control class="form-control rounded-0 rounded-end" />
                      </form.element>
                    </div>
                  </div>
                 <div class="col-auto">
                    <form.element @controlType="checkbox" @label="Show on start" @formLayout="inline" class="form-check form-check-inline ps-0 mb-0 pt-2" @property="showOverlay" required />
                  </div>
                </div>
              {{/if}}
              <hr class="mt-0 mb-2">
            </div>
          </div>
          <div class="form-group row">
            <div class="col"><hr></div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 pb-2">Aditional settings</label>
            <div class="col">
              <div class="form-group row">
                <div class="col-sm">
                  <form.element @controlType="checkbox" @label="Show lyrics on start" @formLayout="inline" class="form-check form-check-inline ps-0" @property="showLyrics" required />
                </div>
              </div> 
              <div class="form-group row">
                <div class="col-sm">
                  <form.element @controlType="checkbox" @label="Dark mode" @formLayout="inline" class="form-check form-check-inline ps-0" @property="darkmode" required />
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm">
                  <form.element @controlType="checkbox" @label="Allow sound commands to overlap" @formLayout="inline" class="form-check form-check-inline ps-0" @property="soundOverlap" required />
                </div>
              </div>
            </div>
          </div>
        </BsForm>
      </Modal.body>
      <Modal.footer class="py-2 row g-0" as |footer|>
        <div class="col">
          <span role="button" class="btn btn-sm btn-secondary" {{on "click" @handleExport}}>Export Database</span>
          <span role="button" class="btn btn-sm btn-secondary" {{on "click" @handleImport}}>Import Database</span>
          <span role="button" class="btn btn-sm btn-danger" {{on "click" @wipeDatabase}}>Wipe DB</span>
        </div>
        <div class="col-auto">
          <BsButton @type="success" @onClick={{this.doneEditing}}> 
            {{#if this.saving}}
              <span><FaIcon @icon="spinner" class="spin" /> Saving...</span>
            {{else}}
              <span class="pe-3 me-1"><FaIcon @icon="save" /> Save</span>
            {{/if}}
          </BsButton>
        </div>
      </Modal.footer>
    </BsModal>
{{/if}}