<div class="row h-100 flex-fill m-0 p-0">
  <div class={{if this.isSetlist "col-12 col-lg-8 h-50 h-lg-100 flex-fill p-0 m-0" "col-12 h-100 flex-fill p-0 m-0"}}> 
      {{!-- song listing --}}
      <div class="{{if this.currentUser.isViewing "d-none" "card h-100 flex-fill"}}">
        <div class="card-header">
          <div class="row">
            <BsForm @model={{@queryParamsObj}} @formLayout="inline" class="col-lg col-md-6 col-12 px-1" as |form|>
              <form.element @controlType="text" class="w-100 my-0 mb-1" @property="query" {{on "keydown" this.resetPage}} as |el|>
                <el.control
                  placeholder="Filter by title"
                  tabIndex={{5}}
                  class="w-100 m-0"
                />
              </form.element>
            </BsForm>
            <BsForm @model={{@queryParamsObj}} @formLayout="inline" class="col-lg-auto col-md-6 col-12 px-1" as |form|>
              <form.element @controlType="power-select" @property="type" class="w-100 my-0 mb-1" @options={{@songTypes}} @onchange={{this.resetPage}} as |element| >
                <element.control  @triggerClass="w-100 m-0" @allowClear={{true}} @placeholder="Filter by type" class="w-100" as |option|>
                  <span class="w-100">{{option}}</span>
                </element.control>
              </form.element>
            </BsForm>
            <div class="col-md-auto col px-1">
              <div class="d-block float-end">
                <PbSongImport @songTypes={{@songTypes}} />
                <BsButton @type="secondary" @onClick={{this.songImport}} title="Import songs by CSV">Import</BsButton>
                <BsButton @type="secondary" @onClick={{this.songExportFiltered}} title="Export songs to CSV">Export</BsButton>
                <ButtonConfirm @btnClass="btn btn-danger" @btnIcon="trash-alt" @btnText="" @confirmDescription="Are you sure you want to delete all your filtered songs?" @targetAction={{this.wipeSongs}} @buttonTitle="Delete all listed songs" />
                <BsButton @type="info" @onClick={{this.toggleSetlist}} title="Setlist/queue manager"><FaIcon @icon="th-list" /> Setlist</BsButton>
                <BsButton @type="primary" @onClick={{@createSong}} title="Add new song">Add New</BsButton>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body mx-0 p-0 flex-fill h-100 overflow-hidden" id="bodycontainer">
          <div class="row mx-0 flex-fill listframe">
            <table class="table table-hover table-condensed col-12 my-0 px-0">
              <thead class="listheader thead-light">
                <tr class="col">
                  <th scope="col" class="col-sm">Song</th>
                  <th scope="col" class="col-sm">Artist</th>
                  {{#unless this.isSetlist}}
                    <th scope="col" class="d-none d-lg-table-cell col-md">Type</th>
                    <th scope="col" class="d-none d-lg-table-cell col-md text-end">Played</th>
                  {{/unless}}
                  {{!-- <th scope="col" class="d-none d-lg-table-cell col-md">Last played</th> --}}
                  <th scope="col" class="d-none d-lg-table-cell col-md text-end">Requested</th>
                  {{!-- <th scope="col" class="d-none d-lg-table-cell col-md">Last request</th> --}}
                  <th scope="col" class="col-sm"></th>
                </tr>
              </thead>
              <tbody id="preheight">
                {{#each this.pagedContent as |song|}}            
                  <tr>
                    <td class="col-sm align-top"><span class="overflow-hidden">{{if song.title song.title "<unntitled>"}}</span></td>
                    <td class="col-sm align-top"><span class="overflow-hidden">{{song.artist}}</span></td>
                    {{#unless this.isSetlist}}
                      <td class="d-none d-lg-table-cell col-md align-top">{{song.type}}</td>
                      <td class="d-none d-lg-table-cell col-md align-top text-end">{{song.times_played}}</td>
                    {{/unless}}
                    {{!-- <td class="d-none d-lg-table-cell col-md align-top">
                      {{#if song.last_played}}
                        {{nicer-date song.last_played format="DD/MM/YYYY"}}
                      {{else}}
                        Never
                      {{/if}}
                    </td> --}}
                    <td class="d-none d-lg-table-cell col-md align-top text-end">{{song.times_requested}}</td>
                    {{!-- <td class="d-none d-lg-table-cell col-md align-top">
                      {{#if song.last_requested}}
                        {{nicer-date song.last_requested format="DD/MM/YYYY"}}
                      {{else}}
                        Never
                      {{/if}}
                    </td>--}}
                    <td class="col-auto py-0 pe-0">
                      <div class="row g-0">
                        <div class="col-auto ms-auto btn-group my-0">
                          <button type="button" class="btn btn-outline-info alert-info rounded-0 py-2 px-3" {{on "click" (fn this.queueHandler.songToQueue song)}} title="Add to setlist/queue"><FaIcon @icon="plus" /></button>
                          <button type="button" class="btn btn-outline-secondary alert-secondary rounded-0 py-2 px-3" {{on "click" (fn @gridEditSong song)}} title="Edit song" ><FaIcon @icon="edit"/></button>
                          <ButtonConfirm @btnClass="btn btn-outline-danger rounded-0 py-2 px-3 alert-danger" @btnIcon="trash" @btnText="" @confirmDescription="Are you sure you want to delete this song?" @buttonTitle="Delete song" @targetAction={{fn @gridDeleteSong song}} />
                        </div>
                      </div>
                    </td>
                  </tr>            
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer py-0 my-0 px-0">
          <PageNumbers @content={{this.pagedContent}} @showTotal={{true}} />
        </div>
      </div>
    {{#if this.currentUser.isViewing}}
      {{!-- Song content --}}
      {{yield}}
    {{/if}}
  </div>
  <div class={{if this.isSetlist "col-lg-4 col-12 h-50 h-lg-100 flex-fill my-0 px-0" "d-none"}}>
    <PbSongsSetlist />
  </div>
</div>