{{#if @isEditing}}
  <div class="card-body">
    <BsForm @formLayout="horizontal" @model={{@stream}} @onSubmit={{fn this.doneEditing}} as |form|>
      <form.element @controlType="text" @label="Stream Title" placeholder="Stream title" @property="title" required />
      <form.element @controlType="text" @label="Stream Channel" placeholder="Stream channel" @property="channel" required />
      
      <form.element @controlType="checkbox" @label="Request System" @property="requests" />
      
      <form.element @controlType="power-select" @property="botclient" @label="Bot Client" @options={{@clients}} required as |client|>
        <client.control as |option|>
          {{option.username}}
        </client.control>
      </form.element>
      <form.element @controlType="power-select" @property="chatclient" @label="Chat Client" @options={{@clients}} required as |client|>
        <client.control as |option|>
          {{option.username}}
        </client.control>
      </form.element>  
      
      <BsButton type="submit" @type="success">Save</BsButton>
      <BsButton @type="danger" @onClick={{fn @deleteStream}}>Delete</BsButton>
    </BsForm>
  </div>
{{else}}
  <div class="card-body px-0 pt-0 pb-2 border-top border-light">
    <div class="row p-0 m-0">
      <BsButtonGroup class="col p-0 m-0" as |bg|>
        <bg.button @type="warning btn-sm" @onClick={{fn this.soundboardToggle}} disabled={{this.disconnectButton}}><FaIcon @icon="{{if this.soundBoardEnabled "volume-up" "volume-mute"}}" /></bg.button>          
        <bg.button @type="info btn-sm" @onClick={{fn this.connectBot}} disabled={{this.disableBotButton}}>Connect Bot Client</bg.button>
        <bg.button @type="secondary btn-sm" @onClick={{fn this.connectChat}} disabled={{this.disableChatButton}}>Connect Chat Client</bg.button>
        <bg.button @type="danger btn-sm" @onClick={{fn this.disconnectClients}} disabled={{this.disconnectButton}}>Disconnect Bot & Chat</bg.button>
        <bg.button @type="success btn-sm" @onClick={{fn this.finishStream}} disabled={{@stream.finished}}>Finish Stream</bg.button>      
      </BsButtonGroup>
    </div>
  </div>        
    {{#unless this.disconnectButton}}         
    <div class="card-body py-0 mb-0 flex-column flex-fill d-flex h-100 overflow-hidden">
      <EmberDragula class="row flex-fill d-flex h-100 overflow-hidden" as |d|>
        <d.Container class="col-7 h-100 border border-rounded">
          <div id="chat" class="row {{unless this.cpanmessages "h-100 dragpanel"}} overflow-hidden border-bottom">            
            <div class="col {{unless this.cpanmessages "h-100"}} flex-column flex-fill d-flex overflow-hidden">
              <div class="row alert-dark">
                <div class="col d-block align-self-center pr-0 pl-3"><h6 class="my-0">Recent messages</h6></div>
                <BsButtonGroup class="col-auto px-0 rounded" as |bg|>
                  <bg.button @type="secondary btn-sm rounded-0" @onClick={{fn this.togglePan "messages"}} ><FaIcon @icon="{{if this.cpanmessages "window-maximize" "window-minimize"}}" /></bg.button>
                </BsButtonGroup>
              </div>
              <BsCollapse class="row h-100 overflow-hidden" @collapsed={{this.cpanmessages}}>
                <div class="col-md-12 chatframe" {{scroll-position this.scrollPosition relative=true}}>
                  {{#each this.messages as |message|}}
                    <div class="row" id="{{message.id}}">
                      <div class="col chatline py-2 {{if message.reward "highlight alert-warning"}}">
                        {{message-format message}}
                      </div>
                    </div>
                  {{/each}}
                </div>  
              </BsCollapse>  
            </div>
          </div>
        </d.Container>
        <d.Container class="col-5 h-100 border border-rounded">
          {{#if this.requests}}
            <div id="pending" class="row {{unless this.cpanpending "h-50 dragpanel"}} overflow-hidden border-bottom">            
              <div class="col {{unless this.cpanpending "h-100"}} flex-column flex-fill d-flex overflow-hidden">
                <div class="row alert-dark">
                  <div class="col d-block align-self-center pr-0 pl-3"><h6 class="my-0">Songs pending</h6></div>
                  <BsButtonGroup class="col-auto px-0 rounded" as |bg|>
                    <bg.button @type="secondary btn-sm rounded-0" @onClick={{fn this.togglePan "pending"}} ><FaIcon @icon="{{if this.cpanpending "window-maximize" "window-minimize"}}" /></bg.button>
                  </BsButtonGroup>
                </div>
                <BsCollapse class="row h-100 overflow-hidden" @collapsed={{this.cpanpending}}>
                  <div class="col-md queueframe" {{scroll-position this.scrollPendingPosition relative=false}}>
                    {{#each this.pendingSongs as |pendingsong|}}
                      <div role="button" {{on "click" (fn this.requestStatus pendingsong)}} class="alert-info d-flex flex-column w-100 text-decoration-none py-0 px-2 my-1">
                        <div class="row">
                          <div class="col"><small>{{moment-format pendingsong.timestamp "YYYY/MM/DD HH:mm:ss"}}</small></div>
                          <div class="col-auto"><small>{{pendingsong.user}}</small></div>
                        </div>
                        <div class="alert-heading h6 {{if pendingsong.processed "processed"}}">{{pendingsong.song}}</div>
                      </div>
                    {{/each}}
                  </div>  
                </BsCollapse>  
              </div>
            </div>

            <div id="played" class="row {{unless this.cpanplayed "h-50 dragpanel"}} overflow-hidden border-bottom">            
              <div class="col {{unless this.cpanplayed "h-100"}} flex-column flex-fill d-flex overflow-hidden">
                <div class="row alert-dark">
                  <div class="col d-block align-self-center pr-0 pl-3"><h6 class="my-0">Songs played</h6></div>
                  <BsButtonGroup class="col-auto px-0 rounded" as |bg|>
                    <bg.button @type="secondary btn-sm rounded-0" @onClick={{fn this.togglePan "played"}} ><FaIcon @icon="{{if this.cpanplayed "window-maximize" "window-minimize"}}" /></bg.button>
                  </BsButtonGroup>
                </div>
                <BsCollapse class="row h-100 overflow-hidden" @collapsed={{this.cpanplayed}}>
                  <div class="col-md queueframe" {{scroll-position this.scrollPlayedPosition relative=false}}>
                    {{#each this.playedSongs as |playedsong|}}
                      <div role="button" {{on "click" (fn this.requestStatus playedsong)}} class="alert-light border-light border d-flex flex-column text-decoration-none py-0 px-2 my-1">
                        <div class="row">
                          <div class="col"><small>{{moment-format playedsong.timestamp "YYYY/MM/DD HH:mm:ss"}}</small></div>
                          <div class="col-auto"><small>{{playedsong.user}}</small></div>
                        </div>
                        <div class="alert-heading h6 {{if playedsong.processed "processed"}}">{{playedsong.song}}</div>
                      </div>
                    {{/each}}
                  </div>  
                </BsCollapse>
              </div>      
            </div>
          {{/if}}
        </d.Container>
      </EmberDragula>
    </div>
    {{/unless}}
    {{#unless this.disconnectButton}}  
      <div class="card-footer flex-column flex-fill d-flex"> 
        <div class="row">
          <BsForm @formLayout="vertical" @model={{this}} class="col-md-12" @onSubmit={{fn this.sendMessage}} as |form|>
            <form.element @property="message" as |el|>
              <el.control 
                @controlType="text"
                placeholder="Type your message here"
                readonly={{this.inputDisabled}}        
              />
            </form.element>
          </BsForm>
        </div>      
      </div>
    {{/unless}}
{{/if}}
