<PbOffcanvas @isVisible={{@isSetlist}} @offcClass={{@offcClass}}>
  <div class="card h-100 flex-column flex-fill d-flex overflow-hidden shadow border-top-0 border-secondary rounded-0">
    <div class="card-header px-0 border rounded-0 pb-0">
      <div class="row"><div class="col"><hr class="p-0 m-0 opacity-0"></div></div>
      <div class="row"><div class="col"><hr class="p-0 m-0 opacity-0"></div></div>
      <div class="row w-100 g-0 px-1">
        <div class="col px-1">
          <ul class="nav nav-tabs border-bottom-0">
            {{#each this.queueHandler.tabList as |tab|}}
              <li class="nav-item">
                <a href="#"
                  {{on "click" (fn this.tabSwitch tab)}}
                  class={{if (eq this.queueHandler.activeTab tab) "nav-link active pb-3" "nav-link pb-3"}} 
                >
                  <span class="text-capitalize">
                    {{tab}}
                      {{#if (eq tab "pending")}}
                        {{#if (eq tab this.queueHandler.activeTab)}}
                          <small class="badge bg-info text-dark p-1 opacity-75">
                            {{this.queueHandler.pendingSongs.length}}
                          </small>
                        {{else}}
                          <span class="placeholder-glow">
                            <small class="badge bg-info text-dark p-1 placeholder">
                              {{this.queueHandler.pendingSongs.length}}
                            </small>
                          </span>
                        {{/if}}
                      {{else}}
                        {{#if (eq tab this.queueHandler.activeTab)}}
                          <small class="badge bg-secondary p-1 opacity-75">
                            {{this.queueHandler.playedSongs.length}}
                          </small>
                        {{else}}
                          <span class="placeholder-glow">
                            <small class="badge bg-secondary p-1 placeholder">
                              {{this.queueHandler.playedSongs.length}}
                            </small>
                          </span>
                        {{/if}}
                      {{/if}}
                  </span>
                </a>
              </li>
            {{/each}}
          </ul> 
        </div>
        <div class="col-auto px-1">
          <BsButton @type="secondary" @onClick={{this.queueHandler.exportQueue}} title="Download setlist in a text file"><FaIcon @icon="file-download" /></BsButton>
          <ButtonConfirm @btnClass="btn btn-danger" @btnIcon="trash-alt" @buttonTitle="Wipe queue/setlist" @btnText="" @confirmDescription="If you do this while streaming you will wipe all requests. Are you sure?" @targetAction={{this.queueHandler.clearAll}}/>
          {{#unless @isStream}}
            <BsButton @type="info ps-1" @onClick={{@toggleSetlist}} title="Setlist/queue manager">
              <div class="row g-0">
                <div class="col-auto">
                {{svg-jar (if @isSetlist "setlist-close" "setlist-open") class="setlist-icon align-middle ms-1" }}
                </div>
              </div>  
            </BsButton>
          {{/unless}}
        </div>
      </div>
    </div>
    <div class="card-body d-block h-100 overflow-hidden g-0 py-2 px-0 border-start border-end rounded-0">
        {{#if (eq this.queueHandler.activeTab "played")}}
          <div class="col listframe-setlist px-2 h-100 {{if this.queueHandler.updatingQueue "disabled"}}" id="playedSlSongs">
            {{#each this.playedSongs as |playedsong|}}
              <div id="slofc-{{playedsong.id}}" class="alert {{if playedsong.isPremium "premium"}} alert-secondary w-100 text-decoration-none py-0 ps-2 pe-0 my-1 text-start row g-0 rounded-1">
                <button class="col border-0 text-start text-reset bg-transparent text-decoration-none" title="Click here to mark it as pending" type="button" {{on "click" (fn this.queueHandler.requestStatus playedsong)}} >
                  <div class="row g-0" role="presentation">
                    <div class="col"><small>{{nicer-date playedsong.timestamp format="YYYY/MM/DD HH:mm:ss"}}</small></div>
                    <div class="col-auto">
                      <small class="pe-1">
                        {{#if playedsong.isPremium}}
                          {{playedsong.user}}: <strong>{{playedsong.donationFormatted}}</strong>
                        {{else}}
                          {{playedsong.user}}
                        {{/if}}
                      </small>
                    </div>
                  </div>
                  <div class="row g-0">
                    <div class="col">
                      <span class="alert-heading h6">{{playedsong.title}}</span>
                      {{#if playedsong.artist}}
                        <small><small>by <em>{{playedsong.artist}}</em></small></small>
                      {{/if}}
                    </div>
                  </div>
                </button>
                <div class="col-auto">
                  <button type="button" class="btn btn-sm handle align-top" title="Remove request" {{on "click" (fn this.queueHandler.removePlayed playedsong)}}>
                    <FaIcon @icon="times" @size="1x" class="d-block" />
                  </button>                  
                </div>
              </div>
            {{/each}}
          </div>
        {{else}}
          <div class="col listframe-setlist px-2 h-100 {{if this.queueHandler.updatingQueue "disabled"}}"
             id="songqueue"
            {{scroll-position position=(if @isStream 0 this.queueHandler.scrollPendingPosition) relative=this.isRelative}}
            {{sortable-group groupName="setlistofc" onChange=(fn this.reorderItems this.queueHandler.pendingSongs)}}
          >
            {{#each this.queueHandler.pendingSongs as |pendingsong|}}
              <div id={{pendingsong.id}} class="row g-0 alert {{if pendingsong.isPremium "alert-warning premium" "alert-info"}} w-100 text-decoration-none py-0 px-0 my-1 rounded-1 {{if pendingsong.isPlaying "playing"}}" {{sortable-item groupName="setlistofc" model=pendingsong}}>
                <div class="col-auto px-3 rounded-0 rounded-start handle d-flex flex-row" {{sortable-handle}}>
                  <div class="align-self-center">
                    <FaIcon @icon="grip-vertical" @size="1x" class="d-block align-self-center" />
                    <FaIcon @icon="grip-vertical" @size="1x" class="d-block align-self-center" />
                  </div>
                </div>
                <button type="button" class="col border-0 text-start text-reset bg-transparent text-decoration-none" title="Click here to mark it as played" {{on "click" (fn this.queueHandler.requestStatus pendingsong)}}>
                  <div class="col ps-2">
                    <div class="row g-0">
                      <div class="col"><small>{{nicer-date pendingsong.timestamp format="YYYY/MM/DD HH:mm:ss"}}</small></div>
                      <div class="col-auto">
                        <small class="pe-1">
                          {{#if pendingsong.isPremium}}
                            {{pendingsong.user}}: <strong>{{pendingsong.donationFormatted}}</strong>
                          {{else}}
                            {{pendingsong.user}}
                          {{/if}}
                        </small>
                      </div>                   
                    </div>
                    <div class="row">
                      <div class="col">
                        <span class="alert-heading h6">{{pendingsong.title}}</span>
                        {{#if pendingsong.artist}}
                          <small><small>by <em>{{pendingsong.artist}}</em></small></small>
                        {{/if}}
                      </div>
                    </div>
                  </div>
                </button>
                <div class="col-auto">
                  <button type="button" class="btn btn-sm handle align-top" title="Remove request" {{on "click" (fn this.queueHandler.removePending pendingsong)}}>
                    <FaIcon @icon="times" @size="1x" class="d-block" />
                  </button>              
                </div>                
              </div> 
            {{/each}}  
          </div>
      {{/if}}
    </div>
    <div class="card-footer py-1 my-0 px-2 border rounded-0">
      <div class="row">
        <div class="col align-self-center">
          <button type="button" {{on "click" this.togglePremium}} class="btn btn-sm border-0 my-0 py-0 pe-0">
          <FaIcon @icon={{if this.globalConfig.config.premiumRequests "square-check" "square"}} @size="1x" @prefix="far" class={{if this.globalConfig.config.premiumRequests "pe-1 text-warning" "pe-1"}} /> 
          Premium requests
          </button>
          <button type="button" {{on "click" this.toggleSorting}} class="btn btn-sm border-0 my-0 py-0 pe-0">
            <FaIcon @icon={{if this.globalConfig.config.premiumSorting "square-check" "square"}} @size="1x" @prefix="far" class={{if this.globalConfig.config.premiumSorting "pe-1 text-warning" "pe-1"}} /> Premium Sort
          </button>
          <span class="text-secondary float-end d-inline-block pt-1"><small>Total: {{this.total}}</small></span>
        </div>
      </div>
    </div>  
  </div>
</PbOffcanvas>