<div class="row">
  <h3 class="col-md-12">Streams</h3>
</div>
<div class="row">
  <div class="col-12"> 
    {{#unless @isViewing}}
      {{!-- Stream listing --}}
      <div class="card">
        <div class="card-header">
          <div class="row">
            <BsForm @model={{@queryParamsObj}} @formLayout="inline" class="col" @onchange={{this.resetPage}} as |form|>
              <form.element @controlType="text" class="w-100" @property="query" as |el|>
                <el.control
                  placeholder="Filter Streams"
                  tabIndex={{5}}
                  class="w-100"
                />
              </form.element>
            </BsForm>
            <div class="col-auto">
              <BsButton @type="info" @onClick={{fn @createStream}} class="w-100">Add New</BsButton>
            </div>
          </div>
        </div>
        <div class="card-body mx-0 p-0">
          <div class="row mx-0">
            <table class="table table-striped col-12 my-0">
              <thead>
                <tr><th>Stream list</th><th>Channel</th><th>Date</th></tr>
              </thead>
              <tbody>
                {{#each this.pagedContent as |stream|}}       
                  <tr>
                    <td><LinkTo @route="streams.stream" @model={{stream}}>->{{stream.title}}</LinkTo></td><td>#{{stream.channel}}</td><td>{{format-date stream.date }}</td>
                  </tr>        
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer">
          <PageNumbers @content={{this.pagedContent}} />
        </div>
      </div>   
    {{else}}
      {{!-- Stream content --}}    
      {{yield}} 
    {{/unless}}
  </div>    
</div>
