<div class="row h-100 flex-fill m-0 p-0">
  <div class="col-12 h-100 flex-fill p-0 m-0"> 
      {{!-- config listing --}}
      <div class="{{if this.currentUser.isViewing "d-none" "card h-100 flex-fill"}}">
        <div class="card-header">
          <div class="row">          
            <BsForm @model={{@queryParamsObj}} @formLayout="inline" class="col-12 col-sm px-1" as |form|>
              <form.element @controlType="text" class="w-100 my-0 mb-1" @property="query" {{on "keydown" this.resetPage}}  as |el|>
                <el.control
                  placeholder="Filter Configs"
                  tabIndex={{5}}
                  class="w-100 m-0"
                />
              </form.element>
            </BsForm>
            <div class="col-lg-auto col-12 mx-1 ps-0 pe-2 px-lg-0">
              <BsButton @type="secondary" @onClick={{this.configImport}}>Import</BsButton>
              <BsButton @type="secondary" @onClick={{this.configExportFiltered}}>Export</BsButton>
              {{!-- <BsButton @type="info" @onClick={{fn @createConfig}}>Add New</BsButton> --}}
            </div>
          </div>
        </div>
        <div class="card-body mx-0 p-0 flex-fill d-flex h-100 overflow-hidden">
          <div class="row mx-0 flex-fill d-flex h-100 listframe">
            <table class="table table-hover table-condensed col-12 my-0 h-100 px-0">
              <thead class="listheader thead-light">
                <tr>
                  <th class="col-sm-auto w-25">Config</th>
                  <th class="col-md d-none d-lg-table-cell">Folder</th>
                  <th class="col-sm-auto w-25">CouchDB User</th>
                  <th class="col-sm-auto">Dark</th>
                  <th scope="col" colspan="2" class="col-sm-auto">Default</th>
                </tr>
              </thead>
              <tbody>
                {{#each this.pagedContent as |config|}}              
                  <tr>
                    <td class="col-sm-auto w-25">{{if config.name config.name "<unnamed>"}}</td>
                    <td class="col-md-auto d-none d-lg-table-cell w-50">{{config.soundsfolder}}</td>
                    <td class="col-sm-auto w-25">{{config.couchdbuser}}</td>
                    <td class="col-sm-auto">{{config.darkmode}}</td>
                    <td class="col-sm-auto">{{config.isdefault}}</td>
                    <td class="col-auto py-0 pe-0">
                      <div class="row g-0">
                        <div class="col-auto ms-auto btn-group my-0">
                          <button type="button" class="btn btn-outline-secondary rounded-0 py-2 px-3 alert-secondary" {{on "click" (fn @gridEditConfig config)}}><FaIcon @icon="edit" /></button>
                          <button type="button" class="btn btn-outline-danger rounded-0 py-2 px-3 alert-danger" {{ on "click" (fn @gridDeleteConfig config)}}><FaIcon @icon="trash" /></button>
                        </div>
                      </div>
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer py-0 my-0 px-2">
          <PageNumbers @content={{this.pagedContent}} />
        </div>
      </div>
    {{#if this.currentUser.isViewing}}
      {{!-- Config content --}}
      {{yield}}
    {{/if}}
  </div>
</div>

