<div id={{this.popoverId}} class="tooltip-wormhole"></div>
{{#in-element this.popoverWormhole insertBefore=null}}
  <div class={{if this.visible "popover fade bs-popover-start show" "popover fade bs-popover-end hide"}} role="tooltip" {{on "mouseleave" this.togglePopover}} {{on "mouseon" this.togglePopover}}>
    <div class="popover-body {{@ttClass}} my-0 py-1">{{yield}}</div>    
  </div>
{{/in-element}}