  <button type="button" class="btn btn-outline-info px-3 border-0 rounded-0" {{on "click" this.toggleSettings}}>
    <FaIcon @icon="cog" @size="lg" @class={{if this.cloudState.cloudError "blinkcolor" (if this.cloudState.online "connected")}} /> Config
  </button>

{{#if this.isViewing}}
  <!-- Modal -->
  <div class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Config</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"  {{on "click" this.toggleSettings}}></button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <p class="py-0 my-0">Online backup:</p>          
            <div class="row py-2">
              <div class="col">
                <div class="input-group input-group-sm">
                  <div class="input-group-text border-default"><FaIcon @icon="link" @size="sm" /></div>
                  <Input class={{if this.cloudState.cloudError "form-control is-invalid" "form-control"}} @value={{this.globalConfig.config.remoteUrl}} aria-label="Hour cost" @type="text" placeholder="Enter remote url" />
                </div>
              </div>
            </div> 
            <div class="row pt-2 pb-4">
              <div class="col">
                <div class="input-group input-group-sm">
                  <div class="input-group-text border-default"><FaIcon @icon="user" @size="sm" /></div>
                  <Input class={{if this.cloudState.cloudError "form-control is-invalid" "form-control"}} @value={{this.globalConfig.config.username}} aria-label="Overtime hour cost" @type="text" placeholder="Enter remote username" />
                </div>
              </div>
              <div class="col">
                <div class="input-group input-group-sm">
                  <div class="input-group-text border-default"><FaIcon @icon="key" @size="sm" /></div>
                  <Input class={{if this.cloudState.cloudError "form-control is-invalid" "form-control"}} @value={{this.globalConfig.config.password}} aria-label="Emergency cost" @type="password" placeholder="Enter remote password" />
                </div>
              </div>
            </div>
            {{#if this.cloudState.cloudError}}
              <div class="row">
                <div class="col">
                  {{#if this.cloudState.connectionError}}
                    <div class="alert alert-danger py-0 px-2"><small>The connection to the server failed. Check url and login credentials.</small></div>
                  {{/if}}
                  {{#if this.cloudState.couchError}}
                    <div class="alert alert-danger py-0 px-2"><small>You connected to the server but the database doest not exist. Check database name.</small></div>
                  {{/if}}
                </div>
              </div>
            {{/if}}
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" type="submit" {{on "click" this.saveSettings}}>
            {{#if this.isSaving}}
              <span class="saving"><FaIcon @icon="spinner" @spin={{this.isSaving}} @size="sm" class="text-white" /></span>
            {{else}}
              <FaIcon @icon="save" /> 
            {{/if}} 
            Save
          </button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"  {{on "click" this.toggleSettings}}>Close</button>
        </div>
      </div>
    </div>
  </div>

{{/if}}