<div class="row">
  <table class="table table-striped">
    <thead>
      <tr><th colspan="2">Song Queue</th></tr>
    </thead>
    <tbody>
      {{#each this.songs as |element|}}
        <tr>
          <td class="col-xs-4">
            <span class="{{element.type}}" style="{{element.csscolor}}">
            [{{format-date element.timestamp}}] {{element.user}}</span></td>
          <td class="col-xs-8">{{element.song}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>