<BsButton @type="info" @onClick={{fn this.connectTwitch}} class="col-md-4">Connect to Twitch</BsButton>
<div class="row">
  <table class="table table-striped col-md-12">
    <thead><tr><th>Recent Messages</th></tr></thead>
    <tbody>      
      {{#each this.messages as |message|}}
        <tr><td>{{message-format message}}</td></tr>
      {{/each}}
    </tbody>
  </table>

  <BsForm @formLayout="vertical" @model={{this}} class="col-md-12" @onSubmit={{fn this.sendMessage}} as |form|>
    <form.element @property="message" as |el|>
      <el.control 
        @controlType="text"
        placeholder="Type your message here"
        readonly={{this.inputDisabled}}        
      />
    </form.element>
  </BsForm>    
</div>