<header class="mb-5 pb-4">
  <BsNavbar
    @type="dark"
    @backgroundColor="dark"
    @collapsed={{false}}
    @fluid={{false}}
    @position="fixed-top"
    @toggleBreakpoint=""
    @onCollapse={{fn (mut this.collapsed) false}}
    @onExpand={{fn (mut this.collapsed) false}} as |navbar|>

    
    <div class="container">
      <div class="d-inline">
        {{navbar.toggle}}
        <LinkTo @route="index" class="navbar-brand">Paperbot</LinkTo>
      </div>
      <div class="d-inline">
        <navbar.content>
          <navbar.nav as |nav|>
            <nav.item>
              <nav.link-to @route="streams.index">Streams</nav.link-to>
            </nav.item>
            <nav.item>
              <nav.link-to @route="commands.index">Commands</nav.link-to>
            </nav.item>
            <nav.item>
              <nav.link-to @route="clients.index">Clients</nav.link-to>
            </nav.item>      
          </navbar.nav>
        </navbar.content>
      </div>
    </div>
  </BsNavbar>
</header>
<main role="main" class="container h-100 px-4">
  {{outlet}}
</main>