<BsNavbar
  @type="dark"
  @backgroundColor="dark"
  @collapsed={{true}}
  @onCollapse={{fn (mut this.collapsed) true}}
  @onExpand={{fn (mut this.collapsed) false}} as |navbar|>
  
  <div class="container">
    <div class="navbar-header">
      <div class="d-md-inline-flex">
        {{navbar.toggle}}
        <LinkTo @route="index" class="navbar-brand">Paperbot</LinkTo>
      </div>
      <div class="d-md-inline-flex">
        <navbar.content>
          <navbar.nav as |nav|>
            <nav.item>
              <nav.link-to @route="streams">Streams</nav.link-to>
            </nav.item>
            <nav.item>
              <nav.link-to @route="commands">Commands</nav.link-to>
            </nav.item>
            <nav.item>
              <nav.link-to @route="clients">Clients</nav.link-to>
            </nav.item>      
          </navbar.nav>
        </navbar.content>
      </div>
    </div>
  </div>
</BsNavbar>
<main role="main" class="container h-100">
  {{outlet}}
</main>