<HeadLayout />
<header class="mb-5 pb-4 px-0">
  <BsNavbar
    @type="dark"
    @backgroundColor="dark"
    @collapsed={{false}}
    @fluid={{false}}
    @position="fixed-top"
    @toggleBreakpoint=""
    @onCollapse={{fn (mut this.collapsed) false}}
    @onExpand={{fn (mut this.collapsed) false}} as |navbar|>

    
      <div class="d-inline">
        {{navbar.toggle}}
        <LinkTo @route="application" class="navbar-brand">Paperbot</LinkTo>
      </div>     
      <div class="d-inline">
        <navbar.content>
          <navbar.nav as |nav|>
            <nav.item>
              <nav.link-to @route="streams.index">Streams</nav.link-to>
            </nav.item>
            <nav.item>
              <nav.link-to @route="commands.index">Commands</nav.link-to>
            </nav.item>
            <nav.item>
              <nav.link-to @route="clients.index">Clients</nav.link-to>
            </nav.item> 
            <nav.item>
              <nav.link-to @route="settings.index">Settings</nav.link-to>
            </nav.item>    
            <nav.item>
              <span role="button" {{on "click" this.toggleMode}} class="nav-link {{if this.headData.darkMode "bulboff" "bulbon active"}}" title="{{if this.headData.darkMode "Dark mode" "Light mode"}}">
                <FaIcon @icon="{{if this.headData.darkMode "lightbulb" "lightbulb"}}" />
              </span>
            </nav.item>            
          </navbar.nav>
        </navbar.content>
      </div>
  </BsNavbar>
</header>
<main role="main" class="container px-0 pb-3">
  {{outlet}}
</main>