<HeadLayout />
<header>
  <BsNavbar
    @type="dark"
    @class="px-3"
    @backgroundColor="dark"
    @collapsed={{true}}
    @fluid={{true}}
    @position="fixed-top"
    @toggleBreakpoint="sm"
    @onCollapse={{fn (mut this.collapsed) true}}
    @onExpand={{fn (mut this.collapsed) false}} as |navbar|>

      <div class="navbar-header">
        {{navbar.toggle}}
        <LinkTo @route="application" class="navbar-brand">Paperbot <span>{{svg-jar "papercat-gray-icon" class="logo" }}</span></LinkTo>{{this.loadConfig}}
      </div>     
      <navbar.content>
        <navbar.nav class="ml-auto" as |nav|>
          <nav.item>
            <nav.link-to @route="streams.index">Streams</nav.link-to>
          </nav.item>
          <nav.item>
            <nav.link-to @route="commands.index">Commands</nav.link-to>
          </nav.item>
          <nav.item>
            <nav.link-to @route="clients.index">Clients</nav.link-to>
          </nav.item> 
          <nav.item>
            <nav.link-to @route="settings.index">Settings</nav.link-to>
          </nav.item>    
          <nav.item>
            <span role="button" {{on "click" this.toggleMode}} class="nav-link {{if this.headData.darkMode "bulboff" "bulbon active"}}" title="{{if this.headData.darkMode "Dark mode" "Light mode"}}">
              <FaIcon @icon="{{if this.headData.darkMode "lightbulb" "lightbulb"}}" />
            </span>
          </nav.item>            
        </navbar.nav>
      </navbar.content>
  </BsNavbar>
</header>
<main role="main" class="container-fluid pt-5 px-0">
  {{outlet}}
</main>